<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지를 찾을 수 없습니다</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error/404.css">

</head>
<body>
    
    <div class="top-text">OOPS! You took a wrong turn</div>

    <div>
        <img src="/images/error_icon.png" class="error-icon">
        <div class="warning-text">The Page you are looking for doesn't exist or an other error occurred.</div>
        <div class="warning-text">Go back, or head over to a new direction.</div>
    </div>


    
    <div>
        <button onclick="history.back()">Back</button>
        <button onclick="location.href='/' ">Go Home</button>
    </div>
    
</body>
</html>