<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지를 찾을 수 없습니다</title>

    <style>

        img{
            height: 90vh;
            display: block;
            margin: auto;
        }
        
        .btn-area{
            text-align: center;
        }

    </style>

</head>
<body>

    <img src="/images/error/404.png">
    
    <div class="btn-area">
        <button onclick="location.href='/' ">메인 페이지</button>
        <button onclick="history.back()">이전 페이지</button>
    </div>
    
</body>
</html>