/* ***** 메인 헤더 영역 ***** */
header, header .logo img{z-index: 300;}

header{
    width: 100%; height: 80px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    display: flex; justify-content: space-between; align-items: center;
    position: fixed; background-color: #fff; top: 0;
}

header .main-search-box{position: absolute; left: 50%; transform: translateX(-150px);} 
header .logo{margin-left: 100px; user-select: none;}
header .main-icons-box{display: flex; margin-right: 100px; justify-content: flex-end;}

header .logo img{width: 87px;}

header .main-search-box{
  height: 48px;
  border: 1px solid #C5C5C5; border-radius: 50px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex; justify-content: space-around; align-items: center;
}

header .main-search-box button{
  font-size: 16px;
  background-color:transparent;
  margin-left: 20px;
  margin-right: 20px;
}

header .chatting-icon, header .alarm-icon{margin-right: 20px;}

.main-search-box svg{
  cursor: Default;
  margin-right: 10px;
}

.search-box-click{
  min-width: 844px;
}


/* *** header 밑으로 길어지는 부분 *** */
header .search-box-click-box{
  width: 100%; height: 30px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex; justify-content: space-between; align-items: center;
  position: fixed; background-color: #fff; top: 80px;

  display: none;
}

header .search-box-click{
  /* width: 840px; */ width: 44vw;
  height: 60px;
  border: 1px solid #C5C5C5; border-radius: 50px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex; justify-content: space-around; align-items: center;
  /* transition: opacity 0.5s; */
  transform: translateX(500px);
  position: absolute;
  top: -55px;
}

.final-search-btn{
  width: 150px; height: 48px;
  background-color: #1C797D;
  border-radius: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-right: 10px;
}
.final-search-btn svg{
  margin-right: 3px;
}

header .search-box-click-box button{
  font-size: 16px;
  font-weight: bold;
  background-color:transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box-click-box div{
  color: #fff;
}

.where-button-click input{
  border: none;
  font-size: 16px;
  /* width: 288px; */
  width: 15.5vw;
  height: 48px;
  background-color: #fff;
  border-radius: 50px;

  background-image : url('/images/icons/location_pin.svg');
  background-repeat : no-repeat;
  background-size : 15px;
  background-position: 15px center;
  padding-left: 40px;
  outline: none;
}
.check-in-button-click input, .check-out-button-click input, .guest-button-click input{
  border: none;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  outline: none;
  display: flex;
  text-align: center;
}

.where-btn-click, .in-btn-click, .out-btn-click, .guest-btn-click{
  cursor: pointer;
}



/* *** hover & click *** */

/* 헤더 검색 호버 */
.where-button:hover{
  font-weight: bold;
}
.when-button:hover{
  font-weight: bold;
}
.guest-button:hover{
  font-weight: bold;
}

/* where */
.search-box-click > div:nth-child(1){
  width: 330px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box-click > div:nth-child(1):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(1).clicked{
  width: 340px;
  height: 72px;
  background-color: #B1D8DA;
}

/* check-in */
.search-box-click > div:nth-child(2){
  width: 155px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box-click > div:nth-child(2):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(2).clicked{
  width: 155px;
  height: 72px;
  background-color: #B1D8DA;
}

/* check-out */
.search-box-click > div:nth-child(3){
  width: 150px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box-click > div:nth-child(3):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(3).clicked{
  width: 155px;
  height: 72px;
  background-color: #B1D8DA;
}

/* guest */
.search-box-click > div:nth-child(4){
  width: 220px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-box-click > div:nth-child(4):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(4).clicked{
  width: 225px;
  height: 72px;
  background-color: #B1D8DA;
}
.main--right__guest-minus, .main--right__guest-plus{
  cursor: pointer;
}




/* ***** 헤더 검색 모달창 ***** */
/* .modal{
  display: none; 
  z-index: 200;
  opacity: 0;
  transition: opacity 0.5s;
}

.modal.show{
  display: block;
  opacity: 1;
} */

/* 모달창 배경(회색) */
/* .where-modal-bg, .when-modal-bg, .guest-modal-bg{
  position: absolute;
  top: 110px; left: 0;
  width: 100%; height: 2496px;
  display: none;
  background-color: #5C5C5C50;
  z-index: 250;
} */
input[name="firstday"], input[name="lastday"], input[name="tourist"] {
  pointer-events: none;
}



.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #5C5C5C50;
  z-index: 250;
}

.where-modal, /* .when-modal, */ .guest-modal{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.where-modal div div{
  cursor: pointer;
}

/* ** Where 모달창 ** */
.where-modal{
  display: flex;
  width: 380px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 14px;
  position: fixed;
  left: 500px;
  top: 110px;
  z-index: 300;
  display: none;
}

.where-modal>div{
  margin: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.where-modal>div>div{
  display: flex;
  font-size: 16px;
  margin-top: 35px;
  margin-left: 20px;
  align-items: center;
}
.where-modal>div>div:first-child{
  margin-top: 0;
}

.where-modal img{
  width: 20px; height: 25px;
  margin-right: 10px;
}

/* ** When 모달창 ** */
.when-modal{
  width: 840px; height: 480px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 24px;
  position: fixed;
  left: 500px;
  top: 110px;
  z-index: 300;
}

.when-modal div{
  margin: 24px;
}

/* 캘린더 */
/* .calendar-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scriptCalendar {
  text-align: center;
  padding: 15px;
  font-weight: bolder;
  width: 385px;
  height: 255px;
}
.scriptCalendar > thead > tr > td {
  width: 50px;
  height: 50px;
}
.scriptCalendar > thead > tr:first-child > td {
  font-weight: bold;
}
.scriptCalendar > thead > tr:last-child > td {
  color: #777;
}
.scriptCalendar > tbody > tr > td {
  width: 50px;
  height: 50px;
}
.calendarBtn {
  cursor: pointer;
} */

/* ** Guest 모달창 ** */
.guest-modal{
  width: 300px; height: 73px;
  background-color: #fff;
  margin-top: 14px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 568px;
  top: 110px;
  z-index: 300;
  display: none;
}

.guest-modal div{
  font-size: 16px;
}

.guest-up-down{
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.main--right__guest-minus, .main--right__guest-plus{
  width: 32px; height: 32px;
  border: 1px solid #C5C5C5;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--right__guest-count, .main--right__guest-plus{
  margin-left: 20px;
}

.final-search-btn button{
  color: #fff;
  font-weight: normal;
}



/* ***** 헤더 아이콘 모달창 ***** */
/* 마이페이지 */
.mypage-modal{
  width: 200px;
  /* height: 226px; */
  background-color: #fff;
  border: 1px solid #C5C5C5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: fixed;
  top: 70px;
  right: 100px;
  z-index: 500;

  display: none;
}
.mypage-modal>div{
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 16px;
}
.mypage-modal hr{
  position: fixed;
  width: 8%;
  margin-top: -36px;
  /* margin-bottom: 16px; */
}
.mypage-modal a{
  width: 100%;
  margin-bottom: 10px;
}
.mypage-modal>div>div{
  margin-top: 8px;
}

.mypage-modal-close{
  position: absolute;
  right: 10px;
  top: -6px;
  cursor: pointer;
}
.mypage-modal-close:after{
  display: inline-block;
  content: "\00d7"; 
  font-size:15pt;
}

/* 알람 */
.alarm-modal{
  width: 340px;
  /* height: 360px; */
  background-color: #fff;
  border: 1px solid #C5C5C5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: fixed;
  top: 70px;
  right: 150px;
  z-index: 500;

  display: none;
}
.alarm-modal>div{
  margin: 20px;
  margin-top: 30px;
  font-size: 14px;
}
.alarm-modal>div>div{
  margin-top: 12px;
  display: flex;
  text-align: center;
}
.alarm-modal img{
  width: 15px;
  /* height: 20px; */
  margin-right: 6px;
}

.alarm-modal-close{
  position: absolute;
  right: 10px;
  top: -6px;
  cursor: pointer;
}
.alarm-modal-close:after{
  display: inline-block;content: "\00d7"; font-size:15pt;
}


.wirte-btn{
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
.wirte-btn img{
  width: 40px;
  height: 40px;
}




/* calendar */
/*body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-repeat: no-repeat;
}*/

/*.container {
padding-top: 120px;
padding-bottom: 120px;
}*/

.input-group input {
  width: 150px;
  /* padding: 10px 15px !important; */
  background-color: transparent;
  color: #2C3E50;
  font-size: 16px;
  /* letter-spacing: 1px; */
  position: relative;
}

.input-group input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* border: 1px solid #512DA8; */
  outline-width: 0;
}

.form-control ::placeholder {
  color: #BDBDBD;
  opacity: 1;
}

.form-control :-ms-input-placeholder {
  color: #BDBDBD;
}

.form-control ::-ms-input-placeholder {
  color: #BDBDBD;
}

.input-group button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.datepicker {
background-color: #fff;
border: none;
border-radius: 0 !important;
margin-top: 50px;
}

.datepicker-dropdown {
top: 0;
left: 0;
}

.datepicker table tr td.today, span.focused {
border-radius: 50% !important;
background-color: #B1D8DA;
}

.datepicker table tr td.today.range {
background-image: linear-gradient(#eeeeee, #eeeeee) !important;
border-radius: 0 !important;
}

/*Weekday title*/
thead tr:nth-child(3) th {
font-weight: bold !important;
padding-top: 10px;
padding-bottom: 10px;
}

.dow, .old-day, .day, .new-day {
width: 40px !important;
height: 40px !important;
border-radius: 0px !important;
}

.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
border-radius: 50% !important;
background-color: #eee;
}

/* .active {
border-radius: 50% !important;
background-image: linear-gradient(#90CAF9, #64B5F6) !important;
color: #fff !important;
} */

.range-start, .range-end {
border-radius: 50% !important;
background-image: linear-gradient(#1C797D, #1C797D) !important;
}

.table-condensed .prev, .table-condensed .next, .datepicker-switch {
border-radius: 0 !important;
padding: 10px 10px 10px 10px !important;
text-transform: uppercase;
font-size: 14px;
opacity: 0.8;
}

.table-condensed .prev:hover, .table-condensed .next:hover, .datepicker-switch:hover {
background-color: inherit !important;
opacity: 1;
}

.btn-black {
background-color: #37474F !important;
color: #fff !important;
width: 100%;
}

.btn-black:hover {
color: #fff !important;
background-color: #000 !important;
}



/* .datepicker-dropdown .dropdown-menu .datepicker-orient-left .datepicker-orient-bottom{
  margin-top: 130px;
} */
.datepicker{
  top: 130px;
}

.datepicker{
  border-radius: 25px !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.datepicker::before {
  content: none;
}
.datepicker::after {
  content: none;
}

/* 슬라이드 css */
.datepicker{
  width: 330px;
  position: absolute;
  top: 0;
  /* right: -24px; */
  margin: 20px;
  padding: 20px;
  transform: translateX(-20px);
  margin-top: 50px;
}

@media screen and (max-width : 1024px) {
    
}

@media screen and (max-width : 767px) {
  header .logo img{
    display: none;
  }
  header .main-icons-box{
    display: none;
  }
}