/* -----------------구매자 프로필---------------------- */

/* 임시로 하나씩 안보이게 하기 위해 잠시 주는 것!! */
#displayNone{display: none;}

/* 에러 클래스 */
.error{
    color: red; font-weight: bold;
}

/* ----- 구매자 프로필 ----- */
.buyer-profile-top{
    /* width: 100vw; */
    margin:80px;
    margin-top: 140px; margin-bottom: 80px;
    /* display: flex; justify-content: space-between; */
    display: flex; justify-content: space-around;
}

/* 프로필 위 가이드 배너 */
.buyer-profile-top .guide-banner{margin-bottom: 4px;}
.buyer-profile-top .guide-banner>img{height: 45px;}

/* 프로필 왼쪽 박스 */
.buyer-profile-top .profile-left{
    width: 336px; border-radius: 5px; 
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buyer-profile-top .profile-img-box{ /* 프로필 사진 + 이름 */
    width: 100%; height: 300px; border-bottom: 2px solid #fff;
    display: flex; flex-direction: column; align-items: center;
    position: relative;
}
.buyer-profile-top .profile-img-box h2{ /* 유저 이름 */
    font-size: 1.625rem; margin-top: 12px;
    cursor: pointer;
}
.buyer-profile-top .profile-img{
    width: 180px; height: 180px; border-radius: 50%;
    background-color: #B1D8DA; border: 2px solid #fff;
    position: relative; margin-top: 32px;
}

.buyer-profile-top .profile-img>img:first-of-type{
    width: 100%; height: 100%; border-radius: 50%;
}
/* 파일 첨부 버튼 안보이게 */
.buyer-profile-top #userProfileFile{display: none;}
.buyer-profile-top .profile-edit-icon{ /* 프로필 편집 아이콘 */
    width: 32px; height: 32px; cursor: pointer;
    position: absolute; bottom: 8px; right: 8px;
}

/* 프로필 사진 첨부했을 때 프로필 변경 버튼 */
.profile-img-box>button{
    position: absolute;
    top: 10px; right: 10px;
    background-color: #1C797D;
    color: #fff;
    width: 80px; height: 20px;
    cursor: pointer;
    border-radius: 10px;
    /* display: none; */
}
.profile-img-box>button:hover{
    background-color: #0F4957;
}
.profile-img-box>img:first-of-type{
    width: 20px; height: 20px; position: absolute;
    top: 36px; right: 80px;
}

/* 유저 이메일 */
.buyer-profile-top .user-email{
    width: 100%; height: 60px; 
    display: flex; align-items: center;}
.buyer-profile-top .user-email p{width: 100%; text-align: center;}

/* 구매자 버튼 */
.buyer-profile-top .seller-btn{
    width: 336px; margin-top: 8px;
    margin-bottom: 80px;
}
.buyer-profile-top .seller-btn button{
    width: 100%; height: 60px; border-radius: 10px;
    background-color: #fff; color: #5C5C5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 12px; font-size: 1rem;
    display: flex; align-content: center; 
    /* justify-content: space-between; padding: 0 60px; */
    border: 1px solid #F0F0F0; line-height: 58px;
    text-align: center;
}
.buyer-profile-top .seller-btn button:hover{
    font-size: 1.1rem;
}
.buyer-profile-top .seller-btn button>img{
    width: 35px; margin-top: 12px;
    margin-left: 84px; margin-right: 30px;
}
.buyer-profile-top .seller-btn button:nth-of-type(2)>img{
    width: 31px; 
    margin-left: 86px; margin-right: 32px;
}
.buyer-profile-top .seller-btn button:nth-of-type(3)>img{
    width: 30px; margin-top: 14px;
    margin-left: 87px; margin-right: 30px;
}

/* 프로필 오른쪽 박스 */
/* 구매자 소개 */
.buyer-profile-top .profile_right{
    /* width: 100%; */
    margin-left: 80px; 
    /* margin-right: 80px; */
    width: 1280px;
}
.buyer-profile-top .profile_right .about-me{
    width: 100%;  height: auto;
    display: grid; grid-template-columns: repeat(2,1fr);
    margin-bottom: 40px;
}
.buyer-profile-top .profile_right h1{
    font-size: 2rem; margin-bottom: 32px; margin-top: 50px;
    margin-left: 20px;
}
.buyer-profile-top .profile_right .seller-about li{
    margin-bottom: 30px; margin-right: 30px;
}
.buyer-profile-top .profile_right .seller-about li img{
    width: 32px; margin-right: 16px; transform: translateY(8px);
}
.buyer-profile-top .profile_right .seller-about li>pre{
    width: 100%;
    line-height: 32px; font-size: 1rem; white-space: pre-wrap;
}


/* ----- 구매자 예약 리스트 ----- */
.buyer-profile-top .wish-list .slider{
    width: 300px; height: 300px;
    background-color: #FFE69A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* overflow: visible; */
    /* position: relative; */
}
.buyer-profile-top .wish-list .slider div{
    width: 300px; height: 300px;
}
.buyer-profile-top .wish-list>ul{
    /* display: flex;
    flex-wrap: wrap; */
    /* margin: 0 auto;  */
    display: grid; grid-template-columns: repeat(4, 1fr);
    max-width: 1280px; grid-template-rows: auto;
}
.buyer-profile-top .wish-list>ul>li{
    /* width: 100%; */
    width: 300px; height: 380px;
    position: relative;
    margin: 10px;
}
.buyer-profile-top .wish-list .slider>div{
    width: 300px; height: 300px;
    border-radius: 20px;
    border: none;
}
.buyer-profile-top .wish-list .slider>div>img{
    /* width: 100%; height: 100%; */
    width: 300px; height: 300px;
    border-radius: 20px;
}


/* 슬라이드 버튼 */
.buyer-profile-top .wish-list .slide-btn{
    width: 100%; 
    display: none;
}

.buyer-profile-top .wish-list .slide-btn>img{ 
    width: 32px; height: 32px;
    cursor: pointer;
}
.buyer-profile-top .wish-list .slide-btn>img:first-of-type{
    position: absolute;
    top: 134px; right: 4px;
}
.buyer-profile-top .wish-list .slide-btn>img:last-of-type{
    position: absolute;
    top: 134px; left: 4px;
}

/* 위시 하트 */
.buyer-profile-top .wish-list .add-wish-heart{
    width: 100%; 
}
.buyer-profile-top .wish-list .add-wish-heart>img{ 
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.buyer-profile-top .wish-list .add-wish-heart>img:first-of-type{ 
    position: absolute;
    top: 12px; right: 12px;
}
.buyer-profile-top .wish-list .add-wish-heart>img:last-of-type{ 
    position: absolute;
    top: 12px; right: 12px;
}
.wish-heart-none{ /* 하트 안보이게 */
    /* display: none; */
}

.heart-icon{
    background-image: url('../../images/profile/heartNone.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.heart-icon.selected{
    background-image: url('../../images/profile/heartClick.png'); 
}


/* 게시글 텍스트 */
.buyer-profile-top .wish-list .sales-text{
    width: 100%; padding: 4px;
    display: flex; flex-direction: column;
    position: absolute;
    top: 310px;
}
.buyer-profile-top .wish-list .sales-text p:first-of-type{
    width: 250px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 3px;
}
.buyer-profile-top .wish-list .sales-text img:first-of-type{
    width: 16px; margin-right: 4px;
}
.buyer-profile-top .wish-list .sales-text img:last-of-type{
    width: 12px; margin-right: 4px;
}
.buyer-profile-top .wish-list .sales-text>div{
    display: flex; justify-content: space-between;
}
.buyer-profile-top .wish-list .sales-text>div>div{
    display: flex; align-items: center;
}
.buyer-profile-top .wish-list .sales-text>div{
    margin-bottom: 4px;
}
.buyer-profile-top .wish-list .sales-text>div span{
    font-size: 0.875rem; line-height: 24px;
}
.buyer-profile-top .wish-list .sales-text>div:nth-of-type(2)>p{
    font-weight: bold;
}
.buyer-profile-top .wish-list .sales-text>div:nth-of-type(1)>div{ /* 별점 */
    color: #1C797D;
}
.buyer-profile-top .wish-list .sales-text>div:nth-of-type(2)>div{ /* 장소 */
    color: #5C5C5C;
}
.buyer-profile-top .wish-list .sales-text>div>div>img:nth-of-type(2){
    padding-top: 2px;
}
@media screen and (max-width : 1800px) {
    .buyer-profile-top .wish-list>ul{
        display: grid; grid-template-columns: repeat(3, 1fr);
        max-width: 960px; grid-template-rows: auto;
    }
    .buyer-profile-top .profile_right{
        width: 960px;
    }
}
@media screen and (max-width : 1400px) {
    .buyer-profile-top .wish-list>ul{
        display: grid; grid-template-columns: repeat(2, 1fr);
        max-width: 640px; grid-template-rows: auto;
    }
    .buyer-profile-top .profile_right{
        width: 640px;
    }
}
    
@media screen and (max-width : 1200px) {
    .buyer-profile-top .wish-list>ul{
        display: grid; grid-template-columns: repeat(3, 1fr);
        max-width: 960px; grid-template-rows: auto;
    }
    .buyer-profile-top .profile_right{
        width: 960px;
    }

    /* 판매자 프로필 */
    .buyer-profile-top{
        display: flex; justify-content: space-between;
    }
    /* 프로필 오른쪽 박스 - 판매자 소개 */
    .buyer-profile-top .profile_right .about-me{
        grid-template-columns: repeat(2,1fr);
    }
    .buyer-profile-top .profile_right li{
        margin-bottom: 40px; margin-right: 0;
    }
    /* 판매자 프로필 아래로 예약 리스트 오게  */
    .buyer-profile-top {
        flex-direction: column;
    }

    .buyer-profile-top .profile-box {
        margin-bottom: 40px;
        margin-top: 60px;
    }
    .buyer-profile-top .profile-left {
        position: relative;
    }
    .buyer-profile-top .seller-btn {
        /* position: absolute; */
        /* bottom: 166px; right: 80px; */
    }
    /* 내정보 버튼 */
    .buyer-profile-top .seller-btn {
        display: flex;
        width: 83.5%;
        justify-content: space-between;
        margin: 0;
        margin-top: 20px;
        position: absolute;
        top: -60px;
    }
    .buyer-profile-top .seller-btn button {
        justify-content: space-around;
        padding: 0 20px;
        margin-right: 20px;
    }
    .buyer-profile-top .seller-btn button>img {
        margin: 0;
        margin-top: 12px; 
    }
    .buyer-profile-top .seller-btn button:nth-of-type(2)>img{
        margin: 0;
        margin-top: 12px;
    }
    .buyer-profile-top .seller-btn button:nth-of-type(3)>img{
        margin: 0;
        margin-top: 12px; 
    }
    .buyer-profile-top .seller-btn button:last-of-type{
        padding: 0 30px;
    }
    /* 자기소개 */
    .buyer-profile-top .profile_right {
        margin-left: 0;
        align-self: center;
    }

    /* 상품 리스트 */
    .buyer-profile-top .reservation-list-box .sale-img {
        width: 260px;
        height: 260px;
    }

}

@media screen and (max-width : 1024px) {
    .buyer-profile-top .wish-list>ul{
        display: grid; grid-template-columns: repeat(2, 1fr);
        max-width: 640px; grid-template-rows: auto;
    }
    .buyer-profile-top .profile_right{
        width: 640px;
    }
}


@media screen and (max-width : 780px) {
    .buyer-profile-top .wish-list>ul{
        display: grid; grid-template-columns: repeat(2, 1fr);
        max-width: 640px; grid-template-rows: auto;
    }
    .buyer-profile-top .profile_right{
        width: 640px;
    }
    .buyer-profile-top {
        margin: 61px;
    }
    /* 프로필 오른쪽 박스 - 판매자 소개 */
    .buyer-profile-top .profile_right .about-me{
        grid-template-columns: repeat(1,1fr);
    }
    .buyer-profile-top .profile_right li{
        margin-bottom: 40px; margin-right: 50px;
    }
    .buyer-profile-top .profile_right {
        margin: 0;
    }
    /* 판매자 프로필 아래로 예약 리스트 오게  */

    .buyer-profile-top .sales-list-more {
        width: 80vw;
    }
    .buyer-profile-top .wish-list-more {
        width: 80vw;
    }
    .buyer-profile-top .wish-list li ul li {
        width: 80vw;
    }
    .buyer-profile-top .reservation-list div {
        width: 80vw;
    }
    .buyer-profile-top .reservation-list-box .sale-content {
        margin: 20px 10px;
    }
    .buyer-profile-top .reservation-list-box li {
        width: 80vw;
    }
    .buyer-profile-top .profile-box {
        width: 80vw;
        /* justify-content: center; */
        align-self: center;
    }
    .buyer-profile-top .profile-box {
        margin: 0;
        margin-top: 80px;
    }
    .buyer-profile-top .profile-left {
        position: relative;
    }
    .buyer-profile-top .seller-btn {
        position: inherit;
    }
    .buyer-profile-top .profile_right h1 {
        margin-top: 50px;
    }
    .buyer-profile-top .reservation-list{
        margin-top: 80px;
    }
    /* 내정보 버튼 */
    .buyer-profile-top .seller-btn {
        display: block;
        width: 336px;
    }
    .buyer-profile-top .seller-btn button {
        justify-content:left;
    }
    .buyer-profile-top .seller-btn button>img{
        width: 35px; margin-top: 12px;
        margin-left: 64px; margin-right: 30px;
    }
    .buyer-profile-top .seller-btn button:nth-of-type(2)>img{
        width: 32px; 
        margin-left: 66px; margin-right: 32px;
    }
    .buyer-profile-top .seller-btn button:nth-of-type(3)>img{
        margin-left: 57px; margin-right: 29px;
    }
    /* 예약 리스트 */
    .buyer-profile-top .reservation-list-box .sale-img {
        min-width: 150px;
        height: 150px;
    }
    
    .buyer-profile-top .reservation-list-box .sale-content>h3:nth-of-type(1){
        font-size: 1rem;
        line-height: 24px;
        -webkit-line-clamp: 3;
        height: auto;
        
    }
    .buyer-profile-top .reservation-list-box .sale-content>h3:nth-of-type(2){
        font-size: 1rem;
    }
    .buyer-profile-top .reservation-list-box .sale-content>div>h2{
        font-size: 1.2rem;
    }
    /* .buyer-profile-top .reservation-list-box .sale-content>p {
        font-size: 0.875rem;
    } */
    .buyer-profile-top .reservation-list-box .guest-profile-img{
        bottom: -110px; left: 0;
        font-size: 0;
    }
    .buyer-profile-top .reservation-list-box .guest-profile-img>img{
        width: 0; height: 0;
    }
}

@media screen and (max-width : 720px) {
    .buyer-profile-top .profile-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buyer-profile-top .wish-list>ul{
        display: grid; grid-template-columns: repeat(1, 1fr);
        max-width: 320px; grid-template-rows: auto;
    }
    .buyer-profile-top .profile_right{
        width: 320px;
    }
}