/* -----------------구매자 프로필---------------------- */

/* 임시로 하나씩 안보이게 하기 위해 잠시 주는 것!! */
#displayNone{display: none;}

/* 에러 클래스 */
.error{
    color: red; font-weight: bold;
}

/* ----- 구매자 프로필 ----- */
.buyer-profile-top{
    margin:80px;
    margin-top: 160px;
    /* display: flex; justify-content: space-between; */
    display: flex; justify-content: space-around;
}

/* 프로필 위 가이드 배너 */
.buyer-profile-top .guide-banner{margin-bottom: 4px;}
.buyer-profile-top .guide-banner>img{height: 45px;}

/* 프로필 왼쪽 박스 */
.buyer-profile-top .profile-left{
    width: 336px; border-radius: 5px; 
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buyer-profile-top .profile-img-box{ /* 프로필 사진 + 이름 */
    width: 100%; height: 300px; border-bottom: 2px solid #fff;
    display: flex; flex-direction: column; align-items: center;
    position: relative;
}
.buyer-profile-top .profile-img-box h2{ /* 유저 이름 */
    font-size: 1.625rem; margin-top: 12px;
    cursor: pointer;
}
.buyer-profile-top .profile-img{
    width: 180px; height: 180px; border-radius: 50%;
    background-color: #B1D8DA; border: 2px solid #fff;
    position: relative; margin-top: 32px;
}

.buyer-profile-top .profile-img>img:first-of-type{
    width: 100%; height: 100%; border-radius: 50%;
}
/* 파일 첨부 버튼 안보이게 */
.buyer-profile-top #userProfileFile{display: none;}
.buyer-profile-top .profile-edit-icon{ /* 프로필 편집 아이콘 */
    width: 32px; height: 32px; cursor: pointer;
    position: absolute; bottom: 8px; right: 8px;
}

/* 프로필 사진 첨부했을 때 프로필 변경 버튼 */
.profile-img-box>button{
    position: absolute;
    top: 10px; right: 10px;
    background-color: #1C797D;
    color: #fff;
    width: 80px; height: 20px;
    cursor: pointer;
    border-radius: 10px;
    /* display: none; */
}
.profile-img-box>button:hover{
    background-color: #0F4957;
}
.profile-img-box>img:first-of-type{
    width: 20px; height: 20px; position: absolute;
    top: 36px; right: 80px;
}


/* 유저 이메일 */
.buyer-profile-top .user-email{
    width: 100%; height: 60px; 
    display: flex; align-items: center;}
.buyer-profile-top .user-email p{width: 100%; text-align: center;}

/* 구매자 버튼 */
.buyer-profile-top .seller-btn{
    width: 336px; margin-top: 8px;
    margin-bottom: 80px;
}
.buyer-profile-top .seller-btn button{
    width: 100%; height: 60px; border-radius: 10px;
    background-color: #fff; color: #5C5C5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 12px; font-size: 1rem;
    display: flex; align-content: center; 
    /* justify-content: space-between; padding: 0 60px; */
    border: 1px solid #F0F0F0; line-height: 58px;
    text-align: center;
}
.buyer-profile-top .seller-btn button:hover{
    font-size: 1.1rem;
}
.buyer-profile-top .seller-btn button>img{
    width: 35px; margin-top: 12px;
    margin-left: 84px; margin-right: 30px;
}
.buyer-profile-top .seller-btn button:nth-of-type(2)>img{
    width: 31px; 
    margin-left: 86px; margin-right: 32px;
}
.buyer-profile-top .seller-btn button:nth-of-type(3)>img{
    width: 30px; margin-top: 14px;
    margin-left: 87px; margin-right: 30px;
}

/* 프로필 오른쪽 박스 */
/* 구매자 소개 */
.buyer-profile-top .profile_right{
    margin-left: 80px; 
    /* margin-right: 80px; */
}
.buyer-profile-top .profile_right .about-me{
    width: 100%;  height: auto;
    display: grid; grid-template-columns: repeat(2,1fr);
    margin-bottom: 40px;
}
.buyer-profile-top .profile_right h1{
    font-size: 2rem; margin-bottom: 32px; margin-top: 50px;
}
.buyer-profile-top .profile_right .seller-about li{
    margin-bottom: 30px; margin-right: 30px;
}
.buyer-profile-top .profile_right .seller-about li img{
    width: 32px; margin-right: 16px; transform: translateY(8px);
}
.buyer-profile-top .profile_right .seller-about li>pre{
    width: 100%;
    line-height: 32px; font-size: 1rem; white-space: pre-wrap;
}


/* ----- 구매자 예약 리스트 ----- */
.buyer-profile-top .reservation-list div{ /* 제목 */
    /* display: flex; justify-content: space-between; align-items: center; */
}
.buyer-profile-top .reservation-list img{ /* 이미지로 넣으면 */
    width: 28px; height: 28px;
    cursor: pointer;
}
.buyer-profile-top .reservation-list svg{ /* 일단 svg로 넣음 */
    margin-bottom: 32px; margin-top: 50px;
    cursor: pointer;
}

/* 구매자 리스트 썸네일 */
.buyer-profile-top .reservation-list-box{
    margin-bottom: 40px;
}
.buyer-profile-top .reservation-list-box li{
    width: 100%;  height: 280px; background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex; flex-direction: column;
    /* align-items: center; */
    margin-bottom: 12px;
}
.buyer-profile-top .reservation-list-box .reservation-img{ /* 구매자 썸네일 */
    max-width: 260px;
    min-width: 260px; 
    height: 170px;
    background-color: #FFE69A;
    border-radius: 15px; margin: 20px;
}
.buyer-profile-top .reservation-list-box .reservation-img>img{
    width: 100%; height: 100%;
    border-radius: 15px;
}

/* 구매자 리스트 내용*/
.buyer-profile-top .reservation-list-box>li{
    display: flex; flex-direction: column; 
    height: 280px;
}
.buyer-profile-top .reservation-list-box>li>div:first-of-type{
    width: 100%; height: 10%;
    margin-top: 20px;
}

.buyer-profile-top .reservation-list-box>li>div>span{
    margin: 20px;
}
.buyer-profile-top .reservation-list-box .flex-direction-row{
    display: flex; flex-direction: row;
    /* overflow: auto; height: 260px; */
}

.buyer-profile-top .reservation-list-more{ /* 구매자 더보기 버튼 */
    width: 100%; height: 62px;
    background-color: #0F4957; color: #fff;
    font-size: 1rem; text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}
.buyer-profile-top .reservation-list-more:hover{ /* 리뷰 더보기 버튼 */
    /* background-color: #fff; color: #0F4957; */
    background-color: #1C797D;
}
.buyer-profile-top .reservation-content h2:nth-of-type(1){
    margin-top: 20px; margin-bottom: 10px;
    font-size: 1.2rem; color: #1C797D;
    font-weight: normal;
}
.buyer-profile-top .reservation-content h2:nth-of-type(2){
    width: 94%; height: 54px;
    font-weight: normal;
    font-size: 1rem;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 40px;
}
.buyer-profile-top .reservation-content span{
    font-size: 1.375rem;
}
.buyer-profile-top .reservation-content span:first-of-type{
    margin-right: 12px;
}
.buyer-profile-top .reservation-content span:last-of-type{
    font-weight: bold;
}


@media screen and (max-width : 1200px) {
    /* 판매자 프로필 */
    .buyer-profile-top{
        display: flex; justify-content: space-between;
    }
    /* 프로필 오른쪽 박스 - 판매자 소개 */
    .buyer-profile-top .profile_right .about-me{
        grid-template-columns: repeat(2,1fr);
    }
    .buyer-profile-top .profile_right li{
        margin-bottom: 40px; margin-right: 0;
    }
    /* 판매자 프로필 아래로 상품 리뷰 오게  */
    .buyer-profile-top {
        flex-direction: column;
    }
    .buyer-profile-top .reservation-list-more {
        width: 100%;
    }
    .buyer-profile-top .reservation-list-more {
        width: 100%;
    }
    .buyer-profile-top .reservation-list li ul li {
        width: 100%;
    }
    .buyer-profile-top .reservation-list div {
        width: 100%;
    }
    .buyer-profile-top .reservation-list-box li {
        width: 100%;
    }
    .buyer-profile-top .profile-box {
        width: 100%;
    }
    .buyer-profile-top .seller-review-box {
        width: 100%;
    }
    .buyer-profile-top .profile-box {
        margin-bottom: 40px;
        margin-top: 60px;
    }
    .buyer-profile-top .profile-left {
        position: relative;
    }
    .buyer-profile-top .seller-btn {
        /* position: absolute; */
        /* bottom: 166px; right: 80px; */
    }
    /* 내정보 버튼 */
    .buyer-profile-top .seller-btn {
        display: flex;
        width: 83.5%;
        justify-content: space-between;
        margin: 0;
        margin-top: 20px;
        position: absolute;
        top: 80px;
    }
    .buyer-profile-top .seller-btn button {
        justify-content: space-around;
        padding: 0 20px;
        margin-right: 20px;
    }
    .buyer-profile-top .seller-btn button>img {
        margin: 0;
        margin-top: 12px; 
    }
    .buyer-profile-top .seller-btn button:nth-of-type(2)>img{
        margin: 0;
        margin-top: 12px;
    }
    .buyer-profile-top .seller-btn button:nth-of-type(3)>img{
        margin: 0;
        margin-top: 12px; 
    }
    .buyer-profile-top .seller-btn button:last-of-type{
        padding: 0 30px;
    }
    /* 자기소개 */
    .buyer-profile-top .profile_right {
        margin-left: 0;
    }

    /* 상품 리스트 */
    .buyer-profile-top .reservation-list-box .sale-img {
        width: 260px;
        height: 260px;
    }

    .buyer-profile-top .reservation-list-box .reservation-img{ /* 구매자 썸네일 */
        max-width: 200px;
        min-width: 200px; 
        height: 170px;
        background-color: #FFE69A;
        border-radius: 15px; margin: 20px;
    }



}

@media screen and (max-width : 767px) {
    .buyer-profile-top {
        margin: 61px;
        /* margin-top: 80px; */
    }
    /* 프로필 오른쪽 박스 - 판매자 소개 */
    .buyer-profile-top .profile_right .about-me{
        grid-template-columns: repeat(1,1fr);
    }
    .buyer-profile-top .profile_right li{
        margin-bottom: 40px; margin-right: 50px;
    }
    .buyer-profile-top .profile_right {
        margin: 0;
    }
    /* 판매자 프로필 아래로 상품 리뷰 오게  */

    .buyer-profile-top .reservation-list-more {
        width: 80vw;
    }
    .buyer-profile-top .reservation-list-more {
        width: 80vw;
    }
    .buyer-profile-top .reservation-list li ul li {
        width: 80vw;
    }
    .buyer-profile-top .reservation-list div {
        width: 80vw;
    }
    .buyer-profile-top .reservation-list-box .sale-content {
        margin: 20px 10px;
    }
    .buyer-profile-top .reservation-list-box li {
        width: 80vw;
    }
    .buyer-profile-top .profile-box {
        width: 80vw;
        justify-content: center;
    }
    .buyer-profile-top .profile-box {
        margin: 0;
        margin-top: 80px;
    }
    .buyer-profile-top .profile-left {
        position: relative;
    }
    .buyer-profile-top .seller-btn {
        position: inherit;
    }
    .buyer-profile-top .profile_right h1 {
        margin-top: 50px;
    }
    .buyer-profile-top .seller-about{
        margin-top: 80px;
    }
    /* 내정보 버튼 */
    .buyer-profile-top .seller-btn {
        display: block;
        width: 336px;
    }
    .buyer-profile-top .seller-btn button {
        justify-content:left;
    }
    .buyer-profile-top .seller-btn button>img{
        width: 35px; margin-top: 12px;
        margin-left: 64px; margin-right: 30px;
    }
    .buyer-profile-top .seller-btn button:nth-of-type(2)>img{
        width: 32px; 
        margin-left: 66px; margin-right: 32px;
    }
    .buyer-profile-top .seller-btn button:nth-of-type(3)>img{
        margin-left: 57px; margin-right: 29px;
    }
    /* 상품 리스트 */
    .buyer-profile-top .reservation-list-box .sale-img {
        min-width: 150px;
        height: 150px;
    }
    .buyer-profile-top .reservation-list-box .sale-content>h2 {
        font-size: 1rem;
        line-height: 20px;
        -webkit-line-clamp: 3;
        
    }
    .buyer-profile-top .reservation-content h2:nth-of-type(1) {
        font-size: 1rem;
    }
    .buyer-profile-top .reservation-content h2:nth-of-type(2) {
        font-size: 0.875rem;
        -webkit-line-clamp: 3;
        height: 64px;
    }
    .buyer-profile-top .reservation-content span:first-of-type, .buyer-profile-top .reservation-contentspan:first-of-type{
        font-size: 1rem;
    }
    
    .buyer-profile-top .reservation-list-box .reservation-img{ /* 구매자 썸네일 */
        max-width: 170px;
        min-width: 170px; 
        height: 170px;
        background-color: #FFE69A;
        border-radius: 15px; margin: 20px;
    }
}
