/* 컬러 
: 컬러는 태그에 웬만하면 직접 지정해주세요
혹시 몰라서 클래스로 세팅 해놨습니다.*/
.colormain1{background-color: #0F4957;}
.colorsub1{background-color: #B1D8DA;}
.colormain2{background-color: #1C797D;}
.colorsub1{background-color: #FFE69A;}

/* 무채색 컬러 */
.monocolor1{background-color: #231F20;}
.monocolor2{background-color: #5C5C5C;}
.monocolor3{background-color: #C5C5C5;}
.monocolor4{background-color: #F0F0F0;}
.modalcolor{background-color: #5C5C5C60;}





/* ***** 메인 헤더 영역 : 로고 + 상단 아이콘 ***** */
header, header .logo img{z-index: 300;}

header{
    width: 100%; height: 80px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    display: flex; justify-content: space-between; align-items: center;
    position: fixed; background-color: #fff; top: 0;
}

header .main-search-box{position: absolute; left: 50%; transform: translateX(-150px);} 
header .logo{margin-left: 100px; user-select: none;}
header .main-icons-box{display: flex; margin-right: 100px;}

header .logo img{width: 87px;}

header .main-search-box{
  width: 300px; height: 48px;
  border: 1px solid #C5C5C5; border-radius: 50px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex; justify-content: space-around; align-items: center;
}

header .main-search-box button{
  font-size: 16px;
  background-color:transparent;
}

header .chatting-icon, header .alarm-icon{margin-right: 20px;}



/* header 밑으로 길어지는 부분 */
header .search-box-click-box{
  width: 100%; height: 30px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex; justify-content: space-between; align-items: center;
  position: fixed; background-color: #fff; top: 80px;

  display: none;
}

header .search-box-click{
  width: 840px; height: 60px;
  border: 1px solid #C5C5C5; border-radius: 50px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex; justify-content: space-around; align-items: center;
  /* transition: opacity 0.5s; */
  transform: translateX(500px);
  position: absolute;
  top: -55px;
}

.final-search-btn{
  width: 90px; height: 48px;
  background-color: #1C797D;
  border-radius: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
}
.final-search-btn svg{
  margin-right: 3px;
}

header .search-box-click-box button{
  font-size: 16px;
  font-weight: bold;
  background-color:transparent;
}

.search-box-click-box div{
  color: #fff;
}

.where-button-click input{
  border: none;
  font-size: 16px;
  width: 288px;
  height: 48px;
  background-color: #fff;
  border-radius: 50px;

  background-image : url('/guidoFront/images/icons/location_pin.svg');
  background-repeat : no-repeat;
  background-size : 15px;
  background-position: 15px center;
  padding-left: 40px;
  outline: none;
}



/* *** hover & click *** */

/* where */
.search-box-click > div:nth-child(1){
  width: 330px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box-click > div:nth-child(1):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(1).clicked{
  width: 340px;
  height: 72px;
  background-color: #B1D8DA;
}

/* check-in */
.search-box-click > div:nth-child(2){
  width: 150px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box-click > div:nth-child(2):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(2).clicked{
  width: 155px;
  height: 72px;
  background-color: #B1D8DA;
}

/* check-out */
.search-box-click > div:nth-child(3){
  width: 150px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box-click > div:nth-child(3):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(3).clicked{
  width: 155px;
  height: 72px;
  background-color: #B1D8DA;
}

/* guest */
.search-box-click > div:nth-child(4){
  width: 220px;
  height: 60px;
  background-color: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-box-click > div:nth-child(4):hover{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box-click > div:nth-child(4).clicked{
  width: 225px;
  height: 72px;
  background-color: #B1D8DA;
}




/* ***** 헤더 모달창 ***** */
.modal{display: none; z-index: 200;}
.modal.show{display: block;}

/* 모달창 배경(회색) */
.where-modal-bg, .when-modal-bg, .guest-modal-bg{
  position: absolute;
  top: 110px; left: 0;
  width: 100%; height: 2478px;
  display: none;
  background-color: #5C5C5C50;
}

/* ** Where 모달창 ** */
.where-modal{
  /* display: fixed; */ /* ************************************** */
  width: 320px; height: 360px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 24px;
  position: absolute;
  left: 500px;
}

.where-modal>div{
  margin: 24px;
}

.where-modal>div>div{
  display: flex;
  font-size: 16px;
  margin-top: 12px;
}

.where-modal img{
  width: 20px; height: 25px;
  margin-right: 5px;
}

/* ** When 모달창 ** */
.when-modal{
  /* display: fixed; */ /* ************************************** */
  width: 840px; height: 480px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 24px;
  position: absolute;
  left: 500px;
}

.when-modal div{
  margin: 24px;
}

/* 캘린더 */
.calendar-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scriptCalendar {
  text-align: center;
  padding: 15px;
  font-weight: bolder;
  width: 385px;
  height: 255px;
}
.scriptCalendar > thead > tr > td {
  width: 50px;
  height: 50px;
}
.scriptCalendar > thead > tr:first-child > td {
  font-weight: bold;
}
.scriptCalendar > thead > tr:last-child > td {
  color: #777;
}
.scriptCalendar > tbody > tr > td {
  width: 50px;
  height: 50px;
}
.calendarBtn {
  cursor: pointer;
}

/* ** Guest 모달창 ** */
.guest-modal{
  /* display: fixed; */ /* ************************************** */
  width: 320px; height: 110px;
  background-color: #fff;
  margin-top: 24px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 568px;
}

.guest-modal div{
  font-size: 16px;
}

.guest-up-down{
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.main--right__guest-minus, .main--right__guest-plus{
  width: 32px; height: 32px;
  border: 1px solid #C5C5C5;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--right__guest-count, .main--right__guest-plus{
  margin-left: 20px;
}


/* ***** 메인 아이콘 모달창 ***** */
/* 마이페이지 */
.mypage-modal{
  width: 200px;
  height: 226px;
  background-color: #fff;
  border: 1px solid #C5C5C5;
  border-radius: 20px;
  position: absolute;
  top: 70px;
  right: 100px;
  z-index: 500;

  display: none;
}
.mypage-modal>div{
  margin: 20px;
  font-size: 16px;
}
.mypage-modal hr{
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.mypage-modal>div>div{
  margin-top: 10px;
}

.mypage-modal-close{
  position: absolute;
  right: 10px;
  top: -6px;
  cursor: pointer;
}
.mypage-modal-close:after{
  display: inline-block;
  content: "\00d7"; 
  font-size:15pt;
}

/* 알람 */
.alarm-modal{
  width: 320px;
  height: 360px;
  background-color: #fff;
  border: 1px solid #C5C5C5;
  border-radius: 20px;
  position: absolute;
  top: 70px;
  right: 150px;
  z-index: 500;

  display: none;
}
.alarm-modal>div{
  margin: 20px;
  margin-top: 30px;
  font-size: 12px;
}
.alarm-modal>div>div{
  margin-top: 12px;
  display: flex;
  text-align: center;
}
.alarm-modal img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.alarm-modal-close{
  position: absolute;
  right: 10px;
  top: -6px;
  cursor: pointer;
}
.alarm-modal-close:after{
  display: inline-block;content: "\00d7"; font-size:15pt;
}



/* ***** 메인 슬라이드 ***** */
/* li{
  list-style-type: none;
}

보여줄 구간의 높이와 넓이 설정 
.slideShow{
  width: 1280px;
  height: 360px;
  border-radius: 10px;
  position: relative;
  margin: 180px auto 100px auto;
  overflow: hidden;   
  cursor: pointer;
}
.owl-carousel{
  height: 360px;
}
.owl-item{
  height: 360px;
}
.slides{
  position: absolute;
  width: 10240px; 슬라이드할 사진과 마진 총 넓이 
  transition: left 0.5s ease-out; 
}

.slides img{
  width: 1280px;
  height: 360px;
}

슬라이드들 옆으로 정렬 
.slides li:not(:last-child){
  float: left;
}

.slides li{
  float: left;
}

슬라이드 화살표
.controller span{
  position: absolute;
  color: #fff;
  font-size: 40px;
  top: 50%;
  transform: translateY(-20px);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.prev{
  left: 30px;
}
.next{
  right: 30px;
} */




/* ***** 메인 슬라이드 ***** */

.detail--container{
  width: 91vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* 상단 섹션 */
.detail--top{
  margin-top: 80px;
  margin-bottom: 63px;
  position: relative;
}

/* owl 캐러셀 */
#demos .owl-carousel,
.owl-carousel .owl-stage-outer{
  /* height: 40vh; */
  height: 360px;
  /* width: 1280px; */
  width: 100vw;
}

.item{
  overflow: hidden;
  /* position: relative; */
  /* height: 40vh; */
  height: 360px;
  border-radius: 15px;
}



.owl-carousel__prev, .owl-carousel__next {
	z-index: 1;
	position: absolute;
	top: 50%;
	/* transform: translateY(-50%); */
	transform: translateY(-19.5px);
  cursor: pointer;
}

.owl-carousel__prev{
	left: 0.5vw;
  left: 12px;
}

.owl-carousel__next {
	right: 0.5vw;
  right: 12px;
}

.owl-theme .owl-nav.disabled+.owl-dots{
  position: absolute;
  top: 90%;
  /* left: 32%; */
  width: 100%;
}

.owl-theme .owl-dots .owl-dot span{
  background-color: #ffffff7b;
}

.owl-dot{
  width: 10px;
  height: 10px;
  margin: 2px 7px;
}

.item>img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/* ***** 게시글 슬라이드 ***** */
.container--inner__top__left{
  /* border: 1px solid brown; */
  width: 300px;
  height: 370px;
  display: flex;
  justify-content: start;
  margin-right: 50px;

}

.carousel-wrapper{
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.carousel-wrapper > .carousel {
  display: flex;
  position: relative;
  transition-duration: 0.3s;
}

.prev{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bolder;
  border: none;
  background-color: #d8e2f0;
  box-shadow:2px 2px 2px #8e8d8d;
  position: absolute;
  z-index: 100px;
  margin-top: 135px;
  margin-left: 5px;
  /* transition-duration: 0.2s; */
  opacity: 0.6;
  cursor: pointer;
}
.next{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bolder;
  border: none;
  background-color: #d8e2f0;
  box-shadow:2px 2px 2px #c2c2c2;
  position: absolute;
  z-index: 100px;
  margin-left: 265px;
  margin-top: 135px;
  /* transition-duration: 0.2s; */
  opacity: 0.6;
  cursor: pointer;
}

.container--inner__top__left img{
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 10px;
}









/* ***** 테마 카테고리 ***** */

.categori-icon-box{
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-top: 20px;
}

.categori-icon-box>div{
  margin-left: 50px;
  cursor: pointer;
}

.categori-icon-box>div:first-child{
  margin-left: 0px;
}

.categori-icon-box img{
  width: 40px;
}

.categori-icon-box div{
  font-size: 12px;
}

hr{
  width: 68%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #C5C5C5;
  height: 1px;
  border: 0;
}


/* ***** 메인 게시글 ***** */

/* 게시글 감싸는 article */
.main-post, .popular-post{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%; 
  flex-wrap: wrap;
}

/* 게시글 사진 */
.main-post-item{
  width: 296px; height: 296px;
  margin: 40px 16px 0px 16px;
  border-radius: 10px;
  /* justify-content: space-evenly; */
  position: relative;
  overflow: hidden;
  background-color: #F0F0F0;
  cursor: pointer;
}

.post-img-area{
  position: absolute;
  transition: left 0.5s ease-out; 
}

.post-img-area img{
  width: 296px; height: 296px;
  border-radius: 10px;
}

/* .main-post-item>img:last-child{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px; height: 21px;
} */
.heart-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 21px;
  background-image: url('/guidoFront/images/icons/like.png'); 
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.heart-icon.selected {
  background-image: url('/guidoFront/images/icons/liked.png'); 
}

/* 슬라이드들 옆으로 정렬 */
.post-img-area li:not(:last-child){
  float: left;
}

.post-img-area li{
  float: left;
}

/* 슬라이드 화살표 */
.slide-arrow span{
  position:absolute;
  background-color: #F0F0F050;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 3px 10px;
  top: 50%;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.slide-arrow span:hover{
  background-color: #F0F0F090;
}
.main-prev{
  left: 5px;
}
.main-next{
  right: 5px;
}





/* 게시글 제목 */
.main-post-title{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  cursor: pointer;
}

/* 상품 이름 */
.main-post p{ 
  font-size: 14px;
  cursor: pointer;
}

/* 별 */
.main-post-title img{ 
  width: 16px; height: 16px;
  margin-right: 5px;
}

/* 상품 가격 */
.main-post>div>p{ 
  font-weight: bold;
  margin-left: 25px;
}


/* 인기 여행지, 슈퍼가이드 추천 여행지 */
.divide-main{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.divide-main p{
  font-size: 22px;
}

.divide-main img{
  width: 30px;
  margin-left: 5px;
}

/* more */
.post-more{
  font-size: 12px;
  right: 17%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.post-more button{
  background-color: transparent;
}









/* ***** footer ***** */
footer, footer .logo img{z-index: 100;}

footer{
  width: 100%; height: 40px; box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  display: flex; justify-content: space-around; align-items: center;
  background-color: #fff;
  margin-top: 80px;
}

footer .footer-event-link{position: absolute; left: 50%; transform: translateX(-15px);} 

.about-guido{
  position: absolute;
  left: 80px;
}
.about-guido img{
  margin-right: 20px;
}

.project-info{
  position: absolute;
  right: 80px;
  display: flex;
}
.project-info img{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* 정보 창 */
.info-about-us{
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #fff;
  border: 1px solid #C5C5C5; 
  border-radius: 20px;
  z-index: 300;
  bottom: 0;
}
.info-about-us {
  text-align: center;
  white-space: pre-line;
}
.about-us {
  white-space: nowrap;
}







