/* 폰트 웹폰트 우선 사용 */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap'); */
/* font-family: 'Noto Sans KR', sans-serif; 
font-weight: 100 / 400 / 700; 사용가능
*/

/* header.css에 선언하기 */
@font-face {
    font-family: 'Pretendard';
    src: url(/guidoFront/font/Pretendard-Light.woff) format('woff');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/guidoFront/font/Pretendard-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/guidoFront/font/Pretendard-Medium.woff) format('woff');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/guidoFront/font/Pretendard-Bold.woff) format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/guidoFront/font/Pretendard-ExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: bolder;
}

/* 기본 세팅 */
*{padding: 0; margin: 0; 
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: #000; text-decoration: none;}
button{border: none; user-select: none; cursor: pointer;}
svg{cursor: pointer; background-color: rgba(0, 0, 0, 0);}

/* 컬러 
: 컬러는 태그에 웬만하면 직접 지정해주세요
혹시 몰라서 클래스로 세팅 해놨습니다.*/
.colormain1{background-color: #0F4957;}
.colorsub1{background-color: #B1D8DA;}
.colormain2{background-color: #1C797D;}
.colorsub1{background-color: #FFE69A;}

/* 무채색 컬러 */
.monocolor1{background-color: #231F20;}
.monocolor2{background-color: #5C5C5C;}
.monocolor3{background-color: #C5C5C5;}
.monocolor4{background-color: #F0F0F0;}
.modalcolor{background-color: #5C5C5C60;}

/* 폰트 사이즈
: 폰트 사이즈는 피그마 보고 작업 해주세요. 
통일성을 위해 정해진 폰트 사이즈 안에서만 수정 부탁드립니다. */
.font0{font-size: 32px;} /* 강조 컨텐츠  32px 너무 크니까 사용 지양 */

<<<<<<< HEAD
<<<<<<< HEAD
.font1{font-size: 1.625rem;} /* 상세 페이지 제목 26px */
.font2{font-size: 1.375rem;} /* 상세 페이지 내용 중요한 정보 22px */
.font3{font-size: 1rem;} /* 헤더 컨텐츠 16px */
.font4{font-size: 0.875rem;} /* 컨텐츠 내용 타이틀 14px */
.font5{font-size: 0.75rem;} /* 가장 작은 컨텐츠 내용 본문 12px */
=======
.font1{font-size: 1.625rem;} /* 상세 페이지 제목 */
.font2{font-size: 1.375rem;} /* 상세 페이지 내용 중요한 정보 */
.font3{font-size: 1rem;} /* 헤더 컨텐츠 */
.font4{font-size: 0.875rem;} /* 컨텐츠 내용 타이틀 */
.font5{font-size: 0.75rem;} /* 가장 작은 컨텐츠 내용 본문 */

.font6{font-size: 0.625rem;} /* 제일 작은 거 눈에 안띄니까 사용 지양 */
>>>>>>> 5b2181cfbecf1e525c33a85c17b084651c05ec15
=======
.font1{font-size: 26px;} /* 상세 페이지 제목 */
.font2{font-size: 22px;} /* 상세 페이지 내용 중요한 정보 */
.font3{font-size: 16px;} /* 헤더 컨텐츠 */
.font4{font-size: 14px;} /* 컨텐츠 내용 타이틀 */
.font5{font-size: 12px;} /* 가장 작은 컨텐츠 내용 본문 */

.font6{font-size: 10px;} /* 제일 작은 거 눈에 안띄니까 사용 지양 */
>>>>>>> f104b2f5879a29130cce143822c77a1835afc15a


/* 반응형 포맷 - 갖다 쓰세용!*/
/*
@media screen and (max-width : 1024px) {

}
@media screen and (max-width : 767px) {

}
*/