<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/qna/qnaWrite.css}">
    
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
    
    <script th:src="@{/js/main/slide/jquery.min.js}"></script>
    <th:block th:replace="~{common/header}"></th:block>
</head>
<body>

    <div class="qna--container">
        

        <!-- <form th:action="@{/qna/insertQna}" method="POST" enctype="multipart/form-data"> -->

            <div class="qna--top">
                <div class="qna--top__first">
                    <div>가이두에 궁금하신 사항이 있으신가요?</div>
                    <div>아래에 남겨주시면 답변해 드리겠습니다.</div>
                </div>
        
                <div class="qna--top__second">
                    <div>상담 문의 처리에 필요한 정보만 기입해주시기 바랍니다. 요청 드리지 않은 개인정보를 임의로 입력 시
                        상담이 중단될 수 있습니다. </div>
                    <div>작성하신 내용에 욕설, 성희롱 등의 내용이 포함된 경우 관련 법령에 따라 조치될 수 있습니다.</div>
                </div>
            </div>
    
    
            <div class="qna--bottom">
                <div class="qna--email">
                    <div>답변받으실 이메일 <span class="essential--mark">&#42;</span></div>
                    
                    <div>
                        <input type="text" th:value="${session.loginUser?.userEmail}" placeholder="email.example.com" name="qnaEmail"
                        th:disabled="${session.loginUser?.userEmail != null}" class="input--data" autocomplete='off'>
                    </div>
                </div>
    
                <div class="qna--title">
                    <div class="qna--top__title">
                        <div>제목 <span class="essential--mark">&#42;</span> </div>
                        <div class="qna--count">(<div id="qnaTitleLength">0</div>/30)</div>
                    </div>
                    
                    <div>
                        <input type="text" placeholder="제목을 입력해주세요 (20자 이내)" name="qnaTitle" class="input--data" 
                            oninput="checkLength(30)" autocomplete='off'>
                    </div>
                </div>
    
    
                <!-- <div class="qna--category">
                    <div>문의 유형</div>
                </div> -->
    
                <div class="qna--content"> 
                    <div class="qna--top__content">
                        <div>문의 내용 <span class="essential--mark">&#42;</span></div>
                        <div class="qna--count">(<div id="qnaContentLength">0</div>/1000)</div>
                    </div>
    
                    <div>
                        <textarea name="qnaContent" placeholder="정확한 상담을 위하여 자세한 문의사항을 작성 부탁드립니다." oninput="checkLength(1000)"></textarea>
                    </div>
                </div>
    
    
                <div class="qna--file">
                    <div>첨부 파일</div>
                    <div>
                        <div>
                            <label for="file" class="file--label"> 
                                <img src="/images/qna/fileupload_icon.png" class="file--img__label">
                                <span><span class="click-to-upload">Click to upload</span> or drag and drop</span>
                                <span>Maximum file size 10MB.</span>
                                
                            </label>

                            <input type="file" onchange="addFile(this);" id="file" multiple/>
                        </div>
                        <div class="file-list"></div>
                    </div>
                </div>

            </div>


            <button id="qnaButton">submit</button>

        <!-- </form> -->


    </div>

    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script th:src="@{/js/qna/qnaWrite.js}"></script>

    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>