#demos .owl-carousel .item img{
    width: 100%; height: 100%; border-radius: 20px;
    border: 1px solid #C5C5C5;
}
#demos .owl-carousel .item{
    border-radius: 20px; padding: 10px;
}
.owl-carousel .owl-nav button.owl-next{
    position: absolute; top: 130px; right: -60px;
}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute; top: 130px; left: -60px;
}
[aria-label="Previous"], [aria-label="Next"]{
    font-size:32px; 
    height: 40px; line-height: 40px; display: inline;
    /* margin-bottom: 4px; padding-bottom: 4px; */
    /* text-align: center;  */
    position: absolute; top: -2px; left: 20px;
}
[aria-label="Previous"]{
    top: -3px; left: 15px;
}
[aria-label="Next"]{
    top: -3px; left: 16px;
}