<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/eventDetail.css}">
    <style>
        header {
            width: 100%;
            height: 80px;
            background-color: #B1D8DA;
        }
    </style>
</head>

<body>
    <header>
        임시헤더
    </header>
    <main class="main">
        <div class="board-name-area">
            EVENT
        </div>
        <div class="board-container" th:object="${event}">
            <div class="title-area" th:text="*{eventName}">
                국내 여행 이벤트
            </div>
            <div class="date-area" th:text="*{createDt}">
                2023년 6월 1일 16시 19분
            </div>
            <div class="content-area">
                <th:block th:each="file : *{fileList}">
                    <img th:src="${file.filePath}" alt="">
                </th:block>
                <div class="content" th:text="*{eventContent}">
                </div>
            </div>
        </div>
        <div class="btn-area">
            <a th:href="@{/admin/eventList}">
                <button type="button" class="btn" id="listBtn">
                    목록
                </button>
            </a>
            <a th:if="${1==1}" th:href="@{#}">
                <button type="button" class="btn" id="updateBtn">
                    수정
                </button>
            </a>
        </div>
    </main>
</body>
</html>