<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" th:href="@{/css/admin/eventDetail.css}">
    <style>
        header {
            width: 100%;
            height: 80px;
            background-color: #B1D8DA;
        }
    </style>
</head>

<body>
    <header>
        임시헤더
    </header>
    <main class="main">
        <div class="board-name-area">
            EVENT
        </div>
        <div class="board-container">
            <div class="title-area">
                국내 여행 이벤트
            </div>
            <div class="date-area">
                2023년 6월 1일 16시 19분
            </div>
            <div class="content-area">
                <img src="../images/admin/very-high-resolution.jpg">
                <img src="../images/admin/very-high-resolution.jpg">
                <img src="../images/admin/a.jpg">
                <img src="https://caching.lottecinema.co.kr//Media/Event/04b0c7ae585e4af2b031ef2c623b193d.jpg">
                <div class="content">
이벤트 내용입니다.


유의사항
본 투어의 최소 출발 인원은 2 명이며, 최소 출발 인원 미달 시 출발 3 일 전에 이메일을 통해 투어 취소를 안내드립니다.
태풍, 눈보라 등의 악천후의 경우 출발 1일 전 (현지 시간 18:00)에 투어 출발 가능 여부가 결정되며 이메일을 통해 안내드립니다.
다음과 같은 질병을 가진 분들이나 과도한 자극에 적합하지 않은 분들은 본 활동에 참여하실 수 없습니다.
고혈압, 심장병, 고소공포증, 천식, 뇌전증, 임산부
일정에 차질이 생기지 않도록 지정된 장소에 10분 전까지 도착해주시기 바랍니다. 지각 시 기다리지 않습니다.
주문이 확정된 후에는 날짜를 임의로 변경할 수 없습니다. 발생하는 모든 손실에 대한 책임은 귀하에게 있습니다.
개인적인 사정, 지각 등의 사유로 투어에 참여하지 않거나 취소하는 경우 환불되지 않습니다.
예약 시 정확한 정보(이름 + 인원수 + 전화번호 + WeChat ID + 탑승 장소)를 반드시 기재하여 투어에 영향을 미칠 수 있는 실수를 방지하시기 바랍니다.
교통 상황, 날씨, 축제 및 당일 인파에 따라 각 여정의 도착 시간이 변경될 수 있습니다. 상기 또는 기타 불가항력 요인으로 인해 여정이 지연되거나 취소되는 경우 환불되지 않습니다. 이해해 주셔서 감사합니다.
고령자, 고혈압, 심장병 및 기타 심혈관 질환자, 임산부 등은 가족 동반을 권장합니다.
이 투어에 참여하려면 가볍고 적절한 복장과 신발을 착용하십시오.
법을 위반하고 귀하의 권리에 영향을 미치지 않도록 일본의 현지 법률과 규정을 준수하고 일본 법에서 금지하는 품목을 휴대하지 마십시오.
이 일정은 공유 투어입니다. 본 투어에 참여하는 고객은 각 명승지의 체류 시간을 준수하고 직원의 배치를 따라야 합니다.
투어 중 여권과 귀중품은 안전하게 보관하시기 바랍니다. 분실, 도난, 파손 등이 발생하는 경우 발생하는 모든 손실에 대한 책임은 귀하에게 있습니다.
- 투어 중 임의로 그룹에서 이탈하는 경우 거래가 무효 처리되며 수수료는 환불되지 않습니다. 그리고 그것이 재산 손실이나 개인 안전에 영향을 미칠 경우 그 결과는 귀하가 부담해야 합니다.
유연한 일정을 원하시면 전세 여행 서비스를 참조하십시오.
                </div>
            </div>
        </div>
        <div class="btn-area" style="text-align: center;"><a href="#"><button id="listBtn">목록으로</button></a></div>
    </main>
</body>
</html>