<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <style>
        header {
            width: 100%;
            height: 80px;
            background-color: #B1D8DA;
        }
    </style>
</head>

<body>
    <header>
        임시헤더
    </header>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">이벤트 목록</h1>
                <div class="btn-container">
                    <a th:href="@{writeEvent}"><button type="buttion" id='writeEventBtn' class="btn btn1">글 작성</button></a>
                    <button type="buttion" class="btn btn2">블라인드</button>
                </div>
            </div>

            <hr>


            <div class="content-count-and-search">
                <!-- 카운트 -->
                <div class="count-container">총 <span th:text="${map.pagination.listCount}">건 수</span>건</div>
                <!-- 검색창 -->
                <div class="search-container"><input type="text" name="query" id="search"><button id="searchBtn"><img th:src="@{/images/admin/searchBtn.svg}" alt="" id="searchImg"></button></div>
            </div>

            <!-- 테이블 -->
            <table id="table">
                <!---------------------------------- 테이블 제목 ------------------------------>
                <thead>
                    <tr><th class="col-checkbox"><input type="checkbox" id="checkAll"></th><th class="col-number">번호</th><th class="col-title">제목</th>
                    <th class="col-date">작성일</th><th class="col-date">종료일</th><th class="col-blind">블라인드</th><th class="col-main-banner">메인 배너 설정</th></tr>
                </thead>
                <tbody>
                    <tr class="여백"></tr>
                    <th:block th:each="event : ${map.list}" th:object="${event}">
                        <tr>
                            <td><input type="checkbox" name="checkbox" class="checkbox" th:value="*{EVENT_NO}"></td>
                            <td th:text="*{EVENT_NO}">글번호</td>
                            <td th:utext='|<a href="@{/event/eventDetail}/*{EVENT_NO}">*{EVENT_NAME}</a>|'>글제목</td>
                            <td th:text="*{CREATE_DT}">작성일</td>
                            <td th:text="*{EVENT_END_DT}">종료일</td>
                            <td>
                                <button type="buttion" th:if='*{EVENT_STATE=="N"}' class="btn btn3">블라인드</button>
                                <button type="buttion" th:if='*{EVENT_STATE=="B"}' class="btn btn4">블라인드 해제</button>
                            </td>
                            <td>
                                <button type="buttion" th:unless='*{MAIN_BANNER_ORDER}' class="btn btn3 set-main-banner">메인 배너 설정</button>
                                <button type="buttion" th:if='*{MAIN_BANNER_ORDER}' th:text="|*{MAIN_BANNER_ORDER}번째 메인 배너|" class="btn btn4 main-banner"></button>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        
            <!-- 게시글이 있을 때만 페이지네이션 보이기 -->
            <th:block th:unless="${#lists.size(list) == 0}" th:replace="~{/admin/pagination}" />
            <div th:text="${application.mainEventList}"></div>
        </div>
        <!-- <div id="modal" class="modal">
            <div id="modalContent" th:object="${application.mainEventList}">
                <h1>메인 배너 설정</h1>
                <hr>
                <span id="selectedEventNo">1</span>번 이벤트를
                <select name="" id="">
                    <option>선택</option>
                    <option value="1">1번째</option>
                    <option value="2">2번째</option>
                    <option value="3">3번째</option>
                    <option value="4">4번째</option>
                    <option value="5">5번째</option>
                    <option value="6">6번째</option>
                    <option value="7">7번째</option>
                    <option value="8">8번째</option>
                </select>
                메인 배너로 설정할까요?
                <div>
                    <button class="btn btn1">확인</button>
                    <button class="btn btn2">취소</button>
                </div>
            </div>
        </div> -->
        <div id="modal" class="modal">
            <div id="modalContent">
                <h1>메인 배너 설정</h1>
                <hr>
                <span id="selectedEventNo">1</span>번 이벤트를
                <select name="modalSelect" id="modalSelect">
                    <option>선택</option>
                    <option th:each="mainEvent : ${application.mainEventList}" th:value="${mainEvent.MAIN_BANNER_ORDER}"
                        th:text="|${mainEvent.MAIN_BANNER_ORDER}번째 (${mainEvent.EVENT_NO != 0 ? mainEvent.EVENT_NO+'번 이벤트' : '비어있음'})|">
                    </option>
                </select>
                메인 배너로 설정할까요?
                <div>
                    <button class="btn btn1 modal-submit">확인</button>
                    <button class="btn btn2 modal-cancel">취소</button>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/js/admin/admin.js}"></script>
    <!-- <script th:inline="javascript">
        const list = /*[[${map.list}]]*/"리스트";
    </script> -->
</body>
</html>