<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>

<body>
    <th:block th:replace="~{admin/header}"></th:block>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">이벤트 목록</h1>
                <div class="btn-container">
                    <a th:href="@{writeEvent}"><button type="buttion" id='writeEventBtn' class="btn btn1">글
                            작성</button></a>
                    <button type="buttion" class="btn btn0" id="blindBtn">블라인드</button>
                    <button type="buttion" class="btn btn2" id="blindCancelBtn">블라인드 해제</button>
                </div>
            </div>

            <hr>


            <div class="content-count-and-search">
                <!-- 카운트 -->
                <div class="count-container">총 <span th:text="${map.pagination.listCount}">건 수</span>건</div>
                <!-- 검색창 -->
                <form th:action="${pageName}" method="get">
                    <div class="search-container">
                        <input type="text" name="query" id="search">
                        <button id="searchBtn"><img th:src="@{/images/admin/searchBtn.svg}" alt="" id="searchImg"></button>
                    </div>
                </form>
            </div>

            <!-- 테이블 -->
            <table id="table">
                <!---------------------------------- 테이블 제목 ------------------------------>
                <thead>
                    <tr>
                        <th class="col-checkbox"><input type="checkbox" id="checkAll"></th>
                        <th class="col-number">번호</th>
                        <th class="col-title">제목</th>
                        <th class="col-date size500">작성일</th>
                        <th class="col-date size500">종료일</th>
                        <th class="col-blind size500">블라인드</th>
                        <th class="col-main-banner">메인 배너 설정</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="여백"></tr>
                    <th:block th:each="event : ${map.list}" th:object="${event}">
                        <tr>
                            <td><input type="checkbox" name="checkbox" class="checkbox" th:value="*{EVENT_NO}"></td>
                            <td th:text="*{EVENT_NO}">글번호</td>
                            <td class="eventName" th:utext='|<a href="@{/event/eventDetail}/*{EVENT_NO}">*{EVENT_NAME}</a>|'>글제목</td>
                            <td class="size500" th:text="*{CREATE_DT}">작성일</td>
                            <td class="size500" th:text="*{EVENT_END_DT}">종료일</td>
                            <td class="size500">
                                <button type="buttion" th:if='*{EVENT_STATE=="N"}' class="btn btn3 blind-btn">블라인드</button>
                                <button type="buttion" th:if='*{EVENT_STATE=="B"}' class="btn btn4 blind-cancel-btn">블라인드 해제</button>
                            </td>
                            <td th:if='*{EVENT_STATE=="N"}'>
                                <button type="buttion" th:unless='*{MAIN_BANNER_ORDER}'
                                    class="btn btn3 set-main-banner">메인 배너 설정</button>
                                <button type="buttion" th:if='*{MAIN_BANNER_ORDER}'
                                    th:text="|*{MAIN_BANNER_ORDER}번째 메인 배너|" class="btn btn4 main-banner"></button>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <th:block th:replace="~{/admin/pagination}"/>
        </div>
        <div id="modal" class="modal">
            <div id="modalContent">
                <h1>메인 배너 설정</h1>
                <hr>
                <div>
                    <span id="selectedEventNo">1</span>번 이벤트를
                    <select name="modalSelect" id="modalSelect">
                        <option value>선택</option>
                        <option th:each="mainEvent : ${application.mainEventList}"
                            th:value="${mainEvent.MAIN_BANNER_ORDER}"
                            th:text="|${mainEvent.MAIN_BANNER_ORDER}번째 (${mainEvent.EVENT_NO != 0 ? mainEvent.EVENT_NO+'번 이벤트' : '비어있음'})|">
                        </option>
                    </select>
                    메인 배너로 설정합니다.
                </div>
                <div class="modal-btn-area">
                    <button class="btn btn1 modal-submit">확인</button>
                    <button class="btn btn2 modal-cancel">취소</button>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/js/admin/admin.js}"></script>
    <!-- <script th:inline="javascript">
        const list = /*[[${map.list}]]*/"리스트";
    </script> -->
</body>

</html>