<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>

<body>
    <th:block th:replace="@{admin/header}"></th:block>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">가이드 승인 요청 관리</h1>
                <div class="btn-container">
                    <button class="btn btn5" id="approveBtn">승인하기</button>
                </div>
            </div>

            <hr>

            <div class="content-count-and-search">
                <!-- 카운트 -->
                <div class="count-container">총 <span th:text="${map.pagination.listCount}"></span>건</div>
                <!-- 검색창 -->
                <form th:action="${pageName}" method="get">
                    <div class="search-container">
                        <input type="text" name="query" id="search">
                        <button id="searchBtn"><img th:src="@{/images/admin/searchBtn.svg}" alt="" id="searchImg"></button>
                    </div>
                </form>
            </div>

            <!-- 테이블 -->
            <table id="table">

                <!---------------------------------- 테이블 제목 ------------------------------>
                <thead>
                    <tr><th class="col-checkbox"><input type="checkbox" id="checkAll"></th><th class="col-number">회원 번호</th><th class="col-email size500">회원 이메일</th>
                    <th class="col-date size500">요청일</th><th class="col-confirmationNo">확인증 번호</th><th class="col-approval">승인</th></tr>
                </thead>
                <tbody>
                    <tr class="여백"></tr>
                    <th:block th:each="user : ${map.list}" th:object="${user}">
                        <tr>
                            <td><input type="checkbox" name="checkbox" class="checkbox" th:value="*{USER_NO}"></td>
                            <td th:text="*{USER_NO}">회원번호</td>
                            <td class="size500" th:text="*{USER_EMAIL}">이메일</td>
                            <td class="size500" th:text="*{CREATE_DT}">가입일</td>
                            <td class="confirmation-no" th:text="*{CONFIRMATION_NO}"></td>
                            <td>
                                <button class="btn btn6 approve-btn"><!-- 승인버튼 --></button>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <th:block th:replace="~{/admin/pagination}"/>
        </div>
    </main>
    <script th:src="@{/js/admin/admin.js}"></script>
</body>
</html>