<style th:src="@{/css/common/style}"></style>
<script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>
<header id="adminHeader">
    <div id="sideMenuBtn"><i class="fa-solid fa-bars"></i></div>
    <div class="logo"><a th:href="@{/}"><img id="logo" th:src="@{/images/guido_test.png}" alt="메인 로고"></a></div>
    <div id="administrator">관리자 페이지</div>
</header>

<script>
    document.getElementById('sideMenuBtn').addEventListener('click',()=>{
        document.querySelector('.menu-container').classList.toggle('open')
    })
</script>