<div th:unless="${map.pagination.listCount == 0}" class="pagination-container">
    <ul class="pagination">
        <!-- 첫 페이지로 이동 -->
        <li>
            <a th:href="@{{pageName}(pageName=${pageName}, cp=1, state=${param.state}, query=${param.query}, super=${param.super})}">&lt;&lt;</a>
        </li>

        <!-- 이전 목록 마지막 번호로 이동 -->
        <li>
            <a th:href="@{{pageName}(pageName=${pageName}, cp=${map.pagination.prevPage}, state=${param.state}, query=${param.query}, super=${param.super})}">&lt;</a>
        </li>

        <!-- #numbers.sequence(시작, 끝 [,step]) -->
        <!-- 특정 페이지로 이동 -->
        <th:block th:each="i : ${#numbers.sequence(map.pagination.startPage, map.pagination.endPage, 1)}">
            <!-- 현재 보고있는 페이지 -->
            <li th:if="${i == map.pagination.currentPage}">
                <a class="current" th:text="${i}">현재 페이지</a>
            </li>

            <!-- 현재 페이지를 제외한 나머지 -->
            <li th:unless="${i == map.pagination.currentPage}">
                <a th:href="@{{pageName}(pageName=${pageName}, cp=${i}, state=${param.state}, query=${param.query}, super=${param.super})}"
                    th:text="${i}">현재 페이지</a>
            </li>
        </th:block>

        <!-- 다음 목록 시작 번호로 이동 -->
        <li>
            <a th:href="@{{pageName}(pageName=${pageName}, cp=${map.pagination.nextPage}, state=${param.state}, query=${param.query}, super=${param.super})}">&gt;</a>
        </li>

        <!-- 끝 페이지로 이동 -->
        <li>
            <a th:href="@{{pageName}(pageName=${pageName}, cp=${map.pagination.maxPage}, state=${param.state}, query=${param.query}, super=${param.super})}">&gt;&gt;</a>
        </li>
    </ul>
</div>