<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" href="../css/style.css"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" href="../css/admin/admin.css">
    <style>
        header {
            width: 100%;
            height: 80px;
            background-color: #B1D8DA;
        }
    </style>
</head>

<body>
    <header>
        임시헤더
    </header>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">판매자 상품 관리</h1>
                <div class="btn-container">
                    <button class="btn btn1">블라인드</button>
                </div>
            </div>

            <hr>


            <div class="content-count-and-search">
                <!-- 카운트 -->
                <div class="count-container">총 <span th:text="${map.pagination.listCount}"></span>건</div>
                <!-- 검색창 -->
                <div class="search-container"><input type="text" name="" id="search"><button id="searchBtn"><img src="../images/admin/searchBtn.svg" alt="" id="searchImg"></button></div>
            </div>

            <!-- 테이블 -->
            <table id="table">

                <!---------------------------------- 테이블 제목 ------------------------------>
                <thead>
                    <tr><th class="col-checkbox"><input type="checkbox" id="checkAll"></th><th class="col-number">상품 번호</th><th class="col-email">판매자 이메일</th>
                    <th class="col-title">제목</th><th class="col-date">등록일</th><th class="col-blind">블라인드</th></tr>
                </thead>
                <tbody>
                    <tr class="여백"></tr>
                    <th:block th:each="product : ${map.list}" th:object="${product}">
                        <tr>
                            <td><input type="checkbox" name="checkbox" class="checkbox" th:value="*{PRODUCT_NO}"></td>
                            <td th:text="*{PRODUCT_NO}">회원번호</td>
                            <td th:text="*{USER_EMAIL}">이메일</td>
                            <td th:text="*{PRODUCT_NAME}">제목</td>
                            <td th:text="*{CREATE_DT}">등록일</td>
                            <td>
                                <button type="buttion" th:if='*{PRODUCT_STATE=="N"}' class="btn btn3">블라인드</button>
                                <button type="buttion" th:if='*{PRODUCT_STATE=="B"}' class="btn btn4">블라인드 해제</button>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <!-- 게시글이 있을 때만 페이지네이션 보이기 -->
            <th:block th:unless="${#lists.size(list) == 0}" th:replace="~{/admin/pagination}"/>
        </div>
    </main>
    <script th:src="@{/js/admin/admin.js}"></script>
</body>
</html>