<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>

<body>
    <th:block th:replace="~{admin/header}"></th:block>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">판매자 상품 관리</h1>
                <div class="btn-container">
                    <button type="buttion" class="btn btn0" id="blindBtn">블라인드</button>
                    <button type="buttion" class="btn btn2" id="blindCancelBtn">블라인드 해제</button>
                </div>
            </div>

            <hr>


            <div class="content-count-and-search">
                <!-- 카운트 -->
                <div class="count-container">총 <span th:text="${map.pagination.listCount}"></span>건</div>
                <!-- 검색창 -->
                <form th:action="${pageName}" method="get">
                    <div class="search-container">
                        <input type="text" name="query" id="search">
                        <button id="searchBtn"><img th:src="@{/images/admin/searchBtn.svg}" alt="" id="searchImg"></button>
                    </div>
                </form>
            </div>

            <!-- 테이블 -->
            <table id="table">

                <!---------------------------------- 테이블 제목 ------------------------------>
                <thead>
                    <tr><th class="col-checkbox"><input type="checkbox" id="checkAll"></th><th class="col-number">상품 번호</th><th class="col-email size500">판매자 이메일</th>
                    <th class="col-title">제목</th><th class="col-date size500">등록일</th><th class="col-blind">블라인드</th></tr>
                </thead>
                <tbody>
                    <tr class="여백"></tr>
                    <th:block th:each="product : ${map.list}" th:object="${product}">
                        <tr>
                            <td><input type="checkbox" name="checkbox" class="checkbox" th:value="*{PRODUCT_NO}"></td>
                            <td th:text="*{PRODUCT_NO}">회원번호</td>
                            <td class="size500" th:text="*{USER_EMAIL}">이메일</td>
                            <td><a th:href="@{/productDetail/product/}+*{PRODUCT_NO}" th:text="*{PRODUCT_NAME}"></a></td>
                            <td class="size500" th:text="*{CREATE_DT}">등록일</td>
                            <td>
                                <button type="buttion" th:if='*{PRODUCT_STATE=="N"}' class="btn btn3 blind-btn">블라인드</button>
                                <button type="buttion" th:if='*{PRODUCT_STATE=="B"}' class="btn btn4 blind-cancel-btn">블라인드 해제</button>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <th:block th:replace="~{/admin/pagination}"/>
        </div>
    </main>
    <script th:src="@{/js/admin/admin.js}"></script>
</body>
</html>