<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>

<body>
    <th:block th:replace="@{admin/header}"></th:block>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">정산 관리</h1>
            </div>
            <hr>
            <div class="content-count-and-search">
                <!-- 카운트 -->
                <div class="count-container">총 <span th:text="${map.pagination.listCount}"></span>건</div>
                <!-- 검색창 -->
                <form th:action="${pageName}" method="get">
                    <div class="search-container">
                        <input type="text" name="query" id="search">
                        <button id="searchBtn"><img th:src="@{/images/admin/searchBtn.svg}" alt="" id="searchImg"></button>
                    </div>
                </form>
            </div>
            <table id="table">
                <thead>
                    <tr>
                        <th>주문 번호</th>
                        <th class="size1300">상품 제목</th>
                        <th class="size1024">구매자 이메일</th>
                        <th>결제 금액(a)</th>
                        <th>수수료 10%(b)</th>
                        <th>총 정산 금액(a-b)</th>
                        <th class="size500">정산 완료일</th>
                        <th>정산 상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reservation:${map.list}" th:object="${reservation}">
                        <td class="orderNumber" th:text="*{ORDER_NUMBER}">주문번호</td>
                        <td class="size1300" th:text="*{PRODUCT_NAME}">상품 제목</td>
                        <td class="size1024" th:text="*{USER_EMAIL}">구매자 이메일</td>
                        <td th:text="*{TOTAL_PRICE}">결제 금액</td>
                        <td th:text="*{COMMITION}">수수료</td>
                        <td th:text="*{FINAL_PRICE}">정산 금액</td>
                        <td class="size500"  th:text="*{DATE}">정산일</td>
                        <td th:text="*{RESERVATION_STATE=='D'?'완료':'미완료'}">정산 상태</td>
                    </tr>
                </tbody>
            </table>
            <th:block th:replace="~{/admin/pagination}"/>
        </div>
    </main>
</body>

</html>