<div class="menu-container colormain1">
    <ul class="menu-group">
        <li class="menu-title">이벤트</li>
        <li id="eventList" class="menu-item"><a th:href="@{eventList}">이벤트 목록</a></li>
    </ul>
    <ul class="menu-group">
        <li class="menu-title">회원</li>
        <li id="touristManagement" class="menu-item"><a th:href="@{touristManagement}">구매자 관리</a></li>
        <li id="guideManagement" class="menu-item"><a th:href="@{guideManagement}">판매자 관리</a></li>
        <li id="guideApprovalRequest" class="menu-item"><a th:href="@{guideApprovalRequest}">가이드 요청 승인 관리</a></li>
    </ul>

    <ul class="menu-group">
        <li class="menu-title">상품</li>
        <li id="productManagement" class="menu-item"><a th:href="@{productManagement}">판매자 상품 관리</a></li>
        <li id="settlementManagement" class="menu-item"><a th:href="@{settlementManagement}">정산 관리</a></li>
    </ul>

    <ul class="menu-group">
        <li class="menu-title">문의사항</li>
        <li id="qna" class="menu-item"><a th:href="@{qna}">1:1 문의사항</a></li>
    </ul>
</div>

<script th:inline="javascript">
    document.getElementById(/*[[${pageName}]]*/).classList.add("selected-menu");
</script>