<div class="menu-container colormain1">
    <ul class="menu-group">
        <li class="menu-title">이벤트</li>
        <li class="menu-item selected-menu"><a th:href="@{eventList}">이벤트 목록</a></li>
    </ul>
    <ul class="menu-group">
        <li class="menu-title">회원</li>
        <li class="menu-item"><a th:href="@{touristManagement}">구매자 관리</a></li>
        <li class="menu-item"><a th:href="@{guideManagement}">판매자 관리</a></li>
        <li class="menu-item"><a th:href="@{guideApprovalRequest}">가이드 요청 승인 관리</a></li>
    </ul>

    <ul class="menu-group">
        <li class="menu-title">상품</li>
        <li class="menu-item"><a th:href="@{productManagement}">판매자 상품 관리</a></li>
        <li class="menu-item"><a th:href="@{settlementManagement}">정산 관리</a></li>
    </ul>

    <ul class="menu-group">
        <li class="menu-title">문의사항</li>
        <li class="menu-item"><a th:href="@{qna}">1:1 문의사항</a></li>
    </ul>
</div>