<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" href="../css/style.css"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" href="../css/admin/admin.css">
    <style>
        header {
            width: 100%;
            height: 80px;
            background-color: #B1D8DA;
        }
    </style>
</head>
<body>
    <header>
        임시헤더
    </header>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">구매자 관리</h1>
                <div class="btn-container">
                    <button class="btn btn1">탈퇴</button>
                    <button class="btn btn2">블락</button>
                    <button class="btn btn1">해제</button>
                </div>
            </div>

            <hr>


            <div class="content-search-container">
                <!-- 라디오버튼 -->
                <div class="radio-area">
                    <span>회원 상태</span>
                    <input type="radio" name="state" id="whole" checked><label for="whole">전체</label>
                    <input type="radio" name="state" id="normal"><label for="normal">정상</label>
                    <input type="radio" name="state" id="secession"><label for="secession">탈퇴</label>
                    <input type="radio" name="state" id="block"><label for="block">블락</label>
                </div>
                <!-- 검색창 -->
                <div class="search-container"><input type="text" name="" id="search"><button id="searchBtn"><img src="../images/admin/searchBtn.svg" alt="" id="searchImg"></button></div>
            </div>
            <!-- 카운트 -->
            <div class="count-container">총 <span th:text="${map.pagination.listCount}"></span>건</div>

            <!-- 테이블 -->
            <table id="table">


                <!---------------------------------- 테이블 제목 ------------------------------>
                <thead>
                    <tr><th class="col-checkbox"><input type="checkbox" id="checkAll"></th><th class="col-number">회원번호</th><th class="col-email">이메일</th>
                    <th class="col-passportNo">여권번호</th><th class="col-date">가입일</th><th class="col-state">회원 상태</th></tr>
                </thead>
                <tbody>
                    <tr class="여백"></tr>
                    <th:block th:each="user : ${map.list}" th:object="${user}">
                        <tr>
                            <td><input type="checkbox" name="checkbox" class="checkbox" th:value="*{USER_NO}"></td>
                            <td th:text="*{USER_NO}">회원번호</td>
                            <td th:text="*{USER_EMAIL}">이메일</td>
                            <td th:text="*{PASSPORT_NO}">여권번호</td>
                            <td th:text="*{CREATE_DT}">가입일</td>
                            <td th:text="*{USER_STATE == 'Y' ? '미승인' : (USER_STATE == 'N' ? '정상' : (USER_STATE == 'B' ? '블락' : (USER_STATE == 'D' ? '탈퇴' : '')))}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <!-- 게시글이 있을 때만 페이지네이션 보이기 -->
            <th:block th:unless="${#lists.size(list) == 0}" th:replace="~{/admin/pagination}"/>
        </div>
    </main>
    <script th:src="@{/js/admin/admin.js}"></script>
</body>
</html>