<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin/writeAnswer.css}">
    <link rel="stylesheet" th:href="@{/css/lightbox/lightbox.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
</head>

<body>
    <th:block th:replace="~{admin/header}"></th:block>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>


        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">1:1 답변</h1>
            </div>
            <hr>
            <div class="content-area">
                <div class="write-header">문의 내용</div>
                <div class="writer-and-date">
                    <div class="writer">
                        작성자 : <span th:text="${qna.qnaEmail}">user01@kh.or.kr</span> <span th:text="${qna.userNo}?'(회원)':'(비회원)'"></span>
                    </div>
                    <div class="date" th:text="${qna.qnaDate}">2023-06-07</div>
                </div>
                <div class="q-title" th:text="${qna.qnaTitle}">제목</div>
                <div class="q-content" th:text="${qna.qnaContent}">내용</div>
                <div class="q-img-container">
                    <th:block th:each="file : ${qna.fileList}">
                        <a th:href="${file.filePath}" data-lightbox="gallery"><img th:src="${file.filePath}"></img></a>
                    </th:block>
                </div>
                <form th:action="@{/admin/writeAnswer}" method="POST" id="form">
                    <div class="answer-area">
                        <div>
                            <img th:src="@{/images/admin/material-symbols_reply.svg}" alt="">
                        </div>
                        <textarea name="qnaAnswer" id="answer" th:text="${qna.qnaAnswer}"></textarea>
                    </div>
                    <div class="btn-area"><button type="submit" class="sbmt-btn">등록</button></div>
                    <input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
                </form>
            </div>
        </div>
    </main>
    <script th:src="@{/js/lightbox/lightbox.js}"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
    <script th:inline="javascript">
        const list = /*[[${qna}]]*/"리스트";
        const form = document.getElementById('form');
        form.addEventListener('submit',e=>{
            e.preventDefault();
            if(confirm('답변을 등록하면 답변 완료 처리되고, 문의자에게 답변 메일이 전송됩니다. 정말 등록하시겠습니까?'))
                form.submit();
        })
    </script>
</body>
</html>