<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin/writeEvent.css}">
</head>

<body>
    <th:block th:replace="@{admin/header}"></th:block>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>
        
        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title" th:text="${event}?'이벤트 수정':'이벤트 작성'">타이틀</h1>
            </div>
            <hr>

            <form class="event-write-form" th:action="@{/admin/}+(${event}?'updateEvent':'writeEvent')" method="POST" id="eventWriteForm" enctype="multipart/form-data">
                <input th:if="${event}" type="hidden" name="eventNo" th:value="${event.eventNo}">
                <div class="name-and-period">
                    <div class="name-area">
                        <div class="write-header">이벤트 제목 <span class="red">*</span></div>
                        <input type="text" name="eventName" id="eventTitle" placeholder="이벤트 명과 이벤트 기간을 입력해주세요." th:value="${event?.eventName}">
                    </div>
                    <div class="period-container">
                        <div class="write-header">이벤트 기간 <span class="red">*</span></div>
                        <input type="date" id="createDt" class="date" readonly>
                        <span> ~ </span>
                        <input type="date" name="eventEndDt" id="eventEndDt" class="date">
                    </div>
                </div>
                <div class="write-header">
                    첨부 사진(<span id="count"></span>/5) <span class="red">*</span>
                    <span class="tooltip">?
                        <span class="tooltip-content">1. 첫 번째 이미지는 반드시 등록해야 합니다.
2. 첫 번째 이미지는 썸네일로 사용되며, 본문 내용에는 포함되지 않습니다.
3. 썸네일의 최적화 사이즈는 880*400px 입니다.</span>
                    </span>
                </div>
                <div class="img-slide-area">
                    <div class="img-area">
                        <div class="img-box">
                            <label for="img0" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img0">
                            <input type="hidden" name="imageDeleteFl" class="image-delete-fl" value="n">
                        </div>
                        <div class="img-box">
                            <label for="img1" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img1">
                            <input type="hidden" name="imageDeleteFl" class="image-delete-fl" value="n">
                        </div>
                        <div class="img-box">
                            <label for="img2" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img2">
                            <input type="hidden" name="imageDeleteFl" class="image-delete-fl" value="n">
                        </div>
                        <div class="img-box">
                            <label for="img3" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img3">
                            <input type="hidden" name="imageDeleteFl" class="image-delete-fl" value="n">
                        </div>
                        <div class="img-box">
                            <label for="img4" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img4">
                            <input type="hidden" name="imageDeleteFl" class="image-delete-fl" value="n">
                        </div>
                    </div>
                    <button type="button" class="img-slide-left-btn"><img th:src="@{/images/admin/slide_left_btn.svg}" alt=""></button>
                    <button type="button" class="img-slide-right-btn"><img th:src="@{/images/admin/slide_right_btn.svg}" alt=""></button>
                </div>
                <div class="write-header">
                    썸네일 배경 색상 지정
                    <span class="tooltip">?
                        <span class="tooltip-content">배경색상은 메인 배너 지정시 사용됩니다. 썸네일 이미지의 배경색과 동일하게 지정해주세요. 배경 색상을 지정하지 않으면 기본값으로 white 색상이 지정됩니다.</span>
                    </span>
                </div>
                <div class="clr-field">
                    <button class="clr-field" aria-labelledby="clr-open-label"></button>
                    <input type="text" data-coloris id="clr" name="bgColor" th:value="${event?.bgColor}">
                </div>
                <div class="write-header">이벤트 설명 <span class="red">*</span></div>
                <textarea name="eventContent" id="eventContent" placeholder="이벤트에 대한 설명(이벤트명, 기간, 장소, 시간, 참여비, 문의처 등등) 을 상세히 작성해주세요."
                th:text="${event?.eventContent}"></textarea>
                <div class="btn-area">
                    <button type="submit" class="sbmt-btn">
                        등록
                    </button>
                </div>
            </form>
        </div>
    </main>
    <script th:src="@{https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js}"></script>
    <script th:src="@{/js/admin/writeEvent.js}"></script>
    <script th:inline="javascript">
        const createDt = /*[[${event?.createDt}]]*/ createDt;
        const eventEndDt = /*[[${event?.eventEndDt}]]*/ eventEndDt;

        if(createDt == null)
        /* 이벤트 시작 일을 오늘 날짜로 설정 */
            document.getElementById('createDt').value = new Date().toISOString().split('T')[0];
        else {
            document.getElementById('createDt').value = createDt.split(' ')[0];
            document.getElementById('eventEndDt').value = eventEndDt.split(' ')[0];
        }

        const imageList = /*[[${event?.fileList}]]*/[];
        const previewList = document.querySelectorAll(".preview")

        if(imageList != null)
            for(let img of imageList) {
                previewList[img.fileOrder].src = img.filePath;
                previewList[img.fileOrder].classList.remove('hidden');
                addLabel[img.fileOrder].classList.add("hidden");
            }

        updateCount();
    </script>
</body>
</html>