<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin/writeEvent.css}">
    <style>
        header {
            width: 100%;
            height: 80px;
            background-color: #B1D8DA;
        }
    </style>
</head>

<body>
    <header>
        임시헤더
    </header>
    <main>
        <!-- 사이드 메뉴 -->
        <th:block th:replace="~{admin/sideMenu}"></th:block>
        
        <!-- 내용 컨테이너 -->
        <div class="content-container">
            <div class="content-header">
                <h1 class="content-title">이벤트 작성</h1>
            </div>
            <hr>

            <form class="event-write-form" th:action="@{/admin/writeEvent}" method="POST" id="eventWriteForm" enctype="multipart/form-data">
                <div class="name-and-period">
                    <div class="name-area">
                        <div class="write-header">이벤트 제목 <span class="red">*</span></div>
                        <input type="text" name="eventName" id="eventTitle" placeholder="이벤트 명과 이벤트 기간을 입력해주세요.">
                    </div>
                    <div class="period-container">
                        <div class="write-header">이벤트 기간 <span class="red">*</span></div>
                        <input type="date" id="today" class="date" readonly>
                        <span> ~ </span>
                        <input type="date" name="eventEndDt" id="eventEndDt" class="date">
                    </div>
                </div>
                <div class="write-header">첨부 사진(<span class="count">1</span>/5) <span class="red">*</span></div>
                <div class="img-slide-area">
                    <div class="img-area">
                        <div class="img-box">
                            <label for="img0" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img0">
                        </div>
                        <div class="img-box">
                            <label for="img1" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img1">
                        </div>
                        <div class="img-box">
                            <label for="img2" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img2">
                        </div>
                        <div class="img-box">
                            <label for="img3" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img3">
                        </div>
                        <div class="img-box">
                            <label for="img4" class="add-label">
                                <img th:src="@{/images/admin/flat-color-icons_plus.svg}" class="add-btn">
                            </label>
                            <img class="preview hidden">
                            <div th:src="@{/images/admin/flat-color-icons_plus.svg}" class="delete-btn hidden">&times;</div>
                            <input type="file" name="files" class="input-image hidden" accept="image/*" id="img4">
                        </div>
                    </div>
                    <button type="button" class="img-slide-left-btn"><img src="../images/admin/slide_left_btn.svg" alt=""></button>
                    <button type="button" class="img-slide-right-btn"><img src="../images/admin/slide_right_btn.svg" alt=""></button>
                </div>
                <div class="write-header">썸네일 배경 색상 지정</div>
                <div class="clr-field">
                    <button class="clr-field" aria-labelledby="clr-open-label"></button>
                    <input type="text" data-coloris id="clr" name="bgColor">
                </div>
                <div class="write-header">이벤트 설명 <span class="red">*</span></div>
                <textarea name="eventContent" id="eventContent" placeholder="이벤트에 대한 설명(이벤트명, 기간, 장소, 시간, 참여비, 문의처 등등) 을 상세히 작성해주세요."></textarea>
                <div class="btn-area">
                    <button type="submit" class="sbmt-btn">
                        등록
                    </button>
                </div>
            </form>
        </div>
    </main>
    <script th:src="@{https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js}"></script>
    <script th:src="@{/js/admin/writeEvent.js}"></script>
</body>
</html>