<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/profile/buyerReservation.css}">
    
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>

    <div class="buyer-profile-top">
        <div class="profile-box" th:object="${user}"> <!-- profile-box (프로필 + 버튼) -->

            <div class="guide-banner"> <!-- 프로필 위 투어리스트 배너 -->
                <img th:src="@{/images/profile/touristBanner.png}" alt="guideBanner"> <!-- 일반 가이드 -->
            </div>

            <div class="profile-left"> <!-- 프로필 왼쪽 박스 -->
                
                <form class="profile-img-box" th:action="@{/profile/profileEdit}" method="POST" enctype="multipart/form-data"> <!-- 프로필+이름 -->
                    <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                        <button class="profile-edit-btn">프로필 변경</button>
                        <img th:src="@{/images/profile/profile_delete.png}" alt="profile_delete" class="profile-delete">
                    </th:block>
                    <div class="profile-img">
                        <img th:unless="*{profileImage}" th:src="@{/images/userProfile/basicUser.png}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                        <img th:if="*{profileImage}" th:src="*{profileImage}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->

                        <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                            <input type="file" name="profileImage" id="userProfileFile" accept="image/*">
                            <!-- 프로필 편집 버튼 -->
                            <img th:src="@{/images/profile/profileEdit.png}" alt="profileEditIcon" class="profile-edit-icon"> 
                        </th:block>
                    </div>
                    <a th:href="@{/profile/{userNo}(userNo=${user.userNo})}">
                        <h2 th:text="*{userName}">UserName</h2> <!-- 유저이름 -->
                    </a>
                    <!-- th:href="@{/profile/{userNo}(userNo=${user.userNo})}" -->
                </form>

                <div class="user-email"> <!-- 유저 이메일 -->
                    <p th:text="*{userEmail}">tiltheend@gmail.com</p>
                </div>

            </div> <!-- // profile-left 프로필 왼쪽 박스 -->            
            
            <div class="seller-btn" th:if="${session.loginUser?.userNo == user.userNo}">
                <button> <!-- 내 정보 수정 -->
                    <img th:src="@{/images/profile/myInfoEdit.png}" alt="">
                    <div>내 정보 수정</div>
                </button>
                <button onclick="location.href='/profile/touristReservation'"> <!-- 예약 관리 --> 
                    <img th:src="@{/images/profile/buyerReservation.png}" alt="">
                    <div>예약 관리</div> 
                </button>
                <button onclick="location.href='/profile/touristWishList'"> <!-- 위시리스트 -->
                    <img th:src="@{/images/profile/buyerWishList.png}" alt="">
                    <div>위시 리스트</div>
                </button>
            </div>
        </div> <!-- // profile-box (프로필 + 버튼) -->
        
        <div class="profile_right"> <!-- 프로필 오른쪽 박스 -->
            
            <div class="reservation-list"> <!-- 구매자 예약 상품 -->
                <div> <!-- 제목 -->
                    <h1>Reservation (<span th:text="${reservationCount}">구매내역 갯수</span>)</h1>
                </div>

                <ul class="reservation-list-box">

                    <li th:each="reservation : ${reservationList}" th:data-reservationno="${reservation.reservationNo}" onclick="gotoTouristRFn(this)">
                        <div>
                            <span>예약 번호</span>
                            <a th:href="@{/reservation/reservation_info(reservation_no=${reservation.reservationNo})}">
                                <span th:text="${reservation.orderNumber}">12345678-12345678</span>
                            </a>
                        </div>
                        <div th:with="state = ${reservation.reservationState}">
                            <span>주문 처리</span>
                            <span th:if="${state=='Y'}">예약 완료</span>
                            <span th:if="${state=='N'}">예약 취소</span>
                            <span th:if="${state=='D'}">구매확정 완료</span>
                        </div>
                        <div class="flex-direction-row">
                            <div class="reservation-img">
                                <a th:href="@{/productDetail/product/{productNo}(productNo=${reservation.productNo})}"><img th:src="${reservation.thumbnail}" alt="reservationImg"></a>
                            </div>
                            <div class="reservation-content">
                                <h2 th:with="package = ${reservation.productPackage}"> 
                                    <th:block th:if="${package==1}">[[${reservation.productDate}]]
                                        <th:block th:if="${reservation.optionName}">[ [[${reservation.optionName}]] ]</th:block> 
                                    </th:block>
                                    <th:block th:if="${package>1}">[[${reservation.productDate}]]</th:block>
                                </h2>
                                <h2 th:text="${reservation.productName}">상품 제목</h2>
                                <span>KRW</span><span th:text="${#numbers.formatInteger(reservation.totalPrice, 1, 'COMMA')}+ ' / total'">000,000</span>
                            </div>
                        </div>
                    </li>
                </ul>

                <button class="reservation-list-more">more reservation list</button>

            </div> <!-- // 판매자 판매 상품 -->

        </div>
    </div>
    <script th:src="@{/js/profile/profileEdit.js}"></script>
    <script th:src="@{/js/profile/buyerReservation.js}"></script>
    
    <script th:inline="javascript">

        const loginUserNo = /*[[${session.loginUser?.userNo}]]*/ "로그인한 회원";
        const pageUserNo = /*[[${user?.userNo}]]*/ "보고 있는 페이지 회원";
        const userType = /*[[${session.loginUser?.userType}]]*/ "유저 타입";
    </script>  
    <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>