<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/profile/buyerWishList.css}">

    <!-- 슬릭 슬라이드 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile/nabong_slick/nabongSlick.css}"/>

</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>

    <div class="buyer-profile-top">
        <div class="profile-box" th:object="${user}"> <!-- profile-box (프로필 + 버튼) -->

            <div class="guide-banner"> <!-- 프로필 위 투어리스트 배너 -->
                <img th:src="@{/images/profile/touristBanner.png}" alt="guideBanner"> <!-- 일반 가이드 -->
            </div>

            <div class="profile-left"> <!-- 프로필 왼쪽 박스 -->
                
                <form class="profile-img-box" th:action="@{/profile/profileEdit}" method="POST" enctype="multipart/form-data"> <!-- 프로필+이름 -->
                    <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                        <button class="profile-edit-btn">프로필 변경</button>
                        <img th:src="@{/images/profile/profile_delete.png}" alt="profile_delete" class="profile-delete">
                    </th:block>
                    <div class="profile-img">
                        <img th:unless="*{profileImage}" th:src="@{/images/userProfile/basicUser.png}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                        <img th:if="*{profileImage}" th:src="*{profileImage}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->

                        <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                            <input type="file" name="profileImage" id="userProfileFile" accept="image/*">
                            <!-- 프로필 편집 버튼 -->
                            <img th:src="@{/images/profile/profileEdit.png}" alt="profileEditIcon" class="profile-edit-icon"> 
                        </th:block>
                    </div>
                    <a th:href="@{/profile/{userNo}(userNo=${user.userNo})}">
                        <h2 th:text="*{userName}">UserName</h2> <!-- 유저이름 -->
                    </a>
                    <!-- th:href="@{/profile/{userNo}(userNo=${user.userNo})}" -->
                </form>

                <div class="user-email"> <!-- 유저 이메일 -->
                    <p th:text="*{userEmail}">tiltheend@gmail.com</p>
                </div>

            </div> <!-- // profile-left 프로필 왼쪽 박스 -->            
            
            <div class="seller-btn" th:if="${session.loginUser?.userNo == user.userNo}">
                <button onclick="location.href='/user/myPage/editInfo/tourist'"> <!-- 내 정보 수정 -->
                    <img th:src="@{/images/profile/myInfoEdit.png}" alt="">
                    <div>내 정보 수정</div>
                </button>
                <button onclick="location.href='/profile/touristReservation'"> <!-- 예약 관리 --> 
                    <img th:src="@{/images/profile/buyerReservation.png}" alt="">
                    <div>예약 관리</div> 
                </button>
                <button onclick="location.href='/profile/touristWishList'"> <!-- 위시리스트 -->
                    <img th:src="@{/images/profile/buyerWishList.png}" alt="">
                    <div>위시 리스트</div>
                </button>
            </div>
        </div> <!-- // profile-box (프로필 + 버튼) -->
        
        <div class="profile_right"> <!-- 프로필 오른쪽 박스 -->
            
            <div class="wish-list"> <!-- 구매자 위시리스트 -->
                <div> <!-- 제목 -->
                    <h1>Wish List</h1>
                </div>

                <ul>
                    <li th:each="product : ${myWishList}">
                        <div class="slider single-item" th:data-productno="${product.productNo}">
                            <div th:if=${product.imageList} th:each="image : ${product.imageList}">
                                <img th:src="${image.filePath}">
                            </div>
                            <th:block th:if="${#lists.size(product.imageList) &lt;= 2}">
                                <div>
                                    <img th:src="@{/images/imageNone.png}">
                                    <p>이미지 2장 이하 오류 막기</p>
                                </div>
                                <div>
                                    <img th:src="@{/images/imageNone.png}">
                                    <p>이미지 2장 이하 오류 막기</p>
                                </div>
                            </th:block>
                        </div>
                        <div class="slide-btn">
                            <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next" onclick="slideNextFn(this)">
                            <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre" onclick="slidePreFn(this)">
                        </div>
                        <div class="add-wish-heart" th:with="wish = ${product.wishOrNot}">
                            <img th:if="${wish==1}" class="heart-icon selected" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                            <img th:if="${wish==0}" class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                        </div>
                        <div class="sales-text">
                            <div>
                                <a th:href="@{/productDetail/product/{productNo}(productNo=${product.productNo})}">
                                    <p th:text="${product.productName}">상품 제목</p>
                                </a>
                                <div>
                                    <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                    <span th:text="${product.reviewStars}">평균 별점</span>
                                </div>
                            </div>
                            <div th:with="pack = ${product.productPackage}">
                                <p th:if="${pack==1}" th:text="'₩ '+ ${#numbers.formatInteger(product.productPrice, 1, 'COMMA')}+ ' / person'"></p>
                                <p th:if="${pack>1}" th:text="'₩ '+ ${#numbers.formatInteger(product.productPrice, 1, 'COMMA')}+ ' / total'"></p>
                                <!-- th:text="'₩'+ ${#numbers.formatInteger(product.productPrice, 1, 'COMMA')}+ ' / total'" -->
                                <div>
                                    <img th:src="@{/images/profile/location.png}" alt="location">
                                    <span th:text="${product.regionName}">지역명</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> <!-- // 구매자 위시리스트 -->

        </div>
    </div>

    <!-- <script th:src="@{/js/profile/nabong_owl/jquery.min.js}"></script> -->
    <script th:src="@{/js/profile/nabong_slick/slick.js}"></script>
    <script th:src="@{/js/profile/buyerWishList.js}"></script>
    <script th:src="@{/js/profile/profileEdit.js}"></script>
    
    <script th:inline="javascript">
        const loginUserNo = /*[[${session.loginUser?.userNo}]]*/ "로그인한 회원";
        const pageUserNo = /*[[${user?.userNo}]]*/ "보고 있는 페이지 회원";
        const userType = /*[[${session.loginUser?.userType}]]*/ "유저 타입";
    </script>  

    <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>