<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/profile/nabong_owl/nabongPurchase_owl.css}"> <!-- owl 슬라이드 -->
    <link rel="stylesheet" th:href="@{/css/profile/buyerProfile.css}">
    
    <!-- owl 슬라이드 -->
    <script th:src="@{/js/profile/nabong_owl/jquery.min.js}"></script>
    <script th:src="@{/js/profile/nabong_owl/owl.carousel.js}"></script>
    <script th:src="@{/js/profile/nabong_owl/owl.carousel.min.js}"></script>

    <script th:src="@{https://kit.fontawesome.com/f7459b8054.js}" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" th:href="@{/css/main.css}"> -->
    <style>
        header{width: 100%; height: 80px; background-color: #B1D8DA;
        position:absolute; top: 0;}
    </style>
</head>
<body>
    <header>임시헤더</header>

    <div class="buyer-profile-top">
        <div class="profile-box" th:object="${user}"> <!-- profile-box (프로필 + 버튼) -->

            <div class="guide-banner"> <!-- 프로필 위 투어리스트 배너 -->
                <img th:src="@{/images/profile/touristBanner.png}" alt="guideBanner"> <!-- 일반 가이드 -->
            </div>

            <div class="profile-left"> <!-- 프로필 왼쪽 박스 -->
                
                <form class="profile-img-box" th:action="@{/profile/profileEdit}" method="POST" enctype="multipart/form-data"> <!-- 프로필+이름 -->
                    <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                        <button class="profile-edit-btn">프로필 변경</button>
                        <img th:src="@{/images/profile/profile_delete.png}" alt="profile_delete" class="profile-delete">
                    </th:block>
                    <div class="profile-img">
                        <img th:unless="*{profileImage}" th:src="@{/images/userProfile/basicUser.png}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                        <img th:if="*{profileImage}" th:src="*{profileImage}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->

                        <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                            <input type="file" name="profileImage" id="userProfileFile" accept="image/*">
                            <!-- 프로필 편집 버튼 -->
                            <img th:src="@{/images/profile/profileEdit.png}" alt="profileEditIcon" class="profile-edit-icon"> 
                        </th:block>
                    </div>
                    <a th:href="@{/profile/{userNo}(userNo=${user.userNo})}">
                        <h2 th:text="*{userName}">UserName</h2> <!-- 유저이름 -->
                    </a>
                </form>

                <div class="user-email"> <!-- 유저 이메일 -->
                    <p th:text="*{userEmail}">UserEmail</p>
                </div>

            </div> <!-- // profile-left 프로필 왼쪽 박스 -->            
            
            <div class="seller-btn" th:if="${session.loginUser?.userNo == user.userNo}">
                <button> <!-- 내 정보 수정 -->
                    <img th:src="@{/images/profile/myInfoEdit.png}" alt="">
                    <div>내 정보 수정</div>
                </button>
                <button onclick="location.href='/profile/touristReservation'"> <!-- 예약 관리 --> 
                    <img th:src="@{/images/profile/buyerReservation.png}" alt="">
                    <div>예약 관리</div> 
                </button>
                <button onclick="location.href='/profile/touristWishList'"> <!-- 위시리스트 -->
                    <img th:src="@{/images/profile/buyerWishList.png}" alt="">
                    <div>위시 리스트</div>
                </button>
            </div>
        </div> <!-- // profile-box (프로필 + 버튼) -->
        
        <div class="profile_right"> <!-- 프로필 오른쪽 박스 -->
            
            <div class="purchase-history">
                <h1>Purchase History (<span th:text="${#lists.size(reservationList)}">구매내역 갯수</span>)</h1>

                <th:block th:if="${#lists.size(reservationList) != 0}">
                    <section id="demos">
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="owl-carousel owl-theme">
                                    <div class="item" th:each="reservation : ${reservationList}">
                                        <a href="#"><img th:src="${reservation.thumbnail}" alt="reservationImg"></a>
                                    </div>
                                    <!-- <div class="item">
                                        <a href="#"><img src="" alt=""></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="Previous">
                            <img th:src="@{/images/profile/purchaseL-arrow.png}" alt="purchaseL">
                        </div>
                        <div class="Next">
                            <img th:src="@{/images/profile/purchaseR-arrow.png}" alt="purchaseR">
                        </div>
                    </section>
                </th:block>

            </div>

            <!-- 리뷰 작성 모달 -->
            <div class="review-write" th:if="${session.loginUser?.userNo == user.userNo}"> <!-- 불투명 배경 -->
                <div> <!-- 하얀 배경 -->
                    <form action="">
                        <h2>Purchase History</h2>
                        <select name="reviewSaleList" id="reviewSaleList" th:each="reservation : ${reservationList}">
                            <option selected="selected" disabled>후기를 작성할 상품을 선택해주세요.</option>
                            <!-- <th:block th:if="${#lists.size(reservationList) != 0}" >
                                <option th:text="${reservation.}">상품 목록</option>
                            </th:block> -->
                        </select>
                        <div class="review-star-score"> <!-- 별점 주기 -->
                            <h3>Star Rating</h3>
                            <div class="review-rating">
                                <div class="score-star">
                                    <label for="starpoint_W1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
                                    <label for="starpoint_W2" class="label_star" title="1"><span class="blind">1점</span></label>
                                    <label for="starpoint_W3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
                                    <label for="starpoint_W4" class="label_star" title="2"><span class="blind">2점</span></label>
                                    <label for="starpoint_W5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
                                    <label for="starpoint_W6" class="label_star" title="3"><span class="blind">3점</span></label>
                                    <label for="starpoint_W7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
                                    <label for="starpoint_W8" class="label_star" title="4"><span class="blind">4점</span></label>
                                    <label for="starpoint_W9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
                                    <label for="starpoint_W10" class="label_star" title="5"><span class="blind">5점</span></label>
                                    <input type="radio" name="starScore" id="starpoint_W1" class="star_score" value="0.5">
                                    <input type="radio" name="starScore" id="starpoint_W2" class="star_score" value="1.0">
                                    <input type="radio" name="starScore" id="starpoint_W3" class="star_score" value="1.5">
                                    <input type="radio" name="starScore" id="starpoint_W4" class="star_score" value="2.0">
                                    <input type="radio" name="starScore" id="starpoint_W5" class="star_score" value="2.5">
                                    <input type="radio" name="starScore" id="starpoint_W6" class="star_score" value="3.0">
                                    <input type="radio" name="starScore" id="starpoint_W7" class="star_score" value="3.5">
                                    <input type="radio" name="starScore" id="starpoint_W8" class="star_score" value="4.0">
                                    <input type="radio" name="starScore" id="starpoint_W9" class="star_score" value="4.5">
                                    <input type="radio" name="starScore" id="starpoint_W10" class="star_score" value="5.0">
                                    <span class="starpoint_bg"></span>
                                </div>
                            </div>
                            <span class="score-span">0.0</span>
                        </div>
                        <textarea name="reviewContent" id="reviewContent" placeholder="여행은 즐거우셨나요? 당신의 경험과 가이드에 대한 자세한 이야기를 들려주세요." maxlength="1000"></textarea>
                        <div class="write-count">
                            <span class="over-error"><i class="fa-sharp fa-solid fa-bomb"></i> 500자 이하로 작성해주세요.</span>
                            <div><span id="count">0</span> / 500</div>
                        </div>
                        <div>
                            <button class="review-modal-close">Close</button>
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 리뷰 수정 모달 -->
            <div class="review-edit" th:if="${session.loginUser?.userNo == user.userNo}"> <!-- 불투명 배경 -->
                <div> <!-- 하얀 배경 -->
                    <form action="">
                        <h2>Purchase History</h2>
                        <input type="text" name="reviewSaleList" id="reviewSaleList">
        
                        <div class="review-star-score"> <!-- 별점 수정 -->
                            <h3>Star Rating</h3>
                            <div class="review-rating">
                                <div class="score-star">
                                    <label for="starpoint_E1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
                                    <label for="starpoint_E2" class="label_star" title="1"><span class="blind">1점</span></label>
                                    <label for="starpoint_E3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
                                    <label for="starpoint_E4" class="label_star" title="2"><span class="blind">2점</span></label>
                                    <label for="starpoint_E5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
                                    <label for="starpoint_E6" class="label_star" title="3"><span class="blind">3점</span></label>
                                    <label for="starpoint_E7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
                                    <label for="starpoint_E8" class="label_star" title="4"><span class="blind">4점</span></label>
                                    <label for="starpoint_E9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
                                    <label for="starpoint_E10" class="label_star" title="5"><span class="blind">5점</span></label>
                                    <input type="radio" name="starScore" id="starpoint_E1" class="star_score" value="0.5">
                                    <input type="radio" name="starScore" id="starpoint_E2" class="star_score" value="1.0">
                                    <input type="radio" name="starScore" id="starpoint_E3" class="star_score" value="1.5">
                                    <input type="radio" name="starScore" id="starpoint_E4" class="star_score" value="2.0">
                                    <input type="radio" name="starScore" id="starpoint_E5" class="star_score" value="2.5">
                                    <input type="radio" name="starScore" id="starpoint_E6" class="star_score" value="3.0">
                                    <input type="radio" name="starScore" id="starpoint_E7" class="star_score" value="3.5">
                                    <input type="radio" name="starScore" id="starpoint_E8" class="star_score" value="4.0">
                                    <input type="radio" name="starScore" id="starpoint_E9" class="star_score" value="4.5" checked>
                                    <input type="radio" name="starScore" id="starpoint_E10" class="star_score" value="5.0">
                                    <span class="starpoint_bg"></span>
                                </div>
                            </div>
                            <span class="score-span"></span>
                        </div>
                        <textarea name="reviewContent" id="reviewContent" placeholder="여행은 즐거우셨나요? 당신의 경험과 가이드에 대한 자세한 이야기를 들려주세요." maxlength="1000">그녀는 훌륭한 가이드였고, 항상 도움을 주고 질문에 답할 준비가 되어 있었습니다. 서울은 아름다운 도시입니다! 백퍼센트 추천!!</textarea>
                        <div class="write-count">
                            <span class="over-error"><i class="fa-sharp fa-solid fa-bomb"></i> 500자 이하로 작성해주세요.</span>
                            <div><span id="count">0</span> / 500</div>
                        </div>
                        <div>
                            <button class="review-modal-close" type="button">Close</button>
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 더보기 리뷰 상세 조회 -->
            <div class="review-more-modal"> <!-- 불투명 배경 -->
                <div> <!-- 하얀 배경 -->
                    <div>
                        <div> <!-- 리뷰 남긴 사람 프로필 -->
                            <div class="reviewer">
                                <img src="">
                            </div>
                            <p class="reviewer-name">이름</p>
                        </div>
                        <div class="sale-review-info">
                            <p>상품 제목</p>
                            <div class="review-rating">
                                <span class="review-date">리뷰 날짜</span>
                            </div>
                        </div>
                    </div>
                    <textarea readonly>더보기 리뷰 내용</textarea>
                    
                    <div>
                        <button class="review-modal-close">Close</button>
                    </div>
                </div>
            </div>
            
            <div class="my-review"> <!-- 구매자 리뷰 내역 -->
                <div>
                    <h1>Review (<span th:text="${reviewCount}">리뷰 갯수</span>)</h1>
                    <svg th:if="${session.loginUser?.userNo == user.userNo}" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.0643 12.06H29.6443V17.64H18.0643V29.34H12.4243V17.64H0.904297V12.06H12.4243V0.23999H18.0643V12.06Z" fill="#C5C5C5"/>
                    </svg>
                </div>
                <ul class="review-list" th:if="${#lists.size(reviewList) != 0}">
                    <li>
                        <ul th:each="review : ${reviewList}">
                            <li class="reply-content">
                                <div>
                                    <div> <!-- 리뷰 남긴 사람 프로필 -->
                                        <div class="reviewer">
                                            <!-- <img src=""> -->
                                            <img th:unless="${user.profileImage}" th:src="@{/images/userProfile/basicUser.png}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                                            <img th:if="${user.profileImage}" th:src="${user.profileImage}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                                        </div>
                                        <p class="reviewer-name" th:text="${user.userName}">리뷰 작성자</p>
                                    </div>
                                    <div class="sale-review-info">
                                        <p th:text="${review.productName}">상품명</p>
                                        <div class="review-rating">
                                            <div class="review-star">
                                                <input type="radio" id="starpoint_1" class="star_radio" value="0.5" th:checked="${review.reviewStarsDouble == 0.5}">
                                                <input type="radio" id="starpoint_2" class="star_radio" value="1.0" th:checked="${review.reviewStarsDouble == 1.0}">
                                                <input type="radio" id="starpoint_3" class="star_radio" value="1.5" th:checked="${review.reviewStarsDouble == 1.5}">
                                                <input type="radio" id="starpoint_4" class="star_radio" value="2.0" th:checked="${review.reviewStarsDouble == 2.0}">
                                                <input type="radio" id="starpoint_5" class="star_radio" value="2.5" th:checked="${review.reviewStarsDouble == 2.5}">
                                                <input type="radio" id="starpoint_6" class="star_radio" value="3.0" th:checked="${review.reviewStarsDouble == 3.0}">
                                                <input type="radio" id="starpoint_7" class="star_radio" value="3.5" th:checked="${review.reviewStarsDouble == 3.5}">
                                                <input type="radio" id="starpoint_8" class="star_radio" value="4.0" th:checked="${review.reviewStarsDouble == 4.0}">
                                                <input type="radio" id="starpoint_9" class="star_radio" value="4.5" th:checked="${review.reviewStarsDouble == 4.5}">
                                                <input type="radio" id="starpoint_10" class="star_radio" value="5.0" th:checked="${review.reviewStarsDouble == 5.0}">
                                                <span class="starpoint_bg"></span>
                                            </div>
                                            <span class="review-date" th:text="${review.createDate}">리뷰 작성 날짜</span>
                                        </div>
                                    </div>
                                </div>
                                <pre th:text="${review.reviewMessage}">그녀는 훌륭한 가이드였고, 항상 도움을 주고 질문에 답할 준비가 되어 있었습니다. 서울은 아름다운 도시입니다! 백퍼센트 추천!!그녀는 훌륭한 가이드였고, 항상 도움을 주고 질문에 답할 준비가 되어 있었습니다. 서울은 아름다운 도시입니다! 백퍼센트 추천!!그녀는 훌륭한 가이드였고, 항상 도움을 주고 질문에 답할 준비가 되어 있었습니다. 서울은 아름다운 도시입니다! 백퍼센트 추천!!그녀는 훌륭한 가이드였고, 항상 도움을 주고 질문에 답할 준비가 되어 있었습니다. 서울은 아름다운 도시입니다! 백퍼센트 추천!!그녀는 훌륭한 가이드였고, 항상 도움을 주고 질문에 답할 준비가 되어 있었습니다. 서울은 아름다운 도시입니다! 백퍼센트 추천!!</pre>
                                <div class="more-and-reply">
                                    <p onclick="moreReviewFn(this)">더보기 +</p>
                                    <div class="myreview-edit" th:if="${session.loginUser?.userNo == user.userNo}">
                                        <button class="review-edit-btn" onclick="reviewEditFn(this); return false;" type="button">Edit</button>
                                        <button class="review-delete-btn">Delete</button>
                                    </div>
                                </div>
                            </li>
                            <li class="seller-reply" th:if="${review.reviewReply}">
                                <div> <!-- 답글 200 글자 제한 -->
                                    <img th:src="@{/images/profile/replyIcon.png}" alt="replyIcon">
                                    <textarea name="sellerReplyContent" id="sellerReplyContent" maxlength="200" th:text="${review.reviewReply}" readonly>안녕하세요~ 좋은 후기 감사합니당!!안녕하세요~ 좋은 후기 감사합니당!!안녕하세요~ 좋은 후기 감사합니당!!안녕하세요~ 좋은 후기 감사합니당!!</textarea>
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                    
                </ul>
                <button class="review-list-more" th:if="${#lists.size(reviewList) >= 3}">more reviews</button>
            </div>

        </div>
    </div>

    <!-- <th:block th:replace="~{common/footer}"></th:block> -->

    <script>
        $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                400: {
                    items: 1,
                nav: true
                },
                600: {
                    items: 2,
                nav: false
                },
                1000: {
                    items: 3,
                nav: true,
                loop: false,
                margin: 20
                }
            }
            })

        const purchasePrevious = document.querySelector(".Previous>img");
        const purchaseNext = document.querySelector(".Next>img");

        const realSlidePrevious = document.querySelector("[aria-label='Previous']");
        const realSlideNext = document.querySelector("[aria-label='Next']");

        if(purchasePrevious != null){
            purchasePrevious.addEventListener('click',()=>realSlidePrevious.click());
        }
        if(purchaseNext != null){
            purchaseNext.addEventListener('click',()=>realSlideNext.click());
        }

        }) 

    </script>
    <script th:src="@{/js/profile/profileEdit.js}"></script>                   
    <script th:src="@{/js/profile/buyerProfile.js}"></script>   

    <!-- javascript 영역에서 타임리프를 적용/해석 함 -->
    <script th:inline="javascript">
        // const message='[[${message}]]';

        /* Natural Template */
        const message = /*[[${message}]]*/  "전달 받은 message";
        // 타임리프 해석    값(자료형이 알아서 해석)     사라짐(설명)
        if(message != null){
            alert(message);
        }
    </script>             
</body>
</html>