<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/profile/buyerWishList.css}">

    <!-- 슬릭 슬라이드 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile/nabong_slick/nabongSlick.css}"/>
    
    <style>
        header{width: 100%; height: 80px; background-color: #B1D8DA;
        position:absolute; top: 0;}
    </style>
</head>
<body>
    <header>임시헤더</header>

    <div class="buyer-profile-top">
        <div class="profile-box"> <!-- profile-box (프로필 + 버튼) -->

            <div class="guide-banner"> <!-- 프로필 위 투어리스트 배너 -->
                <img th:src="@{/images/profile/touristBanner.png}" alt="guideBanner"> <!-- 일반 가이드 -->
            </div>

            <div class="profile-left"> <!-- 프로필 왼쪽 박스 -->

                <div class="profile-img-box"> <!-- 프로필+이름 -->
                    <div class="profile-img">
                        <img src="" alt=""> <!-- 프로필 사진 칸 -->

                        <input type="file" name="userProfileFile" id="userProfileFile">
                        <!-- 프로필 편집 버튼 -->
                        <img th:src="@{/images/profile/profileEdit.png}" alt="profileEditIcon" class="profile-edit-icon"> 
                    </div>
                    <h2 onclick="location.href='/profile/mypage/T'">UserName</h2> <!-- 유저이름 -->
                </div>

                <div class="user-email"> <!-- 유저 이메일 -->
                    <p>tiltheend@gmail.com</p>
                </div>

            </div> <!-- // profile-left 프로필 왼쪽 박스 -->            
            
            <div class="seller-btn">
                <button> <!-- 내 정보 수정 -->
                    <img th:src="@{/images/profile/myInfoEdit.png}" alt="">
                    <div>내 정보 수정</div>
                </button>
                <button onclick="location.href='/profile/touristReservation'"> <!-- 예약 관리 --> 
                    <img th:src="@{/images/profile/buyerReservation.png}" alt="">
                    <div>예약 관리</div> 
                </button>
                <button onclick="location.href='/profile/touristWishList'"> <!-- 위시리스트 -->
                    <img th:src="@{/images/profile/buyerWishList.png}" alt="">
                    <div>위시 리스트</div>
                </button>
            </div>
        </div> <!-- // profile-box (프로필 + 버튼) -->
        
        <div class="profile_right"> <!-- 프로필 오른쪽 박스 -->
            
            <div class="wish-list"> <!-- 구매자 위시리스트 -->
                <div> <!-- 제목 -->
                    <h1>Wish List</h1>
                </div>

                <ul>
                    <li>
                        <!-- <div class="relative"></div> -->
                        <div class="slider single-item">
                            <div>
                                <img src="">
                                <h3>1</h3>
                            </div>
                            <div>
                                <h3>2</h3>
                            </div>
                            <div>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="slide-btn">
                            <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                            <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                        </div>
                        <div class="add-wish-heart">
                            <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                        </div>
                        <div class="sales-text">
                            <div>
                                <p>A trip to Jeju Island where...</p>
                                <div>
                                    <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                    <span>4.5</span>
                                </div>
                            </div>
                            <div>
                                <p>₩ 190,000 / total</p>
                                <div>
                                    <img th:src="@{/images/profile/location.png}" alt="location">
                                    <span>Jeju</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- <div class="relative"></div> -->
                        <div class="slider single-item">
                            <div>
                                <img src="">
                                <h3>1</h3>
                            </div>
                            <div>
                                <h3>2</h3>
                            </div>
                            <div>
                                <h3>3</h3>
                            </div>
                            <div>
                                <h3>4</h3>
                            </div>
                            <div>
                                <h3>5</h3>
                            </div>
                        </div>
                        <div class="slide-btn">
                            <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                            <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                        </div>
                        <div class="add-wish-heart">
                            <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                        </div>
                        <div class="sales-text">
                            <div>
                                <p>A trip to Jeju Island where...</p>
                                <div>
                                    <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                    <span>4.5</span>
                                </div>
                            </div>
                            <div>
                                <p>₩ 190,000 / total</p>
                                <div>
                                    <img th:src="@{/images/profile/location.png}" alt="location">
                                    <span>Jeju</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- <div class="relative"></div> -->
                        <div class="slider single-item">
                            <div>
                                <img src="">
                                <h3>1</h3>
                            </div>
                            <div>
                                <h3>2</h3>
                            </div>
                            <div>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="slide-btn">
                            <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                            <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                        </div>
                        <div class="add-wish-heart">
                            <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                        </div>
                        <div class="sales-text">
                            <div>
                                <p>A trip to Jeju Island where...</p>
                                <div>
                                    <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                    <span>4.5</span>
                                </div>
                            </div>
                            <div>
                                <p>₩ 190,000 / total</p>
                                <div>
                                    <img th:src="@{/images/profile/location.png}" alt="location">
                                    <span>Jeju</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- <div class="relative"></div> -->
                        <div class="slider single-item">
                            <div>
                                <img src="">
                                <h3>1</h3>
                            </div>
                            <div>
                                <h3>2</h3>
                            </div>
                            <div>
                                <h3>3</h3>
                            </div>
                            <div>
                                <h3>4</h3>
                            </div>
                            <div>
                                <h3>5</h3>
                            </div>
                        </div>
                        <div class="slide-btn">
                            <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                            <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                        </div>
                        <div class="add-wish-heart">
                            <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                        </div>
                        <div class="sales-text">
                            <div>
                                <p>A trip to Jeju Island where...</p>
                                <div>
                                    <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                    <span>4.5</span>
                                </div>
                            </div>
                            <div>
                                <p>₩ 190,000 / total</p>
                                <div>
                                    <img th:src="@{/images/profile/location.png}" alt="location">
                                    <span>Jeju</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- <div class="relative"></div> -->
                        <div class="slider single-item">
                            <div>
                                <img src="">
                                <h3>1</h3>
                            </div>
                            <div>
                                <h3>2</h3>
                            </div>
                            <div>
                                <h3>3</h3>
                            </div>
                            <div>
                                <h3>4</h3>
                            </div>
                            <div>
                                <h3>5</h3>
                            </div>
                        </div>
                        <div class="slide-btn">
                            <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                            <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                        </div>
                        <div class="add-wish-heart">
                            <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                        </div>
                        <div class="sales-text">
                            <div>
                                <p>A trip to Jeju Island where...</p>
                                <div>
                                    <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                    <span>4.5</span>
                                </div>
                            </div>
                            <div>
                                <p>₩ 190,000 / total</p>
                                <div>
                                    <img th:src="@{/images/profile/location.png}" alt="location">
                                    <span>Jeju</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                
        
                


            </div> <!-- // 구매자 위시리스트 -->

        </div>
    </div>

    <script th:src="@{/js/profile/nabong_owl/jquery.min.js}"></script>
    <script th:src="@{/js/profile/nabong_slick/slick.js}"></script>
    <script th:src="@{/js/profile/buyerWishList.js}"></script>
    
    <script>
        


        
    </script>
</body>
</html>