<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" href="../css/style.css"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" href="../css/profile/sellerReservationSchedule.css">

    <!-- 달력 -->
    <link href='../css/profile/calender_main.css' rel='stylesheet' />
    <script src='../js/profile/calender.js'></script>
    <script src="../js/profile/calender_main.js"></script>                   

    <style>
        header{width: 100%; height: 80px; background-color: #B1D8DA;
        position:absolute; top: 0;}
    </style>
</head>
<body>
    <header>임시헤더</header>

    <div class="seller-profile-top">

        <div class="profile-box"> <!-- profile-box (프로필 + 버튼) -->

            <div class="guide-banner"> <!-- 프로필 위 가이드 배너 -->
                <img src="../images/profile/guideBanner.png" alt="guideBanner" id="displayNone"> <!-- 일반 가이드 -->
                <img src="../images/profile/superGuideBanner.png" alt="superGuideBanner"> <!-- 슈퍼 가이드 -->
            </div>

            <div class="profile-left"> <!-- 프로필 왼쪽 박스 -->

                <div class="profile-img-box"> <!-- 프로필+이름 -->
                    <div class="profile-img">
                        <img src="" alt=""> <!-- 프로필 사진 칸 -->

                        <!-- <input type="file" name="userProfileFile" id="userProfileFile"> -->
                        <!-- 프로필 편집 버튼 -->
                        <!-- <img src="../images/profile/profileEdit.png" alt="profileEditIcon" class="profile-edit-icon">  -->
                    </div>
                    <h2 onclick="location.href='sellerProfile.html'">UserName</h2> <!-- 유저이름 -->
                </div>

                <div class="profile-seller-info"> <!-- 판매자 정보 (후기/평점/경력) -->
                    <div class="seller-info">
                        <h2>36</h2>
                        <p>후기</p>
                    </div>
                    <div class="seller-info">
                        <h2>4.8</h2>
                        <p>평점</p>
                    </div>
                    <div class="seller-info">
                        <h2>10</h2>
                        <p>경력</p>
                        <p>(개월)</p>
                    </div>
                </div>

                <div class="user-email"> <!-- 유저 이메일 -->
                    <p>tiltheend@gmail.com</p>
                </div>

            </div> <!-- // profile-left 프로필 왼쪽 박스 -->            
            
            <div class="seller-btn">
                <button> <!-- 내 정보 수정 -->
                    <img src="../images/profile/myInfoEdit.png" alt="">내 정보 수정
                </button>
                <button onclick="location.href='sellerReservationSchedule.html'"> <!-- 예약 일정 확인 --> 
                    <img src="../images/profile/reservationCalender.png" alt="">예약 일정 확인
                </button>
                <button onclick="location.href='sellerReservation.html'"> <!-- 예약 내역 -->
                    <img src="../images/profile/reservationList.png" alt="">예약 내역
                </button>
            </div>
        </div> <!-- // profile-box (프로필 + 버튼) -->

        
        <div class="profile_right"> <!-- 프로필 오른쪽 박스 -->
                
            <div class="reservation-schedule"> <!-- 판매자 일정 확인 -->
                <div> <!-- 제목 -->
                    <h1>Reservation Schedule</h1>
                </div>

                <div id='calendar' style="width:1000px; height: 650px;"></div>
                <!-- style="width:1000px; height: 650px;" -->
                <!-- style="width:800px; height: 350px;" -->
            </div> <!-- // 판매자 일정 확인 -->

        </div>
    </div>

    <script>
        // 캘린더 사이즈 조절
        let calendarElement = document.getElementById('calendar');

        function adjustCalendarSize() {
            if (window.innerWidth <= 1100) {
                calendarElement.style.width = '80vw';
                calendarElement.style.height = '65vh';
            } else {
                calendarElement.style.width = '1000px';
                calendarElement.style.height = '650px';
            }
        }

        window.addEventListener('resize', adjustCalendarSize);
    </script>
</body>
</html>