<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" th:href="@{/css/profile/sellerReservation.css}">
    <style>
        header{width: 100%; height: 80px; background-color: #B1D8DA;
        position:absolute; top: 0;}
    </style>
</head>
<body>
    <header>임시헤더</header>

    <div class="seller-profile-top">

        <div class="profile-box" th:object="${user}"> <!-- profile-box (프로필 + 버튼) -->

            <div class="guide-banner"> <!-- 프로필 위 가이드 배너 -->
                <img th:if="${guide.superGuideFl=='N'}" th:src="@{/images/profile/guideBanner.png}" alt="guideBanner"> <!-- 일반 가이드 -->
                <img th:if="${guide.superGuideFl=='Y'}" th:src="@{/images/profile/superGuideBanner.png}" alt="superGuideBanner"> <!-- 슈퍼 가이드 -->
            </div>

            <div class="profile-left"> <!-- 프로필 왼쪽 박스 -->

                <form class="profile-img-box" th:action="@{/profile/profileEdit}" method="POST" enctype="multipart/form-data"> <!-- 프로필+이름 -->
                    <!-- <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                        <button class="profile-edit-btn">프로필 변경</button>
                        <img th:src="@{/images/profile/profile_delete.png}" alt="profile_delete" class="profile-delete">
                    </th:block> -->
                    <div class="profile-img">
                        <img th:unless="*{profileImage}" th:src="@{/images/userProfile/basicUser.png}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                        <img th:if="*{profileImage}" th:src="*{profileImage}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->

                        <!-- <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                            <input type="file" name="profileImage" id="userProfileFile" accept="image/*">
                            <img th:src="@{/images/profile/profileEdit.png}" alt="profileEditIcon" class="profile-edit-icon"> 
                        </th:block> -->
                    </div>
                    <a th:href="@{/profile/{userNo}(userNo=${user.userNo})}">
                        <h2 th:text="*{userName}">UserName</h2> <!-- 유저이름 -->
                    </a>
                </form>

                <div class="profile-seller-info"> <!-- 판매자 정보 (후기/평점/경력) -->
                    <div class="seller-info">
                        <h2 th:text="${guide.reviewCount}">0</h2>
                        <p>후기</p>
                    </div>
                    <div class="seller-info">
                        <h2 th:text="${guide.starAverage}">0.0</h2>
                        <p>평점</p>
                    </div>
                    <div class="seller-info">
                        <h2 th:utext="|${#strings.setSplit(guide.careerDate, ',')[0]}<span>(${#strings.setSplit(guide.careerDate, ',')[1]})</span>|">0</h2>
                        <p>경력</p>
                    </div>
                </div>

                <div class="user-email"> <!-- 유저 이메일 -->
                    <p th:text="*{userEmail}">UserEmail</p>
                </div>

            </div> <!-- // profile-left 프로필 왼쪽 박스 -->    
            
            <div class="seller-btn">
                <button> <!-- 내 정보 수정 -->
                    <img th:src="@{/images/profile/myInfoEdit.png}" alt="">내 정보 수정
                </button>
                <button onclick="location.href='/profile/guideReservationSchedule'"> <!-- 예약 일정 확인 --> 
                    <img th:src="@{/images/profile/reservationCalender.png}" alt="">예약 일정 확인
                </button>
                <button onclick="location.href='/profile/guideReservation'"> <!-- 예약 내역 -->
                    <img th:src="@{/images/profile/reservationList.png}" alt="">예약 내역
                </button>
            </div>
        </div> <!-- // profile-box (프로필 + 버튼) -->

        
        <div class="profile_right"> <!-- 프로필 오른쪽 박스 -->
                
            <div class="reservation-list"> <!-- 판매자 예약 내역 -->
                <div> <!-- 제목 -->
                    <!-- <h1>Reservation (<span>0</span>)</h1> -->
                    <h1>Reservation (<span th:text="${reservarionCount}">리뷰 갯수</span>)</h1>
                </div>

                <ul class="reservation-list-box">
                    <li th:each="reservation : ${GuideReservationList}">
                        <div class="sale-img">
                            <img th:src="${reservation.thumbnail}" alt="thumbnail">
                            <div class="guest-profile-img">
                                <a th:href="@{/profile/{userNo}(userNo=${reservation.userNo})}">
                                    <img th:unless="${reservation.faceImg}" th:src="@{/images/userProfile/basicUser.png}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                                    <img th:if="${reservation.faceImg}" th:src="${reservation.faceImg}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->        
                                </a>
                            </div>
                        </div>
                        <div class="sale-content">
                            <a th:href="@{/productDetail/product/{productNo}(productNo=${reservation.productNo})}">
                                <h3 th:text="${reservation.productName}">상품명</h3>
                            </a>
                            <h3 th:with="package = ${reservation.productPackage}"> 
                                <th:block th:if="${package==1}">[[${reservation.productDate}]]
                                    <th:block th:if="${reservation.optionName}">[ [[${reservation.optionName}]] ]</th:block> 
                                </th:block>
                                <th:block th:if="${package>1}">[[${reservation.productDate}]]</th:block>
                            </h3>
                            <h3>KRW <span th:text="${#numbers.formatInteger(reservation.totalPrice, 1, 'COMMA')}+ ' / total'">000,000</span></h3>
                            <div th:with="state = ${reservation.reservationState}" class="pay-state">
                                <span>주문 처리 : 
                                    <th:block th:if="${state=='Y'}">예약 완료</th:block>
                                    <th:block th:if="${state=='N'}">예약 취소</th:block>
                                    <th:block th:if="${state=='D'}">구매확정 완료</th:block>
                                    <th:block> ( [[${reservation.createDate}]] ) </th:block>
                                </span>
                            </div>
                            <p><img th:src="@{/images/profile/language.png}" alt="language">Tourist language: [[${reservation.primaryLanguage}]]</p>
                            <div>
                                <h2><span th:text="${reservation.guestCount}">guestCount</span> Guests</h2>
                                <p><span>[[${reservation.userName}]]</span> <img th:src="@{/images/profile/guestChatting.png}" alt="guestChatting"></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="reservation-list-more">more reservation list</button>
            </div> <!-- // 판매자 예약 내역 -->

        </div>
    </div>

    <script th:inline="javascript">
        const message = /*[[${message}]]*/  "전달 받은 message";
        if(message != null) alert(message);

        const loginUserNo = /*[[${session.loginUser?.userNo}]]*/ "로그인한 회원";
        const pageUserNo = /*[[${user?.userNo}]]*/ "보고 있는 페이지 회원";
        const userType = /*[[${session.loginUser?.userType}]]*/ "유저 타입";
    </script>       
    
    <script th:src="@{/js/profile/profileEdit.js}"></script>   
    <script th:src="@{/js/profile/sellerReservation.js}"></script>   

</body>
</html>