<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>

    
    <link rel="stylesheet" th:href="@{/libraries/bootstrap/css/bootstrap.min.css}">
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/productDetail/productDetail.css}">
    

    <link rel="stylesheet" th:href="@{/libraries/assets/owlcarousel/assets/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/libraries/assets/owlcarousel/assets/owl.theme.default.min.css}">
    
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
    
    <script th:src="@{/libraries/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/libraries/bootstrap/js/bootstrap.js}"></script>
    
    <script th:src="@{/libraries/assets/vendors/jquery.min.js}"></script>
    <script th:src="@{/libraries/assets/owlcarousel/owl.carousel.js}"></script>

</head>
<body th:object="${product}">


    <div class="reservation--blind" th:if="${product.productState=='B'}">
        <div  class="reservation--blind__top">
            <div> 
                <img th:src="@{/images/productDetail/blindWarning.png}" class="blind--icon">
                <h2>서비스 이용에 불편을 드려 죄송합니다</h2>
            </div>
            <h2>현재 블라인드 처리된 글입니다</h2>
        </div>

        <div class="reservation--blind__bottom">
            <div>해당 게시글은 가이두 운영정책에서 제한하고 있는 내용을 포함하고 있거나</div>
            <div>신고로 인하여 블라인드 조치 되었습니다 자세한 사항은 문의를 통해 확인해주세요</div>
            <div class="reservation--blind__buttons">
                <a href=""><div id="inquireBtn">문의하기</div></a>
                <a th:href="@{/}"><div id="gotoMainBtn">메인으로</div></a>
            </div>

        </div>
    </div>
    
    <form th:action="@{/reservation/reservationform/{productNo}(productNo=${product.productNo})}" method="GET"> 
    
        <div class="detail--container">
            
            <section class="detail--top">
                
                <div>
                    <div class="detail--top__category">
                        <div th:text="*{regionName}">지역명</div>
                        <div>></div>
                        <div th:text="*{themeName}">테마명</div>
                        <div>></div>
                        <div th:text="*{productName}">상품명</div>
                    </div>

                    <!-- session.loginUser 존재할 때만 보이도록 하기 -->
                    <div class="detail--top__button" th:if="${session.loginUser.userNo}==*{userNo}">
                        <div id="editBtn">edit</div>
                        <div id="deleteBtn">delete</div>
                    </div>
                </div>

                <div class="detail--top__slide">
                    <div class="detail--silde__container">

                        <section id="demos">
                            <div class="row">
                                <div class="large-12 columns">

                                    <div class="loop owl-carousel owl-theme">
        
                                        <div class="item" th:each="image : *{imageList}">
                                            <img class="detail--silde__item-img" th:src="${image.filePath}">
                                        </div>

                                    </div>

                                </div>
                            </div>

                            
                            <div class="owl-carousel__prev">
                                <img th:src="@{/images/productDetail/arrow_left.svg}">
                            </div>
                            
                            <div class="owl-carousel__next">
                                <img th:src="@{/images/productDetail/arrow_right.svg}">
                            </div>


                        </section>
                        

                    </div>
                </div>

            </section>
        

        


                <section class="detail--middle">
        
                    <section  class="detail--left__content">
        
                        <!-- 상세 설명 -->
                        <div class="detail--middle__detail">
        
                            <div class="detail--text__title font1">
                                [[*{productName}]]
                                <span class="detail--ongoing__title font4" th:if="*{productState}=='N'">ongoing</span>
                            </div>
        
        
                            <div class="detail--div__rating">
                                <div class="detail--number__rating" th:text="*{productRating}">평균 별점</div>
                                <div class="detail--stars__rating">
                                    ⭐⭐⭐⭐⭐ 
                                    <span th:style="|width: *{reviewPercentage}%; display:inline-block; text-shadow: 0 0 0 #1C797D;|">⭐⭐⭐⭐⭐</span>
                                </div>
                                <div class="detail--count__rating" th:text="|(*{reviewCount})|"></div>
        
                            </div>
        
                            <div class="detail--top__like">
                                <div class="detail--div__location">
                                    <img th:src="@{/images/productDetail/location_icon.svg}">
                                    <div>
                                        <div>[[*{regionName}]]</div>
                                        <th:block th:if="${#lists.size(product.tourCourse) > 0}" th:each="course : *{tourCourse}">
                                            <div th:if="${course.bossCourseFL=='Y'}">&nbsp; - [[${course.courseName}]]</div>
                                        </th:block>
                                    </div>
                                </div>
                                
                                
                                    <!-- 관심 상품 등록 -->
                                    <label class="like--container" th:if="${session.loginUser}">
                                        <input type="checkbox" id="wishHeart" th:checked="${wishOrNot}>0">
                                        <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z"></path></svg>
                                    </label>
                                    
                            </div>
                            
        
                            <!-- 상품 기본 정보 -->
                            <div class="detail--div__collection">
                                <div th:if="${eachCost==0}">
                                    <img th:src="@{/images/productDetail/duration_icon.svg}" class="duration_icon">
                                    <div>Duration: [[*{tourDuration}]] hr(s)</div>
                                </div>
                                <div>
                                    <img th:src="@{/images/productDetail/language_icon.svg}">
                                    <div>Guided language: [[${guide.languageSkill}]]</div>
                                </div>
        
                                <div>
                                    <img th:src="@{/images/productDetail/receive_dollars_icon.svg}">
                                    <div>Free cancellation 4 day(s) prior to selected date</div> 
                                </div>
        
                                <div th:if="${eachCost!=0}">
                                    <img th:src="@{/images/productDetail/recruits_icon.png}" class="recruits_icon">
                                    <div>Number of recruits is between <strong>[[*{minTourist}]]</strong> and <strong>[[*{maxTourist}]]</strong> per package</div> 
                                </div>
                            </div>
                        
                            
                            <div class="detail--divisionline" id="section1" style="margin-top: 0;"></div>
                    
            
                            <!-- 자기소개 -->
                            <div class="detail--middle__pr">
                                <div class="detail--title__pr">About Guide!</div>
        
                    
                                <div class="detail--container__pr"  th:if="${#lists.size(pr) > 0}">
                    
                                    <div class="detail--item__pr" th:if="${pr.abroadExperience}">
                                        <img th:src="@{/images/profile/abroadExperience.png}">
                                        <div class="detail--item__pr-text">I have traveled to : [[${pr.abroadExperience}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.subLang}">
                                        <img th:src="@{/images/profile/subLang.png}">
                                        <div class="detail--item__pr-text">Speaks [[${pr.subLang}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.favoriteSong}">
                                        <img th:src="@{/images/profile/favoriteSong.png}">
                                        <div class="detail--item__pr-text">Favorite song : [[${pr.favoriteSong}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.dopamine}">
                                        <img th:src="@{/images/profile/dopamine.png}">
                                        <div class="detail--item__pr-text">My dopamine: [[${pr.dopamine}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.birthYear}">
                                        <img th:src="@{/images/profile/birthDay.png}">
                                        <div class="detail--item__pr-text">Born in the [[${pr.birthYear}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.job}">
                                        <img th:src="@{/images/profile/job.png}">
                                        <div class="detail--item__pr-text">My work: [[${pr.job}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.pets}">
                                        <img th:src="@{/images/profile/pets.png}">
                                        <div class="detail--item__pr-text">Live with [[${pr.pets}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.hobby}">
                                        <img th:src="@{/images/profile/hobby.png}">
                                        <div class="detail--item__pr-text">My hobby: [[${pr.hobby}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.mbti}">
                                        <img th:src="@{/images/profile/MBTI.png}">
                                        <div class="detail--item__pr-text">MBTI is: [[${pr.mbti}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.strength}">
                                        <img th:src="@{/images/profile/strength.png}">
                                        <div class="detail--item__pr-text">[[${pr.strength}]]</div>
                                    </div>
                                    
                                    <div class="detail--item__pr" th:if="${pr.tmi}">
                                        <img th:src="@{/images/profile/TMI.png}">
                                        <div class="detail--item__pr-text">TMI is [[${pr.tmi}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.major}">
                                        <img th:src="@{/images/profile/major.png}">
                                        <div class="detail--item__pr-text">I majored in [[${pr.major}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.uselessTalent}">
                                        <img th:src="@{/images/profile/uselessTalent.png}">
                                        <div class="detail--item__pr-text">Useless talent: [[${pr.uselessTalent}]]</div>
                                    </div>
                    
                                    <div class="detail--item__pr" th:if="${pr.capList}">
                                        <img th:src="@{/images/profile/capList.png}">
                                        <div class="detail--item__pr-text">[[${pr.capList}]] as guide</div>
                                    </div>
                    
                                </div>
                            </div>
        
        
                            <!-- 판매자 프로필 -->
                            <div class="detail--middle__profile">
                                <div>
                                    
                                    <a th:href="@{/profile/{userNo}(userNo=*{userNo})}" class="detail--img__profile-href">
                                            <img th:src="${guide.profileImage}?${guide.profileImage}:@{/images/userProfile/basicUser2.svg}">
                                    </a>
                                    
            
                                    <img th:if="${guide.superGuideFl=='Y'}" th:src="@{/images/productDetail/superguide_mark.png}" class="detail--div__super">
                                    <img th:if="${guide.superGuideFl=='N'}" th:src="@{/images/productDetail/guide_mark.png}" class="detail--div__super">
            
                                    <div class="detail--content__profile">
                                        <div th:text="${guide.userName}">회원 이름</div>
                                        <div class="detail--innercontent__profile">
                                            <div th:utext="|경력(${#strings.setSplit(guide.careerDate, ',')[1]}) <span>${#strings.setSplit(guide.careerDate, ',')[0]}</span>|">경력(개월) 숫자</div>
                                            <div>평점 <span th:text="${guide.starAverage}"></span></div>
                                            <div>후기 <span th:text="${guide.reviewCount}"></span></div>
                                        </div>
                                    </div>
            
                                </div>
            
                                <div class="detail--ect__profile">
                                    <a href=""><button id="contactGuide" type="button">가이드에게 연락하기</button></a>  <!-- 채팅으로 넘어가기, product userNo 전달 -->
                                    <div class="detail--div__warning"><span>!</span> 안전한 결제를 위해 가이두 웹사이트 외부에서 <br>
                                        송금하거나 대화를 나누지 마세요.</div>
                                </div>
                            </div>
        
                            
        
                            <div class="detail--divisionline" id="section2"></div>
        
        
        
                            <!-- 상품 상세 내용 -->
                            <div class="detail--title__detail">Tour Detail</div>
                            
                            <div class="detail--text__detail" th:text="*{productContent}">
                                상품 상세 내용
                            </div>


                            

                            <div class="detail--text__addnotes" th:if="${addNotesList}">
                                <strong class="font2">📝 additional notes</strong>

                                <ul th:each="addNotes : ${addNotesList}">
                                    <li th:text="${addNotes}"></li>
                                </ul>
                                
                            </div>
        

                            <div class="detail--list__tourcourse font2" th:if="*{tourCourse}">
                                <strong>🚩 tour course</strong>
        
        
                                <!-- 아코디언 (코스 별 지도) -->
                                <div class="tourcourse--container">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
                                        <th:block th:each="i : ${#numbers.sequence(0, #lists.size(product.tourCourse) - 1, 1)}">
                                            
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" th:id="|heading${i+1}|">
                                                <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" th:href="|#collapse${i+1}|" aria-expanded="false" th:aria-controls="|collapse${i+1}|"
                                                    th:onclick='|showTourcourseMap([[${product.tourCourse[i].latitude}]], [[${product.tourCourse[i].longitude}]], ${i+1})|'>
                                                    [[${product.tourCourse[i].courseName}]]
                                                </a>
                                                </h4>
                                                </div>
                                                <div th:id="|collapse${i+1}|" class="panel-collapse collapse" role="tabpanel" th:aria-labelledby="|heading${i+1}|">
                                                <div class="panel-body">
                                                    <div th:id="|tourcourseMap${i+1}|" style="width:100%;height:100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </th:block>
                                    
                                    
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
        
                    
                        <div class="detail--divisionline" id="section3"></div>
                
                    
                        <!-- 여행 일정 -->
                        <div class="detail--middle__date">
                            <div class="detail--text__date-first">
                                [[*{regionName}]]에서 보내는 [[*{productPackage}]]일
                            </div>
        
                            <!-- 총 진행 날짜(범위) -->
                            <div class="detail--text__date-second">
                                21 Jun 2023 - 24 Jun 2023
                            </div>
                            
                            <div class="detail--calendar__date">
                                <img th:src="@{http://via.placeholder.com/600x330}">
                            </div>
                            
                        </div>
        
        
        
                        <div class="detail--divisionline" id="section4"></div>
                        
                        
                        <!-- 유의사항 -->
                        <div class="detail--bottom__precaution">
                            <div class="detail--title__precaution">Precautions</div>
                            
                            <div class="detail--description__precaution">
                                <ul>
                                    <!-- 출발 인원 상품마다 다름!!!!!!  -->
                                    <li>본 투어의 최소 출발 인원은 [[*{minTourist}]]명이며, 최소 출발 인원 미달 시 출발 4일 전에 이메일을 통해 투어 취소를 안내드립니다.</li>
                                    <li>태풍, 눈보라 등의 악천후의 경우 출발 1일 전 (현지 시간 18:00)에 투어 출발 가능 여부가 결정되며 이메일을 통해 안내드립니다.</li>
                                    <li>일정에 차질이 생기지 않도록 지정된 장소에 10분 전까지 도착해주시기 바랍니다. 지각 시 기다리지 않습니다.</li>
                                    <li>주문이 확정된 후에는 날짜를 임의로 변경할 수 없습니다. 발생하는 모든 손실에 대한 책임은 귀하에게 있습니다.</li>
                                    <li>개인적인 사정, 지각 등의 사유로 투어에 참여하지 않거나 취소하는 경우 환불되지 않습니다.</li>
                                    <li>예약 시 정확한 정보를 반드시 기재하여 투어에 영향을 미칠 수 있는 실수를 방지하시기 바랍니다.</li>
                                    <li>교통 상황, 날씨, 축제 및 당일 인파에 따라 각 여정의 도착 시간이 변경될 수 있습니다. 상기 또는 기타 불가항력 요인으로 인해 여정이 지연되거나 취소되는 경우 환불되지 않습니다. 이해해 주셔서 감사합니다.</li>
                                    <li th:if="${eachCost==0}">이 일정은 공유 투어입니다. 본 투어에 참여하는 고객은 각 명승지의 체류 시간을 준수하고 직원의 배치를 따라야 합니다.</li>
                                    <li>법을 위반하고 귀하의 권리에 영향을 미치지 않도록 한국의 현지 법률과 규정을 준수하고 한국 법에서 금지하는 품목을 휴대하지 마십시오.</li>
                                    <li>투어 중 여권과 귀중품은 안전하게 보관하시기 바랍니다. 분실, 도난, 파손 등이 발생하는 경우 발생하는 모든 손실에 대한 책임은 귀하에게 있습니다.</li>
                                    <li>투어 중 임의로 그룹에서 이탈하는 경우 거래가 무효 처리되며 수수료는 환불되지 않습니다. 그리고 그것이 재산 손실이나 개인 안전에 영향을 미칠 경우 그 결과는 귀하가 부담해야 합니다.</li>
                                </ul>
                            </div>
                            
                        </div>
                        
        
        
                        <div class="detail--divisionline" id="section5" th:if="${#lists.size(reviewList) > 0}"></div>
        
        
                        <!-- 리뷰 -->
                        <div class="detail--bottom__review" th:if="${#lists.size(reviewList) > 0}">
        
                            <div class="detail--title__review">
                                Review <span th:utext="|(${#lists.size(reviewList)})|">(리뷰 개수)</span>
                            </div>
                    
                            <th:block th:each="review : ${reviewList}">
        
                                <div class="detail--item__review">
                                    <div class="detail--item__review-top">
        
                                        <div>
                                            <div class="detail--item__review-profile">
                                                <img th:src="${review.profileImage}">
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <div class="detail--item__review-name" th:text="${review.userName}">작성자 이름</div>
        
                                            <div class="detail--item__review-top-second">
                                                
                                                <span class="detail--item__review-rating">
                                                    ⭐⭐⭐⭐⭐ 
                                                    <span th:style="|width: ${review.reviewStars}%; display:inline-block; text-shadow: 0 0 0 #1C797D;|">⭐⭐⭐⭐⭐</span>
                                                </span>
                                                
                                                <div class="detail--item__review-date" th:text="${review.createDate}">작성일자</div>
        
                                            </div>
                                        </div>
                                    </div>
        
        
                                    <div class="detail--item__review-bottom">
                                        <div class="detail--item__review-content" th:text="${review.reviewMessage}">자세한 후기 내용</div>
                                    </div>
        
                                </div>
                                
                            </th:block>
        
                            
                            <button type="button" class="detail--item__review-button" th:if="${#lists.size(reviewList) > 4}">show more reviews</button>
        
                        </div>
        
                    </section>

        



                
                
                    
                    <!-- 예약 사이드바 -->
                    <section class="detail--right__sidebar">
        
                        <!-- 예약 캘린더(날짜) -->
                        <div class="detail--right__calendar">
        
                            <!-- <table class="scriptCalendar">
                                <thead>
                                    <tr>
                                    <td class="calendarBtn" id="btnPrevCalendar">&#60;</td>
                                    <td colspan="5">
                                        <span id="calYear">YYYY</span>년 <span id="calMonth">M</span>월
                                    </td>
                                    <td class="calendarBtn" id="nextNextCalendar">&#62;</td>
                                    </tr>
                                    <tr>
                                    <td>Sun</td>
                                    <td>Mon</td>
                                    <td>Tue</td>
                                    <td>Wed</td>
                                    <td>Thu</td>
                                    <td>Fri</td>
                                    <td>Sat</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                </table> -->
        
                        </div>
        
                        <!-- 예약 옵션(시간) : 당일 투어의 경우에만 뜸 -->
                        <div class="detail--right__option" th:if="${#lists.size(product.optionList) > 0}">
                            <span>Option</span>
        
                            <div class="detail--item__option">
                                <th:block th:each="i : ${#numbers.sequence(0, #lists.size(product.optionList) - 1, 1)}">
                                    <input type="radio" name="option" th:id="|option${i+1}|" th:value="${product.optionList[i].optionNo}" th:disabled="${product.optionList[i].optionRestCount==0}">
                                    <label class="option--active" th:for="|option${i+1}|" th:utext="|${product.optionList[i].optionName} (${product.optionList[i].optionRestCount} left)|"></label>
                                </th:block>
                            </div>
                        </div>
                        
                        <!-- 예약 가격 -->
                        <div class="detail--right__price">
                            <span>Guest</span>
                            <div class="detail--right__price-qty">
        
                                <!-- 1인당 가격 : n박 시 eachCost !=0 -->
                                <div th:if="${eachCost}!=0"> KRW <span id="eachCost" th:text="${#numbers.formatInteger(eachCost, 3, 'COMMA')}">1박 이상 인당 가격=상품가격/인원수</span> / person</div>
                                <!-- 1인당 가격 : 1박 시 eachCost == 0원 -->
                                <div th:if="${eachCost}==0"> KRW <span id="eachCost" th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}">1박 시 인당 가격</span> / person</div>
                                
                                <div>
                                    <div class="detail--right__price-minus priceBtn">&minus;</div>
                                    <div class="detail--right__price-count" th:text="${guestCount}">게스트 수</div>
                                    <div class="detail--right__price-plus priceBtn">&plus;</div>
                                </div>
                            </div>
                        </div>
        
        
                        <div class="detail--right__price-total">
                            <span>Total</span>
                            <div> &#8361; 
                                <span id="totalCost"></span></div>
        
                        </div>
                        <!-- 예약 버튼 -->

                        <input type="hidden" value="" id="guestHidden" name="guests">
                        <input type="hidden" value="" id="dateHidden" name="date">

                        <button class="detail--right__button" id="reserveBtn">Reserve</button>

                    


                    <div class="detail--right__scroll">
                        <ul>
                            <li><div></div> <a href="#section1">가이드 소개</a> </li>
                            <li><div></div> <a href="#section2">상품설명</a></li>
                            <li><div></div> <a href="#section3">일정소개</a> </li>
                            <li><div></div> <a href="#section4">구매 시 유의사항</a></li>
                            <li th:if="${#lists.size(reviewList) > 0}"><div></div> <a href="#section5">리뷰</a></li>
                            <li><div></div> <a href="#section6">위치</a></li>
                        </ul>
                    </div>

                </section>
                            

            </section>

            
        
        
        
            <section class="detail--bottom">


                <div class="detail--divisionline"  id="section6"></div>
                


                <!-- 여행 코스(지도) -->
                <div class="detail--bottom__map">
                    <div class="detail--text__map">
                        Where you’ll be
                    </div>
                
                    <div id="location--map"></div>
                </div>
                

                <div class="detail--divisionline"></div>


        
                <!--여행 추천 -->
                <div class="detail--bottom--recommend">
                    
                    <div class="detail--text__recommend">
                        Recommended travel information, how about here?
                    </div>
            
                    <div class="detail--list_recommend"> 
                        
                        <div class="detail--item__recommend" th:each="recommend : ${recommendList}">
                            <a th:href="@{/productDetail/product/{productNo}(productNo=${recommend.productNo})}">
                                <div class="detail--item__recommend-img">
                                    <img th:if="${#lists.size(recommend.imageList) > 0}" th:src="${recommend.imageList[0]?.filePath}">
                                </div>
                            </a>
                
                            <div class="detail--item__recommend-title" th:text="${recommend.productName}">
                                    상품명
                            </div>
                        </div>
                
            
                    </div>
        
        
                </div>
        

                <!-- <div class="detail--divisionline"></div> -->
                
        
                <!-- 페스티벌 추천 -->
                <!-- <div class="detail--bottom--festival">
                    
                    <div class="detail--text__recommend">
                        How about a festival like this?
                    </div>
                    
                    <div class="detail--list_recommend"> 

                        <div class="detail--item__recommend">
                            <div class="detail--item__recommend-img">
                                <img th:src="@{/images/productDetail/글로벌EDM페스티벌.jpg}">
                            </div>
                
                            <div class="detail--item__recommend-title">
                                Don't Let Daddy Know 2023
                            </div>
                        </div>
                
        
                        <div class="detail--item__recommend">
                            <div class="detail--item__recommend-img">
                                <img th:src="@{/images/productDetail/피크페스티벌.jpg}">
                            </div>
                
                            <div class="detail--item__recommend-title">
                                Peak Festival
                            </div>
                        </div>
                
        
                        <div class="detail--item__recommend">
                            <div class="detail--item__recommend-img">
                                <img th:src="@{/images/productDetail/힙합플레이야.jpeg}">
                            </div>
                
                            <div class="detail--item__recommend-title">
                                HIPHOPPLAYA 2023
                            </div>
                        </div>
        

                        <div class="detail--item__recommend">
                            <div class="detail--item__recommend-img">
                                <img th:src="@{/images/productDetail/위버스콘.png}">
                            </div>
                
                            <div class="detail--item__recommend-title">
                                Weverse Concert
                            </div>
                        </div>

                    </div>
                        

        
                </div> -->
                
            </section>
            
            <script th:inline="javascript">
                jQuery(document).ready(function($) {
                    $('.loop').owlCarousel({
                        center: true,
                    items: 3,
                    loop: true,
                    nav: false,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    autoplayHoverPause: true,
                    mouseDrag: false,
                    margin: 10,
                    responsive: {
                        0:{
                            items: 1
                        },
                        600: {
                            items: 2
                        }
                    }
                });
                
                const owl = $('.owl-carousel');
                
                $('.owl-carousel__next').click(() => owl.trigger('next.owl.carousel'))
                
                $('.owl-carousel__prev').click(() => owl.trigger('prev.owl.carousel'))
                
            });
            
            
            const package = /*[[${eachCost}]]*/"패키지종류(1박or1박이상)";
            const guestCount = /*[[${guestCount}]]*/"게스트수";
            const loginUserNo = /*[[${session.loginUser?.userNo}]]*/"로그인 회원 번호";
            const loginUserType = /*[[${session.loginUser?.userType}]]*/"로그인 회원 타입";
            const product = /*[[${product}]]*/ "상품";
            
            </script>

    </div>

</form>

    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${apiKey} + '&libraries=services'"></script>
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${apiKey}"></script>

    <script th:src="@{/libraries/assets/vendors/highlight.js}"></script>
    <script th:src="@{/libraries/assets/js/app.js}"></script>
    <script th:src="@{/js/productDetail/productDetail.js}"></script>


</body>
</html>