<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guido.admin.model.dao.AdminMapper">
	
	<!-- Event DTO에 대한 resultMap -->
	<resultMap type="Event" id="event_list_rm">
		<id property="eventNo" column="EVENT_NO"/>
		<result property="eventName" column="EVENT_NAME"/>
		<result property="eventContent" column="EVENT_CONTENT"/>
		<result property="eventEndDt" column="EVENT_END_DT"/>
		<result property="createDt" column="CREATE_DT"/>
		<result property="state" column="EVENT_STATE"/>
	</resultMap>
	
	<resultMap type="Event" id="event_rm">
		<id property="eventNo" column="EVENT_NO"/>
		<result property="eventName" column="EVENT_NAME"/>
		<result property="eventContent" column="EVENT_CONTENT"/>
		<result property="eventEndDt" column="EVENT_END_DT"/>
		<result property="createDt" column="CREATE_DT"/>
		<result property="state" column="EVENT_STATE"/>
		<result property="bgColor" column="BG_COLOR"/>
		<result property="mainBannerOrder" column="MAIN_BANNER_ORDER"/>
		<collection property="fileList"
					select="selectFileList"
					column="EVENT_NO"
					javaType="java.util.ArrayList"
					ofType="File"/>
	</resultMap>
	
	<resultMap type="File" id="file_rm">
		<id property="fileNo" column="FILE_NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="eventNo" column="EVENT_NO"/>
		<result property="qnaNo" column="QNA_NO"/>
		<result property="fileOrder" column="FILE_ORDER"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	
	<resultMap type="User" id="user_rm">
		<id property="userNo" column="USER_NO"/>
		<result property="userEmail" column="USER_EMAIL" />
		<result property="passportNo" column="PASSPORT_NO" />
		<result property="createDate" column="CREATE_DT" />
		<result property="userState" column="USER_STATE" />
		<result property="superGuideFl" column="SUPER_GUIDE_FL" />
	</resultMap>
	
	<resultMap id="product_rm" type="Product">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productPackage" column="PRODUCT_PACKAGE"/>
		<result property="productContent" column="PRODUCT_CONTENT"/>
		<result property="tourDuration" column="TOUR_DURATION"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productAddPrice" column="PRODUCT_ADD_PRICE"/>
		<result property="maxTourist" column="PRODUCT_MAX_TOURIST"/>
		<result property="minTourist" column="PRODUCT_MIN_TOURIST"/>
		
		<result property="userNo" column="USER_NO"/>
		<result property="themeCode" column="THEME_CODE"/>
		<result property="productState" column="PRODUCT_STATE"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="guideLanguage" column="GUIDE_LANGUAGE"/>
		<result property="viewCount" column="VIEW_COUNT"/>
	</resultMap>
	
	<resultMap id="qna_rm" type="QNA">
		<id property="qnaNo" column="QNA_NO"/>
		<result property="qnaEmail" column="QNA_EMAIL"/>
		<result property="qnaTitle" column="QNA_TITLE"/>
		<result property="qnaContent" column="QNA_CONTENT"/>
		<result property="qnaDeleteFL" column="QNA_DEL_FL"/>
		<result property="qnaCheckFL" column="QNA_CHECK_FL"/>
		<result property="userNo" column="USER_NO"/>
		<result property="qnaAnswer" column="QNA_ANSWER"/>
		<result property="qnaDate" column="QNA_DATE" />
		
		<collection property="fileList"
					select="selectQnaFileList"
					column="QNA_NO"
					javaType="java.util.ArrayList"
					ofType="File"/>
	</resultMap>
	
	
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM
		<choose>
			<when test="pageName == 'eventList'">
				"EVENT"
				<if test="query != null">WHERE EVENT_NAME LIKE '%${query}%' OR EVENT_CONTENT LIKE '%${query}%'</if>
			</when>
			<when test="pageName == 'touristManagement'">
				"USER" WHERE USER_TYPE='T'
				<if test="state != '' and state != null and state != 'whole'">AND USER_STATE=#{state}</if>
				<if test="query != null">AND USER_EMAIL LIKE '%${query}%'</if>
			</when>
			<when test="pageName == 'guideManagement'">
				"USER"
				<if test='super == "Y"'>NATURAL JOIN "GUIDE"</if>
				WHERE USER_TYPE='G' AND USER_STATE != 'Y'
				<if test="state != '' and state != null and state != 'whole'">AND USER_STATE=#{state}</if>
				<if test='super == "Y"'>AND SUPER_GUIDE_FL = 'Y'</if>
				<if test="query != null">AND USER_EMAIL LIKE '%${query}%'</if>
			</when>
			<when test="pageName == 'guideApprovalRequest'">
				"USER" WHERE USER_TYPE='G' AND USER_STATE='Y'
				<if test="query != null">AND USER_EMAIL LIKE '%${query}%'</if>
			</when>
			<when test="pageName == 'productManagement'">
				"PRODUCT"
				<if test="query != null">WHERE PRODUCT_NAME LIKE '%${query}%' OR PRODUCT_CONTENT LIKE '%${query}%'</if>
			</when>
			<when test="pageName == 'qna'">
				"QNA"
				<if test="query != null">WHERE QNA_TITLE LIKE '%${query}%' OR QNA_CONTENT LIKE '%${query}%'</if>
			</when>
			<when test="pageName == 'settlementManagement'">
				RESERVATION R
				JOIN PRODUCT USING (PRODUCT_NO)
				JOIN "USER" U ON (R.USER_NO = U.USER_NO)
				JOIN "PRODUCT_DT" PDT ON (R.PRODUCT_DT_NO = PDT.PRODUCT_DT_NO)
				WHERE RESERVATION_STATE != 'N'
				<if test="query != null">AND (USER_EMAIL LIKE '%${query}%' OR PRODUCT_NAME LIKE '%${query}%')</if>
			</when>
		</choose>
	</select>
	
	<select id="selectList" resultType="map">
		SELECT
		<choose>
			<when test="pageName == 'eventList'">
				EVENT_NO, EVENT_NAME, TO_CHAR(CREATE_DT, 'YYYY-MM-DD') CREATE_DT, TO_CHAR(EVENT_END_DT, 'YYYY-MM-DD') EVENT_END_DT, EVENT_STATE, BG_COLOR, NVL2(MAIN_BANNER_ORDER,MAIN_BANNER_ORDER,'0') MAIN_BANNER_ORDER
				FROM EVENT
				<if test="query != null">WHERE EVENT_NAME LIKE '%${query}%' OR EVENT_CONTENT LIKE '%${query}%'</if>
				ORDER BY EVENT_NO DESC
			</when>
			<when test="pageName == 'touristManagement'">
				USER_NO, USER_EMAIL, PASSPORT_NO, TO_CHAR(CREATE_DT, 'YYYY-MM-DD') CREATE_DT, USER_STATE
				FROM "USER"
				NATURAL JOIN "TOURIST"
				WHERE USER_TYPE='T'
				<if test="state != '' and state != null and state != 'whole'">AND USER_STATE=#{state}</if>
				<if test="query != null">AND USER_EMAIL LIKE '%${query}%'</if>
				ORDER BY USER_NO DESC
			</when>
			<when test="pageName == 'guideManagement'">
				USER_NO, USER_EMAIL, TO_CHAR(CREATE_DT, 'YYYY-MM-DD') CREATE_DT, USER_STATE, SUPER_GUIDE_FL 
				FROM "USER"
				NATURAL JOIN "GUIDE"
				WHERE USER_TYPE='G' AND USER_STATE != 'Y'
				<if test="state != '' and state != null and state != 'whole'">AND USER_STATE=#{state}</if>
				<if test='super == "Y"'>AND SUPER_GUIDE_FL = 'Y'</if>
				<if test="query != null">AND USER_EMAIL LIKE '%${query}%'</if>
				ORDER BY USER_NO DESC
			</when>
			<when test="pageName == 'guideApprovalRequest'">
				USER_NO, USER_EMAIL, TO_CHAR(CREATE_DT, 'YYYY-MM-DD') CREATE_DT, CONFIRMATION_NO
				FROM "USER"
				NATURAL JOIN "GUIDE"
				WHERE USER_TYPE='G'
				AND USER_STATE='Y'
				<if test="query != null">AND USER_EMAIL LIKE '%${query}%'</if>
				ORDER BY USER_NO ASC
			</when>
			<when test="pageName == 'productManagement'">
				PRODUCT_NO, USER_EMAIL, PRODUCT_NAME, TO_CHAR(P.CREATE_DT, 'YYYY-MM-DD') CREATE_DT, PRODUCT_STATE FROM "PRODUCT" P
				JOIN "USER" USING(USER_NO)
				<if test="query != null">WHERE PRODUCT_NAME LIKE '%${query}%' OR PRODUCT_CONTENT LIKE '%${query}%'</if>
				ORDER BY PRODUCT_NO DESC
			</when>
			<when test="pageName == 'qna'">
				
				QNA_NO, QNA_TITLE, QNA_EMAIL, TO_CHAR(QNA_DATE, 'YYYY-MM-DD') QNA_DATE, QNA_CHECK_FL
				FROM QNA
				<if test="query != null">WHERE QNA_TITLE LIKE '%${query}%' OR QNA_CONTENT LIKE '%${query}%'</if>
				ORDER BY
				  CASE WHEN QNA_CHECK_FL = 'Y' THEN QNA_NO END DESC,
				  CASE WHEN QNA_CHECK_FL = 'N' THEN QNA_NO END ASC
			</when>
			<when test="pageName == 'settlementManagement'">
				RESERVATION_NO, ORDER_NUMBER, PRODUCT_NAME, U.USER_EMAIL, TOTAL_PRICE/1.1 DEFAULT_PRICE,
				TOTAL_PRICE/1.1*0.1 COMMITION, TOTAL_PRICE, RESERVATION_STATE,
				TO_CHAR(PDT.PRODUCT_DT + (PRODUCT_PACKAGE * INTERVAL '1' DAY),'YYYY-MM-DD') "DATE"
				FROM RESERVATION R
				JOIN PRODUCT USING (PRODUCT_NO)
				JOIN "USER" U ON (R.USER_NO = U.USER_NO)
				JOIN "PRODUCT_DT" PDT ON (R.PRODUCT_DT_NO = PDT.PRODUCT_DT_NO)
				WHERE RESERVATION_STATE != 'N'
				<if test="query != null">AND (USER_EMAIL LIKE '%${query}%' OR PRODUCT_NAME LIKE '%${query}%')</if>
				ORDER BY RESERVATION_NO DESC
			</when>
		</choose>
	</select>
	
	
	
	<select id="selectEvent" resultMap="event_rm">
		SELECT EVENT_NO, EVENT_NAME, EVENT_CONTENT, CREATE_DT
		, BG_COLOR, EVENT_END_DT
		FROM EVENT
		WHERE EVENT_NO=#{eventNo}
	</select>
	
	<select id="selectFileList" resultMap="file_rm">
		SELECT FILE_ORDER, FILE_PATH FROM "FILE"
		WHERE EVENT_NO = #{eventNo}
		ORDER BY FILE_ORDER
	</select>
	
	<insert id="insertEvent">
		<selectKey order="BEFORE" resultType="_int" keyProperty="eventNo">
			SELECT SEQ_EVENT_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "EVENT" VALUES(#{eventNo}, #{eventName}, #{eventContent}, #{eventEndDt}, SYSDATE, DEFAULT,
			#{bgColor}, NULL
		)
	</insert>
	
	<insert id="insertFileList">
		INSERT INTO "FILE" (FILE_NO, EVENT_NO, FILE_ORDER, FILE_PATH)
		SELECT SEQ_FILE_NO.NEXTVAL, A.*
		FROM (
		  <foreach collection="list" item="file" separator=" UNION ALL ">
		    SELECT #{file.eventNo} EVENT_NO, #{file.fileOrder} FILE_ORDER, #{file.filePath} FILE_PATH FROM DUAL
		  </foreach>
		) A
	</insert>
	
	<select id="selectQNA" resultMap="qna_rm">
		SELECT * FROM QNA WHERE QNA_NO=#{qnaNo}
	</select>
	
	<select id="selectQnaFileList" resultMap="file_rm">
		SELECT FILE_ORDER, FILE_PATH FROM "FILE"
		WHERE QNA_NO = #{qnaNo}
		ORDER BY FILE_ORDER 
	</select>
	
	<update id="writeAnswer">
		UPDATE QNA SET QNA_ANSWER = #{qnaAnswer}, QNA_CHECK_FL = 'Y' WHERE QNA_NO = #{qnaNo}
	</update>
	
	<select id="selectMainEventList" resultType="map">
		<![CDATA[  
		SELECT NVL("EVENT".EVENT_NO, 0) AS EVENT_NO,
        DUMMY_MAIN_BANNER_ORDER AS MAIN_BANNER_ORDER,
		       NVL2(BG_COLOR, BG_COLOR, '#ffffff') AS BG_COLOR,
		       FILE_PATH
		FROM (
		    SELECT LEVEL AS DUMMY_MAIN_BANNER_ORDER
		    FROM DUAL
		    CONNECT BY LEVEL <= 8
		) DUMMY_SEQ
		LEFT JOIN "EVENT" ON DUMMY_MAIN_BANNER_ORDER = MAIN_BANNER_ORDER
		LEFT JOIN "FILE" ON "EVENT".EVENT_NO = "FILE".EVENT_NO AND FILE_ORDER = 0
		ORDER BY MAIN_BANNER_ORDER
		]]>
	</select>
	
	<update id="deleteMainBanner">
		UPDATE "EVENT" SET MAIN_BANNER_ORDER = NULL WHERE MAIN_BANNER_ORDER = #{order}
	</update>
	
	
	<update id="setMainBanner">
		UPDATE "EVENT" SET MAIN_BANNER_ORDER = #{order} WHERE EVENT_NO = #{eventNo}
	</update>
	
	
	<update id="eventBlind" parameterType="java.util.List">
	  UPDATE "EVENT" SET EVENT_STATE='B', MAIN_BANNER_ORDER=NULL WHERE EVENT_NO IN
	  <foreach item="eventNo" collection="list" open="(" separator="," close=")">#{eventNo}</foreach>
	</update>
	
	<update id="eventBlindCancel" parameterType="java.util.List">
	  UPDATE "EVENT" SET EVENT_STATE='N' WHERE EVENT_NO IN
	  <foreach item="eventNo" collection="list" open="(" separator="," close=")">#{eventNo}</foreach>
	</update>
	
	<update id="productBlind" parameterType="java.util.List">
	  UPDATE "PRODUCT" SET PRODUCT_STATE='B' WHERE PRODUCT_NO IN
	  <foreach item="productNo" collection="list" open="(" separator="," close=")">#{productNo}</foreach>
	</update>
	
	<update id="productBlindCancel" parameterType="java.util.List">
	  UPDATE "PRODUCT" SET PRODUCT_STATE='N' WHERE PRODUCT_NO IN
	  <foreach item="productNo" collection="list" open="(" separator="," close=")">#{productNo}</foreach>
	</update>
	
	<update id="setUserState" parameterType="java.util.Map">
	  UPDATE "USER" SET USER_STATE=#{state} WHERE USER_NO IN
	  <foreach item="userNo" collection="userNoList" open="(" separator="," close=")">#{userNo}</foreach>
	</update>
	
	<select id="countUnapprovedGuide">
		SELECT COUNT(*) FROM "USER" WHERE USER_STATE = 'Y'
	</select>
	
	<select id="countUnprocessedQna">
		SELECT COUNT(*) FROM QNA WHERE QNA_CHECK_FL = 'N'
	</select>
	
	<update id="updateEvent">
		UPDATE "EVENT" SET
		EVENT_NAME = #{eventName}, EVENT_CONTENT = #{eventContent}, EVENT_END_DT = #{eventEndDt}, BG_COLOR = #{bgColor}
		WHERE EVENT_NO=#{eventNo}
	</update>
	
	<delete id="deleteFile">
		DELETE FROM "FILE" WHERE EVENT_NO=#{eventNo} AND FILE_ORDER=#{fileOrder}
	</delete>
	
	
	<update id="updateSuperGuide">
		<![CDATA[  
		UPDATE "GUIDE" G
		SET G.SUPER_GUIDE_FL = 'Y'
		WHERE G.USER_NO IN (
			SELECT U.USER_NO
			FROM "USER" U
			JOIN "GUIDE" SG ON(U.USER_NO = SG.USER_NO)
			WHERE SG.SUPER_GUIDE_FL = 'N' 
			AND U.CREATE_DT <= ADD_MONTHS(SYSDATE, -1)
			AND EXISTS (
				SELECT 1
				FROM "PRODUCT" P
				INNER JOIN "REVIEW" R ON P.PRODUCT_NO = R.PRODUCT_NO
				WHERE P.USER_NO = U.USER_NO
				GROUP BY P.USER_NO
				HAVING AVG(R.REVIEW_STARS) >= 4.5
			)
			AND EXISTS (
				SELECT 1
				FROM "PRODUCT" P
				INNER JOIN "RESERVATION" RV ON P.PRODUCT_NO = RV.PRODUCT_NO
				WHERE P.USER_NO = U.USER_NO
				AND RV.RESERVATION_STATE = 'D'
				GROUP BY P.USER_NO
				HAVING COUNT(RV.RESERVATION_STATE) >= 2
			)
		)
		]]>
	</update>
	
	<update id="updateGeneralGuide">
		<![CDATA[  
		UPDATE "GUIDE"
		SET SUPER_GUIDE_FL = 'N'
		WHERE USER_NO IN (
			SELECT U.USER_NO
			FROM "USER" U
			JOIN "GUIDE" SG ON(U.USER_NO = SG.USER_NO)
			WHERE SG.SUPER_GUIDE_FL = 'Y'
			AND U.USER_NO IN (
		    	SELECT P.USER_NO
		        FROM "PRODUCT" P
		        INNER JOIN "REVIEW" R ON P.PRODUCT_NO = R.PRODUCT_NO
		    	WHERE R.REVIEW_DEL_FL = 'N'
		        GROUP BY P.USER_NO
		        HAVING AVG(R.REVIEW_STARS) < 4.5
			)
		)
		]]>
	</update>
</mapper>