<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guido.home.model.dao.AlarmMapper">
	
	
	
	<!-- 알림 받는 회원 번호 -->
	<select id="selectUserNo" resultType="int">
		SELECT USER_NO
		FROM PRODUCT
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 알림 삽입 -->
	<select id="insertAlarm">
		INSERT INTO NOTIFICATION
		(NOTIFICATION_NO, RECEIVER_NO, SENDER_NO, NOTIFICATION_CONTENT, CREATE_DT, NOTIFICATION_URL, NOTIFICATION_TYPE)
		VALUES(SEQ_NOTIFICATION_NO.NEXTVAL, #{receiverNo}, #{senderNo}, #{notificationContent}, SYSDATE, #{notificationURL}, #{notificationType});
	</select>
	
</mapper>