<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guido.myPage.model.dao.MyPageMapper">
	
	<resultMap id="user_rm" type="User">
		<!-- 공통 -->
		<id property="userNo" column="USER_NO"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userPassword" column="USER_PASSWORD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userTel" column="USER_TEL"/>
		<result property="profileImage" column="PROFILE_IMG"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="userState" column="USER_STATE"/>
		<!-- 투어리스트 -->
		<result property="passportNo" column="PASSPORT_NO"/>
		<result property="primaryLanguage" column="PRIMARY_LANGUAGE"/>
		<result property="emergencyContact" column="EMERGENCY_CONTACT"/>
		<result property="faceImg" column="FACE_IMG"/>
		<result property="countryCode" column="COUNTRY_CODE"/>
		<!-- 가이드 -->
		<result property="languageSkill" column="LANGUAGE_SKILL"/>
		<result property="activityArea" column="ACTIVITY_AREA"/>
		<result property="confirmationNo" column="CONFIRMATION_NO"/>
		<result property="superGuideFl" column="SUPER_GUIDE_FL"/>
		<!-- 가이드 pr 필요하면 작성해서 사용 -->
		<!-- <result property="pr" column=""/> -->
	</resultMap>
	

	<update id="nameEdit">
		UPDATE "USER" SET USER_NAME = #{userName} WHERE USER_NO = #{userNo}
	</update>	
	
	<select id="selectPw" resultType="String">
	 	SELECT USER_PASSWORD FROM "USER" WHERE USER_NO = #{userNo}
	</select>
	
	<update id="pwEdit">
		UPDATE "USER" SET USER_PASSWORD = #{userPassword} WHERE USER_NO = #{userNo}
	</update>
	
	<update id="telEdit">
		UPDATE "USER" SET USER_TEL = #{userTel} WHERE USER_NO = #{userNo}
	</update>
	
	<update id="countryCodeEdit">
		UPDATE "TOURIST" SET COUNTRY_CODE = #{countryCode} WHERE USER_NO = #{userNo}
	</update>
	
	<update id="updateEmergencyContact">
		UPDATE "TOURIST" SET EMERGENCY_CONTACT = #{emergencyContact} WHERE USER_NO = #{userNo}
	</update>
	
	<update id="passportEdit">
		UPDATE "TOURIST" SET PASSPORT_NO = #{passportNo} WHERE USER_NO = #{userNo}
	</update>
	
	<update id="primaryLanguageEdit">
		UPDATE "TOURIST" SET PRIMARY_LANGUAGE = #{primaryLanguage} WHERE USER_NO = #{userNo}
	</update>
	
	<update id="languageSkillEdit">
		UPDATE "GUIDE" SET LANGUAGE_SKILL = #{languageSkill} WHERE USER_NO = #{userNo}
	</update>
	
	<update id="secession">
		UPDATE "USER" SET USER_STATE = 'D' WHERE USER_NO = #{userNo}
	</update>
	
	
	
	
</mapper>