<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guido.common.scheduler.ProductSchedulerMapper">
	
	<resultMap id="product_rm" type="Product">
		<id property="productNo" column="PRODUCT_NO"/>
		
		<collection property="productDateList" select="selectProductDateList"
			column="PRODUCT_NO" javaType="java.util.ArrayList" ofType="ProductDate"/>
		
	</resultMap>
	
	
	<resultMap type="Reservation" id="reservaiton_rm" >
		<id property="reservationNo" column="RESERVATION_NO"/>
		
		<result property="reservationState" column="RESERVATION_STATE" />
		<result property="productDateNo" column="PRODUCT_DT_NO" />
	</resultMap>
	
	
	<resultMap  type="ProductDate" id="product_date_rm">
		<id property="productDateNo" column="PRODUCT_DT_NO" />
		<result property="productNo" column="PRODUCT_NO" />
	 	<result property="productDate" column="PRODUCT_DT" />
	 	<result property="availability" column="PRODUCT_DT_AVAILABILITY" />
	</resultMap>
	
	
	 
	 <!-- 모든 상품 조회 (스케줄러) -->
	 <select id="selectProductList" resultMap="product_rm">
		 SELECT * FROM "PRODUCT"
	 </select>
	 
	 	 <!-- 특정 상품 일정 조회 -->
	 <select id="selectProductDateList" resultMap="product_date_rm">
		 SELECT PRODUCT_DT_NO, PRODUCT_NO, TO_CHAR(PRODUCT_DT, 'YYYY-MM-DD') PRODUCT_DT, 
		 PRODUCT_DT_AVAILABILITY 
		 FROM "PRODUCT_DT"
		WHERE PRODUCT_NO = #{productNo}
		ORDER BY PRODUCT_DT
	 </select>
	 
	 
	 <!-- 스케줄러 - 마지막 일정이 현재 날짜보다 이른 경우 상태 변경 -->
	 <update id="updateProductAvailability">
		 UPDATE "PRODUCT"
		 SET PRODUCT_STATE = 'E'
		 WHERE PRODUCT_NO = #{productNo}
	 </update>
	 
	 
	 	 <!-- (스케줄러) 현재 날짜보다 이전의 일정 조회 -->
	 <select id="selectPassedDateList" resultMap="product_date_rm">
		 SELECT * FROM "PRODUCT_DT"
		 <![CDATA[
			WHERE PRODUCT_DT_AVAILABILITY = 'Y'
			AND PRODUCT_DT <= SYSDATE
		]]>
	 </select>
	 
	 <!-- 현재 날짜보다 이전인 일정 사용 불가 처리 -->
	 <update id="updatePassedDateList">
		 UPDATE "PRODUCT_DT"
		 SET PRODUCT_DT_AVAILABILITY = 'N'
		 WHERE PRODUCT_DT_NO = #{productDateNo}
	 </update>
	 
	 
	 <!-- 현재 날짜보다 이전인 예약 일정(날짜) 조회 [구매확정 처리] -->
	 <select id="selectFinishedReservationList" resultMap="reservaiton_rm">
		 SELECT * FROM "RESERVATION"
		JOIN "PRODUCT_DT" USING(PRODUCT_DT_NO)
		WHERE RESERVATION_STATE  = 'Y'
		<![CDATA[
		AND PRODUCT_DT <= SYSDATE
		]]>
	 </select>
	 
	 
	 <!--투어 일정이 현재 날짜보다 이전인 (이미 끝난) 예약 내역 구매확정 처리-->
	 <update id="updateFinishedReservationList">
		 UPDATE "RESERVATION"
		SET RESERVATION_STATE  = 'D'
		WHERE RESERVATION_NO = #{reservationNo}
	 </update>
	
</mapper>
