
/* 임시 별점 */
/* .starpoint_wrap{display:inline-block;} */
.review-rating{
    height: 24px; margin: 4px;
}
.review-star{
    position:relative;
    background:url(../../images/profile/smallStar_empty.png) 0 0 no-repeat;
    background-size: 104px 16px;
    width: 110px; height: 20px;
    font-size:0;}
.review-star .starpoint_bg{
    display:block;
    position:absolute; top:0; left:0; height:16px;
    background:url(../../images/profile/smallStar.png) 0 0 no-repeat;
    background-size: 104px 16px;
    pointer-events:none;
}
.review-star .label_star{
    display:inline-block;width:11px;height:16px;
}
.review-star .star_radio{opacity:0;width:0;height:0;position:absolute;}
.review-star .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10px;}
.review-star .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20px;}
.review-star .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:31px;}
.review-star .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:43px;}
.review-star .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:52.5px;}
.review-star .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:62px;}
.review-star .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:74px;}
.review-star .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:84px;}
.review-star .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:95px;}
.review-star .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.review-star .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:106px;}

.blind{position:absolute;clip:rect(0 0 0 0);
    margin:-1px;width:1px;height: 1px;overflow:hidden;}

/* 
<div class="review-rating">
        <div class="review-star">
            <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
            <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>
            <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
            <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>
            <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
            <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>
            <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
            <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>
            <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
            <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>
            <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
            <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
            <span class="starpoint_bg"></span>
        </div>
    </div>
*/