/* 전체 */
*,*:focus{outline:none;}
.container_total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    padding: 400px 0;
    overflow: scroll;
    margin-top: 120px;
}
/* 유효성 검사 색상 */
.correct{color: green;}
.incorrect{color: red;}
.signUp-message{
    display: none;
    justify-content: start;
    width: 420px;
    padding: 10px;
}
/* 회원가입 */
.container_top_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
/* 입력 부분 */
.container_middle_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----- uiverse ----- */
.inputGroup:not(.emailPart>.inputGroup):not(.authPart>.inputGroup):not(.namePart .inputGroup) {
    margin: 0.7em 0;
    width: 420px;
    position: relative;
}
.emailPart, .authPart, .namePart{
    margin: 0.6em 0;
    width: 420px;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    height: 50px;
    outline: none;
    border: 1px solid #c5c5c5;
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    margin-top: -0.15rem;
}

.inputGroup label {
    font-size: 0.875rem;
    position: absolute;
    left: 0;
    padding: 1em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #6d6c6c;
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    border-radius: 40%;
    background-color: #fff;
    color: #1c797d;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: #1c797d;
}

/* 이메일,인증번호 칸 작게 */
.emailPart>.inputGroup, .authPart>.inputGroup{
    width: 325px;
    padding-right: 5px;
} 
/* 이메일, 인증번호 버튼 */
.emailPart>button, .authPart>button{
    width: 90px;
    height: 50px;
    background-color: #1c797d;
    color: #fff;
    border-radius: 8px;
    margin-top: -0.2em;
    /* display: flex;
    align-items: end; */

}
/* 이름&성 칸 반반 */
.last-name, .first-name{
    display: flex;
    flex-direction: column;
    width: 207px;
    position: relative;
}
.namePart .inputGroup{
    width: 207px;
}


/* 동의 체크 */
.container_middle_check{
    width: 420px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 30px 10px;
}
.box{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #c5c5c5;
}
[type="checkbox"]{
    display: none;
}
.container_middle_check>div{
    margin-top: 5px;
    margin-bottom: 5px;
}
.chk-all{
    padding: 5px 0;
}
.chk0, .chk1, .chk2{
    margin-left: 10px
}
.ment1,.ment2{
    color: #5c5c5c;
    vertical-align: 3px;
}
.box:hover{
    cursor: pointer;
    color: black;
}
/* 동의 박스 체크됐을 때 */
input[type="checkbox"]:checked + label{
    background: url("/images/signUp/check.png") 0 0 no-repeat;
    background-size: cover;
    border: none;
}
.required{
    color:forestgreen; vertical-align: 3px;}

/* 제출 버튼 */
.container_bottom{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_bottom_button{
    width: 420px;
    height: 50px;
    background-color: #1c797d;
    border-radius: 8px;
    color: #fff;
}


/* 국제 번호 */

/* 유효성 검사 메세지 */
.error-message{
    width: 420px;
    padding-left: 15px;
    margin: -3px 0 10px 0px;
    color: rgba(255, 0, 0, 0.77);
    justify-content: start;
}
.possible-message{
    width: 420px;
    padding-left: 15px;
    margin: -3px 0 10px 0px;
    justify-content: start;
    color: rgba(34, 139, 34, 0.77);
}
.for-authTimer{
    width: 420px;
    padding-left: 15px;
    margin: -3px 0 10px 0px;
    justify-content: start;
    color: #1c797d;
    font-weight: bold;
}

