/* 전체 */
.container_total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 400px 0;
    overflow: scroll;
    margin-top: 80px;
}
/* 유효성 검사 색상 */
.correct{color: green;}
.incorrect{color: red;}
.signUp-message{
    display: none;
    /* display: flex; */
    justify-content: start;
    width: 420px;
    padding: 10px;
}
/* 회원가입 */
.container_top_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
/* 입력 부분 */

/* ----- uiverse ----- */
.group {
    position: relative;
}
.input {
font-size: 16px;
padding: 10px 10px 10px 5px;
display: block;
width: 200px;
border: none;
border-bottom: 1px solid #515151;
background: transparent;
}
.input:focus {
outline: none;
}
label {
color: #999;
font-size: 18px;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 5px;
top: 10px;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}
.input:focus ~ label, .input:valid ~ label {
top: -20px;
font-size: 14px;
color: #5264AE;
}
.bar {
position: relative;
display: block;
width: 200px;
}
.bar:before, .bar:after {
content: '';
height: 2px;
width: 0;
bottom: 1px;
position: absolute;
background: #5264AE;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}
.bar:before {
left: 50%;
}
.bar:after {
right: 50%;
}
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
width: 50%;
}
.highlight {
position: absolute;
height: 60%;
width: 100px;
top: 25%;
left: 0;
pointer-events: none;
opacity: 0.5;
}
.input:focus ~ .highlight {
animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}


/* 원래 내가 작성 */

.container_middle_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 국제번호 입력 */

/* .contain */
.container_middle_input>input:not(.email){
    width: 420px;
    height: 55px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
    color: #5c5c5c;
}
:not(#phone)
/* 동의 체크 */
.container_middle_check{
    width: 420px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    margin: 10px 10px 30px 10px;
}
.box{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #c5c5c5;
}
[type="checkbox"]{
    display: none;
}
.container_middle_check>div{
    margin: 5px 0;
}
.ment1,.ment2{
    color: #5c5c5c;
    vertical-align: 3px;
}
.box:hover{
    cursor: pointer;
    color: black;
}
input[type="checkbox"]:checked + label{
    background: url("../../images/signUp/check.png") 0 0 no-repeat;
    background-size: cover;
    border: none;
}
.required{
    color:forestgreen; vertical-align: 3px;}
/* 제출 버튼 */
.container_bottom{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_bottom_button{
    width: 420px;
    height: 50px;
    background-color: #1c797d;
    border-radius: 8px;
    color: #fff;
}

