/* 전체 */
.container_total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 400px 0;
    overflow: scroll;
    margin-top: 80px;
}
/* 유효성 검사 색상 */
.correct{color: green;}
.incorrect{color: red;}
.signUp-message{
    display: none;
    /* display: flex; */
    justify-content: start;
    width: 420px;
    padding: 10px;
}
/* 회원가입 */
.container_top_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
/* 입력 부분 */

/* ----- uiverse ----- */
.inputGroup {
    /* font-family: 'Segoe UI', sans-serif; */
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 1px solid #c5c5c5;
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    margin-top: -0.2rem;
}

.inputGroup label {
    font-size: 0.875rem;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #898888;
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    border-radius: 40%;
    background-color: #fff;
    color: #1c797d
}

.inputGroup :is(input:focus, input:valid) {
    border-color: #1c797d;
}



/* 원래 내가 작성 */

.container_middle_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 국제번호 입력 */

/* .contain */
.container_middle_input>input:not(.email){
    width: 420px;
    height: 55px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
    color: #5c5c5c;
}
:not(#phone)
/* 동의 체크 */
.container_middle_check{
    width: 420px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    margin: 10px 10px 30px 10px;
}
.box{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #c5c5c5;
}
[type="checkbox"]{
    display: none;
}
.container_middle_check>div{
    margin: 5px 0;
}
.ment1,.ment2{
    color: #5c5c5c;
    vertical-align: 3px;
}
.box:hover{
    cursor: pointer;
    color: black;
}
input[type="checkbox"]:checked + label{
    background: url("../../images/signUp/check.png") 0 0 no-repeat;
    background-size: cover;
    border: none;
}
.required{
    color:forestgreen; vertical-align: 3px;}
/* 제출 버튼 */
.container_bottom{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_bottom_button{
    width: 420px;
    height: 50px;
    background-color: #1c797d;
    border-radius: 8px;
    color: #fff;
}

/* ----------------- */
/* 이메일 */
.emailPart{
    
}

