
@media screen and (max-width : 767px) {
    html{
        font-size: 12px;
    }
}

body{
    background-color: #f0f0f0;
}

/* 예약 체크 컨테이너 */
.ordercheck--container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px 0;
    min-width: 707px;
}

/* 예약체크 감사인사 */
.ordercheck--text__top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 예약체크 상단 */
.ordercheck--container__top, .ordercheck--container__middle{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ordercheck--container__middle>div{
    width: 100%;
}

.ordercheck--container>div{
    width: 100%;
}

.ordercheck--text__top span{
    font-size: 21px;
}

/* 예약체크 결제정보 */
.ordercheck--info__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

/* 구분선 */
.ordercheck--divisionline{
    height: 1px;
    background-color: #F0F0F0;
    margin: 30px 0;
}

/* 예약체크 이미지 */
.ordercheck--img__top{
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.ordercheck--container__top>div:nth-of-type(1){
    display: flex;
    justify-content: center;
}


/* 예약 내역 썸네일 */
.ordercheck--img__middle{
    width: 190px;
    height: 130px;
    overflow: hidden;
    position: relative; 
    border-radius: 1px;
    border: 2px solid #F0F0F0;
    margin-right: 30px;
}

.ordercheck--img__middle::before {
    content: "";
    display: block;
    padding-top: calc(100% / (100 / 50)); 
}


.ordercheck--img__middle>img{  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 예약내역 컨텐츠 div */
.ordercheck--container__middle>div{
    display: flex;
    justify-content: space-between;
}

/* 예약내역 컨텐츠 왼쪽 div */
.ordercheck--left__middle{
    display: flex;
}

/* 상품명 */
.content-productname{
    color: #0F4957;
    font-size: 18px;
    font-weight: 500;
}

/* 예약된 일정(날짜) div */
#reservationDate{
    margin-top: 20px;
}

#reservationDate, #reservationDuration, #guideLanguage{
    margin-bottom: 5px;
    color: #5c5c5c;
}

/* 예약내역 컨텐츠 오른쪽 div 총 가격 */
.ordercheck--right__middle{
    color: #0F4957;
}

#guest{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: underline;
}


/* 예약내역 컨텐츠 위치 div */
.content-location{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.content-location>img{
    height: 20px;
    margin-right: 10px;
}

.content-location>div{
    color: #5c5c5c;
}


/* 예약내역 하단 div */
.ordercheck--container__middle>div:nth-of-type(3){
    display: flex;
    justify-content: end;
}

.ordercheck--bottom__middle{
    width: 40%;
}

.ordercheck--bottom__middle>div{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #0F4957;
    font-weight: 500;
}

/* 수수료 div */
.ordercheck--extrafee__bottom{
    margin-top: 15px;
}

/* 총 결제 금액 div */
.ordercheck--total__bottom>div{
    font-size: 21px;
    font-weight: 700;
}

/* 예약목록 보기 버튼 */
.orderlist-btn{
    font-size: 25px;
    text-decoration: underline;
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    color: #0F4957;
}

.orderlist-btn:hover{
    color: #145363af;
}