

/* 기본 세팅 */
*{
    padding: 0; 
    margin: 0; 
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
    
ul,ol{list-style: none;}
a{color: #000; text-decoration: none;}
button{border: none; user-select: none; cursor: pointer;}
svg{cursor: pointer; background-color: rgba(0, 0, 0, 0);}

@media screen and (max-width : 1024px) {
    html{
        font-size: 16px;
    }
}

@media screen and (max-width : 767px) {
    html{
        font-size: 12px;
    }
}

.font1{font-size: 1.625rem;} /* 상세 페이지 제목 */
.font2{font-size: 1.375rem;} /* 상세 페이지 내용 중요한 정보 */
.font3{font-size: 1rem;} /* 헤더 컨텐츠 */
.font4{font-size: 0.875rem;} /* 컨텐츠 내용 타이틀 */
.font5{font-size: 0.75rem;} /* 가장 작은 컨텐츠 내용 본문 */

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #D9D9D9; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #f0f0f05d;  /*스크롤바 뒷 배경 색상*/
}



.reservation--container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vh 0;
    min-width: 440px;
}


/* 모든 div width 고정 */
.reservation--product,
.reservation--price{
    width: 100%;
    /* padding: 0 10px; */
}


/* 예약 내역 title */
.reservation--title{
    font-size: 1.4rem;
    font-weight: bold;
    color: #5C5C5C;
}

/* 예약/결제 구분선 */
.reservation--top__divisionline{
    height: 1px;
    width: 100%;
    background-color: #231F20;
    margin: 2vh 0;
}

/* 구분선 */
.reservation--divisionline{
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin: 3vh 0;
}


/* 예약 내역 분류 text */
.reservation--classification{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

/* 예약 정보 div */
.reservation--info{
    margin: 10px 0;
    width: 100%;
    /* padding: 0 10px; */
}


/* 예약 정보 content div */
.reservation--content__info{
    display: flex;
    width: 100%;
    margin-top: 30px;
}


/* 예약 정보 text div */
.reservation--content__info>div:nth-of-type(1){
    margin-right: 5vw;
}

/* 예약 정보 text div 내 모든 div들 */
.reservation--content__info>div:nth-of-type(1) div{
    color: #5c5c5c;
}

/* 예약 정보 내 모든 div들 */
.reservation--content__info div div{
    margin-bottom: 0.8vh;
    font-size: 1.2rem;
}



/* 예약 상품 타이틀 div */
.reservation--text__product{
    display: flex;
    align-items: center;
    margin: 20px 0 18px 0;
    white-space: nowrap;
    font-size: 1.2rem;
}


/* 예약 상품 타이틀 div들 */
.reservation--text__product>div{
    margin-right: 2vw;
}


.reservation--text__product>div:nth-of-type(1){
    font-size: 1.4rem;
    font-weight: bold;
}


/* 예약 상품 img */
.reservation--img__detail{
    width: 28vw;
    height: 33vh;
    overflow: hidden;
    position: relative; 
    border-radius: 15px;
    
    min-height: 270px;
    min-width: 300px;
}

.reservation--img__detail::before {
    content: "";
    display: block;
    padding-top: calc(100% / (36 / 33)); 
}


.reservation--img__detail>img{  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 예약 상품 하위 div 정렬 */
.reservation--detail__product{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.reservation--detail__product>div{
    margin-left: 40px;
}

/* 예약 상품 설명 타이틀 */
.reservation--title__detail{
    font-size: 1.3rem;
    margin-bottom: 7vh;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* 예약 상품 설명 하위 div들 */
.reservation--short{
    display: flex;
    align-items: center;
}


/* 예약 상품 설명 아이콘 */
.reservation--short>img{
    margin-right: 30px;
    height: 20px;
    width: auto;
}


/* 예약 상품 설명 text */
.reservation--short>div{
    color: #777777;
    font-size: 1.2rem;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/* 예약 상품 설명 중 위치 img */
.reservation--location__detail>img{
    height: 25px;
    width: auto;
    margin-right: 30px;
}

.reservation--location__detail{
    margin-bottom: 5vh;
}


/* 예약 상품 설명 중 가이드 언어 div */
.reservation--langauge__detail{
    margin-bottom: 1vh;
}


/* 예약 상품 설명 중 취소 수수료 */
.reservation--cancel__detail>img{
    margin-left: 3px;
    margin-right: 24px;
}


/* 예약 상품 기간 */
.reservation--date__product>div:nth-of-type(1){
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.reservation--date__product>div:nth-of-type(2){
    color: #777777;
    margin-bottom: 50px;
    font-size: 1.1rem;
}


/* 게스트 수 + 가이드 문의 div */
.reservation--bottom__product{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/* 게스트 수 div */
.reservation--bottom__product>div:nth-of-type(1){
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

/* 가이드 문의 div */
.reservation--bottom__product>div:nth-of-type(2),
.reservation--inquire__bottom{
    display: flex;
    align-items: center;
    margin-left: 30px;
    user-select: none;
}

/* 가이드에게 문의하기 img */
.reservation--inquire__bottom>img{
    width: 1.6rem;
    margin-right: 0.3vw;
}


.reservation--inquire__bottom{
    cursor: pointer;
}


/* 가이드 문의 text */
.reservation--question__bottom{
    color: #5C5C5C;
}



/* 결제 수단 div */
.reservation--payment__method{
    margin: 40px 0;
}


/* 결제 수단 하위 text */
.reservation--payment__method>div:nth-of-type(2){
    font-size: 1.2rem;
    margin-left: 2px;
    margin-top: 20px;
}


/* 총 결제 금액 div */
.reservation--price{
    margin: 15px 0 50px 0;
}


/* 총 결제 금액 하위 div */
.reservation--price>div:nth-of-type(2){
    display: flex;
    margin-top: 30px;
}


/* 총 결제 금액 하위 div text */
.reservation--text__price{
    margin-right: 140px;
    font-size: 1.2rem;
}

/*  총 결제 금액 하위 div price */
.reservation--price__price{
    font-size: 1.2rem;
}


.reservation--text__price>div:not(:nth-of-type(1)),
.reservation--price__price>div:not(:nth-of-type(1)){
    color: #5C5C5C;
    margin-top: 1vh;
}


/* 취소 규정 */
.reservation--cancel{
    white-space: pre-line;
    width: 100%;
    background-color: #F0F0F0;
    padding: 40px;
    color: #5C5C5C;
    margin-top: 30px;
}



/* 뒤로가기/취소하기 버튼 */
.reservation--btns{
    width: 100%;
    display: flex;
}

.reservation--btns>a:nth-of-type(1){
    margin-right: 20px;
}


.reservation--btns a{
    width: 100%;
}


/* 예약 리스트 보기 버튼, 뒤로가기/취소하기 버튼들 */
.reservation--btn,
.reservation--btns a button{
    width: 100%;
    background-color: #0F4957;
    height: 60px;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 3vh 0;
}

.reservation--btn:hover,
.reservation--btns a button:hover{
    background-color: #0f4957ef;
}




@media screen and (max-width : 767px) {
    .reservation--detail__product{
        display: block;
    }


    .reservation--img__detail{
        width: 100%;
        height: 300px;
        margin-bottom: 2vh;
        overflow: hidden;
        position: relative; 
        border-radius: 15px;
        margin-right: 2vw;
    }
    
    
    .reservation--img__detail::before {
        content: "";
        display: block;
        padding-top: calc(100% / (400 / 300)); 
    }


    .reservation--location__detail,
    .reservation--title__detail{
        margin-bottom: 3vh;
    }

    .reservation--bottom__product{
        display: block;
        white-space: nowrap;    
    }


    .reservation--bottom__product>div:nth-of-type(2){
    display: flex;
    align-items: center;
    margin: 0;
    user-select: none;
    width: 100%;
    margin-top: 13px;
}

.reservation--inquire__bottom{
    margin-right: 1px;
}


.reservation--payment__method{
    margin: 3vh 0;
}

.reservation--divisionline{
    margin: 20px 0;
}


.reservation--date__product{
    margin-top: 30px;
}

.reservation--btn,
.reservation--btns a button{
    height: 50px;
}

.reservation--cancel{
    padding: 18px;
}

.reservation--location__detail>img{
    width: 14px;
}

.reservation--langauge__detail>img{
    width: 15px;
}

.reservation--cancel__detail>img{
    width: 20px;
}

.reservation--detail__product>div{
    margin-left: 0;
    margin-top: 20px;
}

.reservation--title__detail{
    font-size: 1.4rem;
}

.reservation--text__price{
    margin-right: 90px;
}

}

