

@media screen and (max-width : 1024px) {
    html{
        font-size: 16px;
    }
}

@media screen and (max-width : 767px) {
    html{
        font-size: 12px;
    }
}

body{
    background: #f5f5f5;
}

.reservation--container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vh 0;
}


/* 약관 체크박스 */

.reservation--top{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
}

/* 예약 상품 div */
.reservation--product__info,
.reservation--method__payment,
.reservation--orderer__info,
.reservation--payment__info,
.reservation--form__bottom,
.reservation--request{
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
}


.reservation--form__bottom{
    padding: 0 30px;
}



/* 예약/결제 text */
.reservation--top__title{
    color: #5C5C5C;
    font-weight: 600;
    font-size: 1.6rem;
}

/* 예약/결제 구분선 */
.reservation--top__divisionline{
    height: 1px;
    width: 100%;
    background-color: #231F20;
}

/* 예약 상품, 결제 정보, 주문자 정보 txt */
.reservation--text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}


.reservation--middle{
    width: 100%;
}


.reservation--summary__decription>div>div, .reservation--location__decription>div{
    font-size: 1.1rem;
}


/* 예약 상품 카테고리 */
.reservation--category__product{
    display: flex;
    margin-top: 30px;
}

.reservation--category__product div{
    margin-right: 0.7rem;
    white-space: nowrap;
    font-size: 1.1rem;
}

.reservation--category__product div:nth-of-type(5){
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}




.reservation--category__product>div:nth-of-type(1),
.reservation--category__product>div:nth-of-type(3)
{
    color: #0F4957;
}



.reservation--category__product>div:nth-of-type(2),
.reservation--category__product>div:nth-of-type(4),
.reservation--category__product>div:nth-of-type(5)
{
color: #5C5C5C;
}


.reservation--title__product{
    font-size: 1.4rem;
    margin: 10px 0 40px 0;
}



/* 예약상품 상세설명 오른쪽 div 정렬 */
.reservation--location__decription,
.reservation--quests__decription,
.reservation--summary__decription div,
.reservation--quests__decription>div:nth-of-type(2)
{
    display: flex;
    align-items: center;
}

/* 아이콘 */
.reservation--summary__decription>div>img,
.reservation--location__decription>img{
    margin-right: 25px;
    width: 18px;
    height: 20px;
}

.reservation--summary__decription>div:nth-of-type(2)>img{
    width: 21px;
    height: 23px;
    margin-left: 2px;
    margin-right: 22px;
}

/* 예약상품 상세설명 글자색 */
.reservation--summary__decription>div>div,
.reservation--location__decription>div{
    color: #777777;
    font-size: 1.2rem;
}


/* 에약상품 몇박 */
/* .reservation--date__decription>div:nth-of-type(1){
    font-size: 1.5rem;    
    font-weight: bold;
    margin-bottom: 1vh;
} */

/* 예약상품 날짜 */
.reservation--date__decription>div{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

/* 예약상품 가이드언어, 취소 수수료div */
.reservation--summary__decription>div{
    margin-bottom: 10px;
}


/* 위치 아이콘 크기 */
.reservation--location__decription>img{
    width: 18px;
    height: 20px;
}


/* 위치 div */
.reservation--location__decription{
    margin-bottom: 30px;
}





/* 예약 상품 상세설명 */
.reservation--container__info{
    display: flex;
    align-items: center;
}

/* 예약 상품 대표 사진 */
.reservation--img__product{
    width: 25vw;
    min-width: 300px;
    height: 330px;
    overflow: hidden;
    position: relative; 
    border-radius: 15px;
    margin-right: 3vw;
    min-height: 300px;
}


.reservation--img__product::before {
    content: "";
    display: block;
    padding-top: calc(100% / (38/43)); /* 높이 대비 너비의 비율을 계산하여 적용 */
}

/* 예약 상품 img */
.reservation--img__product>img{  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 예약 상품 guests text */
.reservation--quests__decription>div:nth-of-type(1){
    text-decoration: underline;
}

/* 예약 상품 guests 인원 증감버튼 div */
.reservation--quests__decription>div:nth-of-type(2){
    width: 8vw;
    min-width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-left: 60px;
}




/* 예약 상품 guests div */
.reservation--quests__decription{
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 6vh;
    width: 400px;
}


/* 구분선  */
.reservation--divisionline{
    width: 100%;
    height: 1px;
    background-color: #C5C5C5;
}


/* 결제 정보 div */
.reservation--payment__info{
    width: 100%;
}


/* 결제 정보 div 하위 컨테이너,
주문자 정보 div 하위 컨테이너 */
.payment__info--container,
.orderer__info--container{
    display: grid;
    width: 380px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    margin-top: 30px;
}


.payment__info--container div,
.orderer__info--container div{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.payment__info--container div:nth-child(n+3){
    color: #5C5C5C;
}


/* 결제 수단 item들 */
.reservation--tou{
    padding: 20px 0;
}


.reservation--tou>div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tou--item{
    display: flex;
    flex-direction: column;
}

/* 이용약관 아코디언 컨텐츠 */
.tou--content {
    display: none;
    padding: 15px;
    background-color: #efefef;
    margin-top: 20px;
    white-space: pre-wrap;
    height: 200px;
    overflow-y: auto;
    font-size: 15px;
  }

  /* .tou--content::-webkit-scrollbar {
    width: 8px; 
  }
  
  .tou--content::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  
  .tou--content::-webkit-scrollbar-thumb {
    background-color: #b6b6b6; 
    border-radius: 5px;
  }
   */
  .tou--content.open {
    display: block;
  }

/* 연락처, 비상 연락망 div */
.orderer--emergency{
    border: none;
    background-color: white;
    padding: 0.35rem 0.7rem;
    border-radius: 3px;
    font-size: 1rem;
    width: 230px;
    height: 35px;
    border: 1px solid #ccc;
}


input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #5C5C5C inset; 
}


/* 약관 동의 div */
.reservation--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* 약관 동의 체크박스 */
.reservation--form__bottom{
    width: 100%;
}

/* 약관 동의 text */
.reservation--text__bottom{
    margin-left: 10px;
    font-size: 1.2rem;
}

/* 결제 버튼 */
.reservation--btn__bottom{
    background-color: #0F4957;
    width: 60vw;
    height: 65px;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 12px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    min-height: 40px;
}

.reservation--btn__bottom:hover{
    background-color: #0f4957ef;
}


.reservation--btn__bottom:disabled{
    background-color: rgba(0, 0, 0, 0.08);
    color: #b6b6b6;
}


/* 인원 수 증감 버튼 */
.quantity {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin: auto; */
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  }
  
 .quantity label {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #47484b;
  }
  
.quantity button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: transparent;
    padding-bottom: 2px;
  }



  /* 결제 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    padding: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 25%;
    border-radius: 15px;
    position: relative;
    min-width: 400px;
}

/* 모달 컨텐츠 */
.modal--content{
    white-space: pre-wrap;
    padding: 30px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 닫기 버튼 스타일 */
.close {
    font-size: 40px;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    font-weight: 100;
}

.close:hover,
.close:focus {
    cursor: pointer;
}


/* 모달 컨텐츠 타이틀 */
.modal--content__text{
    font-size: 17px;
    font-weight: 700;
}

/* 모달 컨텐츠 결제 금액 */
.modal--content__cost{
    font-size: 25px;
    font-weight: bold;
    color: #0F4957;
}

/* 모달 구분선 */
.modal--content__line{
    width: 100%;
    height: 2px;
    background-color: #efefef;
    margin: 20px 0;
}

.modal--content__text2{
    font-size: 20px;
    text-align: center;
}

/* 바로 결제 버튼 */
#nowPay{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #0F4957;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 20px;
}

/* 페이팔 버튼 */
#paypal-buttons-container{
    width: 100%;
    margin-top: 20px;
}

/* 요청사항 */
textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
    font-size: 16px;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea:focus { 
    outline-color: #b9b9b9;
}


/* 이용약관 동의 */
.tou--checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
   
.tou--checkbox__container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.tou--checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #ccc;
    transition: all 0.3s;
    border-radius: 2px;
}

.tou--checkbox__container input:checked ~ .tou--checkmark {
    background-color: #0F4957;
    animation: pop 0.5s;
    animation-direction: alternate;
}

.tou--checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.tou--checkbox__container input:checked ~ .tou--checkmark:after {
    display: block;
}

.tou--checkbox__container .tou--checkmark:after {
    left: 30%;
    top: 15%;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* 유의사항 경고 */
.reservation--warning{
    display: flex;
    background: #e5f8f9;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    margin: 10px 0 20px 0;
}

.reservation--warning>img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.reservation--warning>div{
    color: #92b7b9;
}



/* 유의사항 자세히 보기 */
.tou--detail{
    margin-top: 3px;
    text-decoration: underline;
    cursor: pointer;
    color: #0F4957;
}


@keyframes pop {
0% {
    transform: scale(1);
}

50% {
    transform: scale(0.9);
}

100% {
    transform: scale(1);
}
}


/* 툴팁 */
.arrow_box {
    display: none;
    position: absolute;
    left: -30px;
    top: -55px;
    width: 280px;
    padding: 9px 8px;
    margin-top: 10px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
    text-align: center;

}

.arrow_box:after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-top-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: ' ';
}

.phone--div__hover{
    position: relative;
}

.phone--div__hover:hover .arrow_box {
    display: block;
  }



/* 결제 수단 컨테이너 */
.method__payment--container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* 신용카드 페이팔 버튼 */
.method--radio__btn {
    width: 49.5%;
    height : 55px;
    border: 1px solid #EAE7E7;
    border-radius: 10px;
}

.method--radio__btn input[type=radio] {
    display: none;
}

.method--radio__btn label {
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 55px;
    font-size: 1.1rem;
    cursor: pointer;
}
    
.method--radio__btn input[type=radio]:checked + label {
    background-color: rgba(0, 0, 0, 0.05);
    color: #666;
}
    
.method--radio__btn label:hover {
    color: #666;
}
    
.method--radio__btn input[type=radio] + label {
    background: #ffffff;
    color: #666;
}



  @media screen and (max-width : 1340px) {
  .reservation--container,
  .reservation--btn__bottom
  {
    width: 75vw;
  }

  
  .reservation--summary__decription>div>div, .reservation--location__decription>div{
    font-size: 1.1rem;
}
}

@media screen and (max-width : 900px) {
    
    .reservation--payment__info>table{
        width: 50%;
        height: 90px;
    }
    
    .reservation--orderer__info>table{
        width: 85%;
        height: 90px;
    }
    

    .reservation--container__info{
        display: block;
    }


    .reservation--img__product{
        width: 100%;
        height: 300px;
    }


    .reservation--payment__info{
        margin-top: 0;
    }

    
    .reservation--location__decription{
        margin: 20px 0 30px  0;
    }
    
    .reservation--btn__bottom{
        height: 50px;
        font-size: 1.2rem;
    }
    
    .quantity{
        margin: 0;
    }
    
    .reservation--quests__decription{
        margin-top: 40px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }


    .reservation--location__decription>img,
    .reservation--summary__decription>div>img,
    .reservation--summary__decription>div:nth-of-type(2)>img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .reservation--quests__decription>div:nth-of-type(2){
        height: 40px;
    }

    .payment__info--container div, .orderer__info--container div{
        font-size: 16px;
    }

    .iti__selected-flag{
        padding: 0 4px 0 5px;
    }

    #phone, select,
    .orderer--emergency{
        width: 190px;
        font-size: 14px;
    }
    

    .method--radio__btn{
        height: 40px;
        width: 48%;
        border-radius: 5px;
    }

    .method--radio__btn label{
        line-height: 40px;
        font-size: 16px;
    }

    #guestsMinusBtn>svg,
    #guestsPlusBtn>svg{
        height: 15px;
        width: 15px;
    }


    .reservation--date__decription{
        margin-top: 20px;
    }

    .quantity label{
        font-size: 20px;
    }

    .reservation--summary__decription>div>div, .reservation--location__decription>div{
        font-size: 1rem;
    }

    .reservation--text{
        font-size: 1.3rem;
    }

    .reservation--date__decription>div{
        font-size: 1.1rem;
        margin-top: 30px;
    }

    .reservation--top__title{
        font-size: 1.4rem;
    }

    .reservation--quests__decription>div:nth-of-type(1){
        font-size: 1.4rem;
    }

    .reservation--text__bottom{
        font-size: 1rem;
    }

    .payment__info--container,
    .orderer__info--container{
        width: 250px;
    }

    .reservation--title__product{
        font-size: 1.2rem;
    }

    input[type='checkbox']:checked+label,
    input[type="checkbox"]+label{
        width: 1rem;
        height: 1rem;
    }

    .reservation--container,
    .reservation--btn__bottom
    {
        width: 72vw;
    }

    .reservation--category__product div{
        font-size: 1.0rem;
    }

    .reservation--request, .reservation--product__info, .reservation--method__payment, .reservation--orderer__info, .reservation--payment__info{
        padding: 20px;
    }
    
    .reservation--form__bottom{
        padding: 0 20px;
    }

    textarea{
        font-size: 14px;
    }

    .tou--item{
        font-size: 13px;
    }

    .reservation--warning>img{
        width: 16px;
        height: 16px;
    }

    .reservation--warning>div{
        font-size: 14px;
    }

    .tou--content{
        font-size: 14px;
    }
}


