

@media screen and (max-width : 1024px) {
    html{
        font-size: 16px;
    }
}

@media screen and (max-width : 767px) {
    html{
        font-size: 12px;
    }
}


.reservation--container{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vh 0;
}


/* 약관 체크박스 */
input[type="checkbox"]+label {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    background: url('/images/reservation/checkbox.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    background: url('/images/reservation/checkedbox.png') no-repeat 0 0px / contain;
}

input[type="checkbox"] {
    display: none;
}


.reservation--top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 예약/결제 text */
.reservation--top__title{
    margin-top: 4vh;
    color: #5C5C5C;
    font-weight: 600;
    font-size: 1.6rem;
}

/* 예약/결제 구분선 */
.reservation--top__divisionline{
    height: 1px;
    width: 100%;
    background-color: #231F20;
    margin: 2vh 0;
}

/* 예약 상품, 결제 정보, 주문자 정보 txt */
.reservation--text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}


.reservation--middle{
    margin-top: 40px;
    width: 100%;
}



/* 예약 상품 카테고리 */
.reservation--category__product{
    display: flex;
    margin-top: 30px;
}

.reservation--category__product div{
    margin-right: 0.7rem;
    white-space: nowrap;
    font-size: 1.1rem;
}

.reservation--category__product div:nth-of-type(5){
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}




.reservation--category__product>div:nth-of-type(1),
.reservation--category__product>div:nth-of-type(3)
{
    color: #0F4957;
}



.reservation--category__product>div:nth-of-type(2),
.reservation--category__product>div:nth-of-type(4),
.reservation--category__product>div:nth-of-type(5)
{
color: #5C5C5C;
}


.reservation--title__product{
    font-size: 1.4rem;
    margin: 10px 0 40px 0;
}



/* 예약상품 상세설명 오른쪽 div 정렬 */
.reservation--location__decription,
.reservation--quests__decription,
.reservation--summary__decription div,
.reservation--quests__decription>div:nth-of-type(2)
{
    display: flex;
    align-items: center;
}

/* 아이콘 */
.reservation--summary__decription>div>img,
.reservation--location__decription>img{
    margin-right: 30px;
    width: 20px;
    height: 20px;
}

.reservation--summary__decription>div:nth-of-type(2)>img{
    width: 30px;
    height: 25px;
    margin-left: 2px;
    margin-right: 20px;
}

/* 예약상품 상세설명 글자색 */
.reservation--summary__decription>div>div,
.reservation--location__decription>div{
    color: #777777;
    font-size: 1.3rem;
}


/* 에약상품 몇박 */
/* .reservation--date__decription>div:nth-of-type(1){
    font-size: 1.5rem;    
    font-weight: bold;
    margin-bottom: 1vh;
} */

/* 예약상품 날짜 */
.reservation--date__decription>div{
    font-size: 1.3rem;
    margin-bottom: 5vh;
}

/* 예약상품 가이드언어, 취소 수수료div */
.reservation--summary__decription>div{
    margin-bottom: 1vh;
}


/* 위치 아이콘 크기 */
.reservation--location__decription>img{
    width: 20px;
    height: 25px;
}


/* 위치 div */
.reservation--location__decription{
    margin-bottom: 5vh;
}





/* 예약 상품 상세설명 */
.reservation--container__info{
    display: flex;
    align-items: center;
}

/* 예약 상품 대표 사진 */
.reservation--img__product{
    width: 38vw;
    min-width: 350px;
    height: 400px;
    overflow: hidden;
    position: relative; 
    border-radius: 15px;
    margin-right: 3vw;
    min-height: 300px;
}


.reservation--img__product::before {
    content: "";
    display: block;
    padding-top: calc(100% / (38/43)); /* 높이 대비 너비의 비율을 계산하여 적용 */
}

/* 예약 상품 img */
.reservation--img__product>img{  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 예약 상품 guests text */
.reservation--quests__decription>div:nth-of-type(1){
    text-decoration: underline;
}

/* 예약 상품 guests 인원 증감버튼 div */
.reservation--quests__decription>div:nth-of-type(2){
    width: 9vw;
    min-width: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-left: 60px;
}




/* 예약 상품 guests div */
.reservation--quests__decription{
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 6vh;
    width: 400px;
}


/* 구분선  */
.reservation--divisionline{
    width: 100%;
    height: 1px;
    background-color: #C5C5C5;
    margin: 5vh 0;
}


/* 결제 정보 div */
.reservation--payment__info{
    margin-top: 4vh;
    width: 100%;
}


/* 결제 정보 div 하위 컨테이너,
주문자 정보 div 하위 컨테이너 */
.payment__info--container,
.orderer__info--container{
    display: grid;
    width: 380px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    margin-top: 30px;
}


.payment__info--container div,
.orderer__info--container div{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.payment__info--container div:nth-child(n+3){
    color: #5C5C5C;
}




/* 연락처, 비상 연락망 div */
.orderer--tel, 
.orderer--emergency{
    border: none;
    background-color: #f0f0f0;
    padding: 0.35rem 0.7rem;
    border-radius: 3px;
    font-size: 1rem;
    width: 250px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #5C5C5C inset; 
}


/* 약관 동의 div */
.reservation--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
}

/* 약관 동의 체크박스 + 결제 버튼 div */
.reservation--form__bottom{
    display: flex;
    align-items: center;
}

/* 약관 동의 text */
.reservation--text__bottom{
    margin-left: 0.5vw;
    font-size: 1.2rem;
}

/* 결제 버튼 */
.reservation--btn__bottom{
    background-color: #0F4957;
    width: 70vw;
    height: 65px;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 12px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    min-height: 40px;
}

.reservation--btn__bottom:hover{
    background-color: #0f4957ef;
}



/* 인원 수 증감 버튼 */
.quantity {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin: auto; */
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  }
  
 .quantity label {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #47484b;
  }
  
.quantity button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: transparent;
    padding-bottom: 2px;
  }


  /*  tel 라이브러리 */
  .token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none;
}

#phone {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}
#phone[disabled]{
  background-color: #eee;
}

#phone,
select {
  border: 1px solid #ccc;
  width: 230px;
}

::placeholder,
:-ms-input-placeholder {
  color: #bbb;
}

button {
  color: #fff;
  background-color: #428bca;
  border: 1px solid #357ebd;
}
/* button:hover {
  background-color: #3276b1;
  border-color: #285e8e;
  cursor: pointer;
} */

  

@media screen and (max-width : 767px) {
    
    .reservation--payment__info>table{
        width: 50%;
        height: 90px;
    }
    
    .reservation--orderer__info>table{
        width: 85%;
        height: 90px;
    }
    

    .reservation--container__info{
        display: block;
    }


    .reservation--img__product{
        width: 100%;
        height: 300px;
    }

    .reservation--divisionline{
        margin: 30px 0;
    }

    .reservation--payment__info{
        margin-top: 0;
    }


    
    .reservation--bottom{
        margin-top: 20px;
    }
    
    .reservation--location__decription{
        margin: 20px 0 30px  0;
    }
    
    .reservation--btn__bottom{
        height: 50px;
        font-size: 1.2rem;
    }
    
    .quantity{
        margin: 0;
    }
    
    .reservation--quests__decription{
        margin-top: 40px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }


    .reservation--location__decription>img,
    .reservation--summary__decription>div>img,
    .reservation--summary__decription>div:nth-of-type(2)>img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .reservation--quests__decription>div:nth-of-type(2){
        width: 120px;
        margin-left: 150px;
    }

    .reservation--date__decription{
        margin-top: 20px;
    }

    .quantity label{
        font-size: 23px;
    }

    .reservation--summary__decription>div>div, .reservation--location__decription>div{
        font-size: 1rem;
    }

    .reservation--text{
        font-size: 1.3rem;
    }

    .reservation--date__decription>div{
        font-size: 1.2rem;
        margin-top: 40px;
    }

    .reservation--top__title{
        font-size: 1.4rem;
    }

    .reservation--quests__decription>div:nth-of-type(1){
        font-size: 1.4rem;
    }

    .reservation--text__bottom{
        font-size: 1rem;
    }

    .payment__info--container,
    .orderer__info--container{
    width: 250px;
}
}


