
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        #error-container{
            width: 800px;
            height: 300px;
            text-align: center;
            
            position: absolute;
            top : 0; bottom: 0; left: 0; right: 0;
            margin: auto;
        }
        
        #error-container > h1{ margin-bottom: 50px; }

        .error-cnotent-title{
            text-align: left;
            font-weight: bold;
        }
        
        #btn-area{ text-align: center;  }

    </style>
</head>
<body>

    <div id="error-container">
        <h1>서비스 이용 중 문제가 발생했습니다</h1>
        
        <span class="error-content-title"> 발생한 예외 : ${e}</span>
        <p>
            자세한 문제 원인은 이클립스 콘솔을 확인해주세요.
        </p>
        
        <div id="btn-area">
            <a href="/">메인 페이지</a>
            <%-- <a href="${header.referer}">이전 페이지</a> --%>

            <button onclick="history.back()">이전 페이지</button>
            
            <!-- referer : 페이지 방문 흔적 -->
        </div>
    </div>

    
    
</body>
</html>