<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->
    <link rel="stylesheet" href="/guidoFront/css/style.css"> <!-- 초기 세팅 css -->
    <link rel="stylesheet" href="/guidoFront/css/main.css">
</head>
<body>
    
    <footer>
        <div class="about-guido">
            <img src="/guidoFront/images/icons/footer_logo.svg" alt="">
            <a href="#">개인정보 처리 방침 |</a>
            <a href="#"> 이용약관 |</a>
            <a href="#"> 환불 정책 |</a>
            <a href="#"> 회사 세부 정보</a>
        </div>    
        <div class="footer-event-link">
            <a href="#">EVENT</a>
        </div>    
        <div class="project-info">
            <div>프로젝트 정보 | 연락처</div> 
            <img src="/guidoFront/images/icons/upper_arrow.png" alt="">
        </div>
    </footer>

    <script src="/guidoFront/js/main.js"></script>
</body>
</html>

