<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Guido</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- owl 슬라이드 -->
    <link rel="stylesheet" th:href="@{/libraries/assets/owlcarousel/assets/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/libraries/assets/owlcarousel/assets/owl.theme.default.min.css}">

    <!-- slick 슬라이드 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main/slide/mainPostSlick.css}" />

    <!-- js -->
    <script th:src="@{/libraries/assets/vendors/jquery.min.js}"></script>
    <script th:src="@{/libraries/assets/owlcarousel/owl.carousel.js}"></script>
</head>

<body>

    <th:block th:replace="~{common/header}"></th:block>

    <!-- ***** 메인 영역 슬라이드 ***** -->

    <div class="main--container">
        <section class="main--top">
            <div class="main--top__slide">
                <div class="main--silde__container">
                    <section id="demos">
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="loop owl-carousel owl-theme">
    
                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a th:href="@{/event/eventList}">
                                            <img class="detail--silde__item-img" th:src="@{#}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-carousel__prev">
                            <img th:src="@{/images/productDetail/arrow_left.svg}">
                        </div>
                        
                        <div class="owl-carousel__next">
                            <img th:src="@{/images/productDetail/arrow_right.svg}">
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>





    <!-- ***** 카테고리 아이콘 ***** -->
    <div class="categori-icon-box-container">
        <div class="categori-icon-box">
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/healing.png}" alt="힐링 투어">
                    <button>힐링 투어</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/kpop.png}" alt="k-pop 투어">
                    <button>k-pop 투어</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/gyeongbokgung.png}" alt="궁 투어">
                    <button>궁 투어</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/food.png}" alt="맛집 투어">
                    <button>맛집 투어</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/history.png}" alt="역사 투어">
                    <button>역사 투어</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/eco.png}" alt="에코 투어리즘">
                    <button>에코 투어리즘</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/hanok.png}" alt="한옥 체험">
                    <button>한옥 체험</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/hanbok.png}" alt="한복 체험">
                    <button>한복 체험</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/market.png}" alt="전통 시장 투어">
                    <button>전통 시장 투어</button>
                </a>    
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/ski.png}" alt="스키장 투어">
                    <button>스키장 투어</button>
                </a>    
            </div>
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/theme/surfing.png}" alt="서핑 투어">
                    <button>서핑 투어</button>
                </a>    
            </div>
        </div>
    </div>





    <!-- 게시글 -->
    <article class="main-post">

        <div class="product-post">
            <ul>
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample1.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample8.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample1.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample4.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample1.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample4.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample1.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample5.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample1.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample6.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
        
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample7.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/sample4.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </article>
        
    <hr>
    
    <div class="divide-main">
        <p>인기 여행지</p>
        <img th:src="@{/images/icons/popular-spot.png}" alt="">
    </div>
    <div class="post-more"><button type="button">more +</button></div>
    <!-- 인기 여행지 -->
    <article class="main-post">
    
        <div class="product-post">
            <ul>
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample1.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample4.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    
    
    
    <div class="divide-main">
        <p>슈퍼 가이드 PICK</p>
        <img th:src="@{/images/icons/superguide-pick.png}" alt="">
    </div>
    <div class="post-more"><button type="button">more +</button></div>
    <!-- 슈퍼가이드 추천 여행지 -->
    <article class="main-post">
        <div class="product-post"> 
            <ul>
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample7.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample6.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </article>



    <div class="divide-main">
        <p>추천 상품</p>
        <img th:src="@{/images/icons/recommendation.png}" alt="">
    </div>
    <div class="post-more"><button type="button">more +</button></div>
    <!-- 인기 여행지 -->
    <article class="main-post">
    
        <div class="product-post">
            <ul>
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample1.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample3.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
    
                <li>
                    <div class="slider single-item">
                        <div>
                            <img th:src="@{/images/sample4.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide2.png}">
                        </div>
                        <div>
                            <img th:src="@{/images/slide3.png}">
                        </div>
                    </div>
                    <div class="slide-btn">
                        <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next">
                        <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                    </div>
                    <div class="add-wish-heart">
                        <img class="heart-icon" onclick="toggleHeart()" th:src="@{/images/profile/empty.png}">
                    </div>
                    <div class="sales-text">
                        <div>
                            <p>A trip to Jeju Island where...</p>
                            <div>
                                <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                <span>4.5</span>
                            </div>
                        </div>
                        <div>
                            <img th:src="@{/images/profile/location.png}" alt="location">
                            <span>Jeju</span>
                        </div>
                        <div>
                            <p>₩ 190,000 / total</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </article>



    <th:block th:replace="~{common/footer}"></th:block>

    <script>
        
        jQuery(document).ready(function($) {
        $('.loop').owlCarousel({
            center: true,
            items: 8,
            loop: true,
            nav: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            mouseDrag: false,
            margin: 10,
            responsive: {
            200: {
                items: 1
            }
            }
        });

        const owl = $('.owl-carousel')

        $('.owl-carousel__next').click(() => owl.trigger('next.owl.carousel'))

        $('.owl-carousel__prev').click(() => owl.trigger('prev.owl.carousel'))

        });
    </script>

    
    <!-- 게시글 슬라이드 -->
    <script th:src="@{/js/main/slide/slick.js}"></script>
    <script th:src="@{/libraries/assets/vendors/highlight.js}"></script>
    <script th:src="@{/libraries/assets/js/app.js}"></script>
    
    <!-- js -->
    <script th:src="@{/js/main/main.js}"></script>

</body>
</html>