
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>
</head>
<body>
    <main>

        <th:block th:replace="~{common/header}"></th:block>

        <a th:href="@{/productDetail/product/1}"><button>상품 상세 페이지</button></a>
        <a th:href="@{/profile/mypage}"><button>프로필 페이지</button></a>
        <a th:href="@{}"><button>메인 페이지</button></a>
        <a th:href="@{}"><button>로그인 페이지</button></a>
        <a th:href="@{}"><button>상품 상세 페이지</button></a>
        <a th:href="@{}"><button>관리자 페이지</button></a>


    </main>


    <th:block th:replace="~{/common/footer}"></th:block>

</body>
</html>