
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>
</head>
<body>
    <main>

        <th:block th:replace="~{common/header}"></th:block>

        <a th:href="@{/productDetail/product/15?guest=3}"><button>상품 상세 페이지</button></a>

    </main>


    <th:block th:replace="~{/common/footer}"></th:block>

</body>
</html>