<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Guido</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/main/moreList.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- slick 슬라이드 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main/slide/mainPostSlick.css}">

    <!-- js -->
    <script th:src="@{/js/main/slide/jquery.min.js}"></script>
    <script th:src="@{/js/main/slide/owl.carousel.js}"></script>
</head>

<body>

    <th:block th:replace="~{common/header}"></th:block>

    <!-- ***** 카테고리 아이콘 ***** -->
    <div class="small-title"><div>인기 여행지</div><img th:src="@{/images/icons/popular-spot.png}" alt=""></div>
    


    <!-- 상품 게시글 -->
    <article class="main-post">

        <div class="product-post">
            <ul id="productListContainer">  

                <!-- ??? 테마 검색 ajax ??? -->
                <!-- <th:block th:if="${#lists.size(productList)} == 0">
                    <li>
                        <div>상품이 존재하지 않습니다.</div>
                    </li>
                </th:block> -->

                <!-- <th:block th:unless="${#lists.size(productList)} == 0"> -->
                    <li class="product-row" th:each="product : ${popularProductAll}">
                        <div class="slider single-item" th:data-productno="${product.productNo}"> 
                            <div class="productImage" th:if=${product.imageList} th:each="image : ${product.imageList}">
                                <a th:href="@{/productDetail/product/{productNo}(productNo=${product.productNo})}"><img th:src="${image.filePath}"></a>
                            </div>
                            <th:block th:if="${#lists.size(product.imageList) &lt;= 2}">
                                <div>
                                    <img th:src="@{/images/imageNone.png}">
                                    <p>이미지 2장 이하 오류 막기</p>
                                </div>
                                <div>
                                    <img th:src="@{/images/imageNone.png}">
                                    <p>이미지 2장 이하 오류 막기</p>
                                </div>
                            </th:block>
                        </div>
                        <div class="slide-btn">
                            <img th:src="@{/images/profile/NextBtn.png}" alt="slideNext" class="slick-slide-next" onclick="slideNextFn(this)">
                            <img th:src="@{/images/profile/PreBtn.png}" alt="slidePre" class="slick-slide-pre">
                        </div>
                        <div class="add-wish-heart" th:with="wish = ${product.wishOrNot}">
                            <!-- 로그인 상태인 경우 -->
                            <th:block th:if="${session.loginUser != null}">
                                <img th:if="${wish == 1}" class="heart-icon selected" onclick="toggleHeart(this)" th:src="@{/images/profile/empty.png}">
                                <img th:if="${wish == 0}" class="heart-icon" onclick="toggleHeart(this)" th:src="@{/images/profile/empty.png}">
                            </th:block>
                            <!-- 로그인 상태가 아닌 경우 -->
                            <th:block th:unless="${session.loginUser != null}">
                                <img class="heart-icon" onclick="toggleHeart(this)" th:src="@{/images/profile/empty.png}">
                            </th:block>
                        </div>
                        <div class="sales-text">
                            <div> 
                                <p class="product-name">[[${product.productName}]]</p>
                                <div>
                                    <img th:src="@{/images/profile/slideStar.png}" alt="slideStar">
                                    <span>[[${product.reviewStars}]]</span>
                                </div>
                            </div>
                            <div>
                                <img th:src="@{/images/profile/location.png}" alt="location">
                                <span>[[${product.regionName}]]</span>
                            </div>
                            <div>
                                <th:block th:switch="${product.productPackage}">
                                    <th:block th:case="1">
                                        <p th:text="'₩ ' + ${#numbers.formatInteger(product.productPrice, 3, 'COMMA')} + ' / each'"></p>
                                    </th:block>
                                    <th:block th:case="*">
                                        <p th:text="'₩ ' + ${#numbers.formatInteger(product.productPrice, 3, 'COMMA')} + ' / total'"></p>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </li>
                <!-- </th:block> -->

            </ul>
        </div>
    </article>

    <th:block th:replace="~{common/footer}"></th:block>

    <script th:inline="javascript">

        jQuery(document).ready(function($) {
        $('.loop').owlCarousel({
            center: true,
            items: 8,
            loop: true,
            nav: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            mouseDrag: false,
            margin: 10,
            responsive: {
            200: {
                items: 1
            }
            }
        });

        const owl = $('.owl-carousel')

        $('.owl-carousel__next').click(() => owl.trigger('next.owl.carousel'))
        $('.owl-carousel__prev').click(() => owl.trigger('prev.owl.carousel'))

        });


        const loginUserNo = /*[[${session.loginUser?.userNo}]]*/ "로그인한 회원";
        // if(loginUserNo == null) loginUserNo = "";

    </script>
    
    <!-- 게시글 슬라이드 -->
    <script th:src="@{/js/main/slide/slick.js}"></script>
    <script th:src="@{/libraries/assets/vendors/highlight.js}"></script>
    <script th:src="@{/libraries/assets/js/app.js}"></script>
    
    <!-- js -->
    <script th:src="@{/js/main/main.js}"></script>
</body>
</html>