<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reservation/reservationList.css}">
    <script th:src="@{/js/main/slide/jquery.min.js}"></script>
    <th:block th:replace="~{common/header}"></th:block>
</head>
<body th:object="${reservation}">

    <div class="reservation--container">


        <div class="reservation--text">예약 내역</div>

        <div class="product--container">

            <div class="product--info">
    
                    <div>
                        <a th:href="@{/productDetail/product/{productNo}(productNo=${product.productNo})}">
                            <div class="reservation--img__info">
                                <img th:src="${product.imageList[0].filePath}">
                            </div>
                        </a>
                    </div>
                    
                    
                    <div class="product--right__info">
                        
                        <a th:href="@{/productDetail/product/{productNo}(productNo=${product.productNo})}">
                            <div class="reservation--title__info" th:text="${product.productName}">상품명</div>
                        </a>
                        
                        <div class="reservation--short">
                            <div>[[${product.regionName}]] - [[${product.courseName}]]</div>
                            <div>Guided language : [[${product.guideLanguage}]]</div>
                            <div th:if="${product.productPackage==1}">Duration: [[${product.tourDuration}]] hr(s)</div>
                        </div>
                        
                        <div id="reservationDate">
                            <!-- 투어 날짜 -->
                        </div>
                    
                    </div>
            </div>


            <div class="divisionline"></div>


            <div class="price--info">
                <div>Total</div>
                <div th:text="|&#8361; *{#numbers.formatInteger(totalPrice, 1, 'COMMA')}|"></div>
            </div>

        </div>
        



        <div class="reservation--info">

            <div class="reservation--content__info">

                <div>
                    <div>예약 번호</div>
                    <div th:text="*{orderNumber}"></div>
                </div>

                <div>
                    <div>예약 일자</div>
                    <div th:text="*{createDate}"></div>
                </div>

                
                <div>
                    <div>주문 처리</div>
                    <div th:text="*{reservationState}=='Y'? '예약 완료' : (*{reservationState}=='N' ? '예약 취소' : '구매 확정')"></div>
                </div>
                
                <div>
                    <div>주문 금액</div>
                    <div th:text="|*{#numbers.formatInteger(totalPrice, 1, 'COMMA')}|"></div>
                </div>

                
            </div>
            

            <div th:if="*{reservationState=='N'}" class="request--content">
                <div class="request--text">
                    <img th:src="@{/images/reservation/tou_alert.png}">
                    <div>취소사유</div>
                </div>
                <div th:text="*{cancelReason}"></div>
            </div>


            <div class="divisionline"></div>
            
            
            <div class="reservation--user__info">

                <!-- <a th:href="@{/profile/{userNo}(userNo=*{userNo})}">
                    <div class="user--faceimg">
                        <img th:src="*{faceImg}">
                    </div>
                </a> -->


                <div class="orderer--info">
                    
                    <div>
                        <div>예약자</div>

                        <div class="tourist--faceimg">
                            <a th:href="@{'/profile/' + *{userNo}}">
                                <div th:text="*{userName}"></div>
                            </a>

                            <img th:src="@{/images/reservation/tourist_faceimg2.png}" id="faceImgIcon" onclick="toggleModal()">
                            
                            <div id="hoverFaceImg">
                                <div class="image-wrapper">
                                    <img th:src="*{faceImg}" id="faceImg">
                                </div>
                            </div>


                        </div>
                    </div>
                    
                    <div>
                        <div>연락처</div>
                        <div th:text="*{userTel}"></div>
                    </div>
                    
                    <div th:if="*{emergencyContact}">
                        <div>비상 연락처</div>
                        <div th:text="*{emergencyContact}"></div>
                    </div>

                    <div>
                        <div>주 사용 언어</div>
                        <div th:text="*{primaryLanguage}"></div>
                    </div>

                    <div>
                        <div>게스트 수</div>
                        <div th:text="|*{guestCount}명|"></div>
                    </div>


                    <div th:if="*{requestContent}" class="request--content">
                        <div class="request--text">
                            <img th:src="@{/images/reservation/tou_alert.png}">
                            <div>요청사항</div>
                        </div>
                        <div th:text="*{requestContent}"></div>
                    </div>
                </div>
            </div>
        </div>


        <a th:href="@{/profile/guideReservation}" style="width: 100%;"><button class="orderlist-btn">view reservation list</button></a>
        
        <button id="cancelBtn" th:if="*{reservationState=='Y'}">cancel</button>

        

        <!-- 예약자 인증 사진 모달창 -->
        <div id="faceImgModal" class="modal">
            <div class="modal-container">
                <div class="modal--content">

                    <div class="modal--faceimg">
                        <img th:src="*{faceImg}">
                    </div>

                    <button id="closeBtn" onclick="toggleModal()">close</button>

                </div>
            </div>
        </div>



        <form th:action="@{/reservation/cancel}" method="POST">
            
            <input type="hidden" name="impUid" th:value="*{impUid}">
            <input type="hidden" name="orderNumber" th:value="*{orderNumber}">
            <input type="hidden" name="guestCount" th:value="*{guestCount}">
            <input type="hidden" name="optionNo" th:value="*{optionNo}">
            <input type="hidden" name="productDateNo" th:value="*{productDateNo}">
            <input type="hidden" name="productPackage" th:value="${product.productPackage}">
            <input type="hidden" name="productNo" th:value="${product.productNo}">
            <input type="hidden" name="reservationNo" th:value="*{reservationNo}">

            <!-- 예약 취소 모달창  -->
            <div id="cancelModal" class="modal">
                <div class="modal-container">
                    <div class="modal--content">
                        
                        <div class="modal--cancel__info">
                        </div>
                        
                        <button id="realCancelBtn" onclick="">cancel</button>
                    </div>
                </div>
            </div>
            
        </form>


    </div>


    <script th:inline="javascript">
        let productDate = /*[[*{productDate}]]*/"선택한 일자";
        const optionName = /*[[*{optionName}]]*/"선택한 시간대";
        const package = /*[[${product.productPackage}]]*/"선택한 시간대";
    </script>

    <script th:src="@{/js/reservation/reservationList.js}"></script>
    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>