<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reservation/reservationCheck.css}">

</head>
<body th:object="${reservation}">


    <div class="ordercheck--container">

        <div class="ordercheck--container__top">

            <div>
                <img class="ordercheck--img__top" th:src="@{/images/reservation/order_check.png}">
            </div>

            <div class="ordercheck--text__top">
                <span>예약이 정상적으로 완료되었습니다.</span>
                <span>감사합니다.</span>
                <span>thank you. guido</span>
            </div>
            
            <div class="ordercheck--divisionline"></div>

            <div class="ordercheck--info__top">
                <div>Order Number : </div>
                <div th:text="*{orderNumber}"></div>
            </div>

            <div class="ordercheck--info__top">
                <div>Total Cost : </div>
                <div th:text="|&#8361; *{#numbers.formatInteger(totalPrice, 1, 'COMMA')}|"></div>
            </div>

        </div>


        <div class="ordercheck--container__middle">

            <div>

                <div class="ordercheck--left__middle">

                    <a th:href="@{/productDetail/product/{productNo}(productNo=${product.productNo})}">
                        <div class="ordercheck--img__middle">
                            <img th:src="${product.imageList[0].filePath}">
                        </div>
                    </a>
                    
                    <div class="ordercheck--content">
                        <a th:href="@{/productDetail/product/{productNo}(productNo=${product.productNo})}">
                            <div th:text="${product.productName}" class="content-productname">상품명</div>
                        </a>
                        <div id="reservationDate"></div>
                        <div id="reservationDuration" th:if="${product.productPackage==1}">[[${product.tourDuration}]]hr(s) in [[${product.regionName}]]</div>
                        <div id="guideLanguage" th:text="|guide language : ${product.guideLanguage}|"></div>
                        <!-- <div class="content-location">
                            <img th:src="@{/images/productDetail/location_icon.svg}">
                            <div th:text="|${product.regionName} - ${product.courseName}|"></div>
                        </div> -->
                        <div id="guest"></div>

                    </div>
                    
                    
                </div>
                
                <!-- <div th:text="|&#8361; *{#numbers.formatInteger(totalPrice, 1, 'COMMA')}|" class="ordercheck--right__middle"></div> -->
                
            </div>


            
            <div class="ordercheck--divisionline"></div>
            
            
            <div>
                <div class="ordercheck--bottom__middle">
                    
                    <div class="ordercheck--subtotal__bottom">
                        <div>Subtotal</div>
                        <div th:text="|&#8361; ${#numbers.formatInteger(orderPrice, 1, 'COMMA')}|">상품 금액</div>
                    </div>
                    
                    <div class="ordercheck--extrafee__bottom">
                        <div>Extra Fee</div>
                        <div th:text="|&#8361; ${#numbers.formatInteger(extraFee, 1, 'COMMA')}|">수수료</div>
                    </div>

                    <div class="ordercheck--divisionline"></div>

                    <div class="ordercheck--total__bottom">
                        <div>Total</div>
                        <div th:text="|&#8361; *{#numbers.formatInteger(totalPrice, 1, 'COMMA')}|"></div>
                    </div>
                </div>
            </div>

        </div>



        <a th:href="@{/profile/touristReservation}"><button class="orderlist-btn">view order list</button></a>
    </div>



    <script th:inline="javascript">

        const package = /*[[${product.productPackage}]]*/"당일 or 당일이상";
        const createDate = /*[[*{createDate}]]*/"예약 일자";
        const optionName = /*[[*{optionName}]]*/"선택한 시간(옵션)";
        const guestCount = /*[[*{guestCount}]]*/"예약 게스트 수";
    </script>

    <script th:src="@{/js/reservation/reservationCheck.js}"></script>


</body>
</html>