<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>
    
    <link rel="stylesheet" href="/libraries/intl-tel-input/build/css/intlTelInput.css" />
    <link rel="stylesheet" href="/libraries/intl-tel-input/build/css/demo.css" />
    <link rel="stylesheet" href="/css/reservation/reservation.css">
</head>
<body>

    <div class="reservation--container">

        <div class="reservation--top">
            <div class="reservation--top__title">예약/결제</div>
            
            <div class="reservation--top__divisionline"></div>
        </div>
        
        

        
        <div class="reservation--middle">

            <div class="reservation--product__middle">

                <div class="reservation--text">예약 상품</div>

                <div class="reservation--category__product">
                    <div>서울</div>
                    <div>></div>
                    <div>한국의 궁 투어</div>
                    <div>></div>
                    <div>[창덕궁 달빛기행]  한국의 아름다움을 느끼며 떠나는 창덕궁 야간 투어</div>
                </div>


                <div class="reservation--title__product">
                    [Moonlight trip to Changdeokgung Palace] The night tour of Changdeokgung Palace, feeling the beauty of Korea
                </div>


                <div class="reservation--container__info">

                    <div class="reservation--img__product">
                        <img src="/images/productDetail/경복궁2.jpg">
                    </div>

                    <div class="reservation--decription__product">

                        <div class="reservation--date__decription">
                            <div>3 nights in Myung-dong, Seoul</div>
                            <div>2023년 6월 7일 - 6월 9일</div>
                        </div>


                        <div class="reservation--location__decription">
                            <img src="/images/productDetail/location_icon.svg">
                            <div>Seoul - Changdeokgung Palace</div>
                        </div>


                        <div class="reservation--summary__decription">

                            <div>
                                <img src="/images/productDetail/language_icon.svg">
                                <div>Guided language: 日本語/中文</div>
                            </div>

                            <div>
                                <img src="/images/productDetail/receive_dollars_icon.svg">
                                <div>Free cancellation 4 day(s) prior to selected date</div>
                            </div>

                        </div>


                        <!-- 인원수 조정에 따른 가격 변동은 1박 상품의 경우에만 일어남 -->
                        <div class="reservation--quests__decription">
                            <div>Guests</div>
                            
                            <div class="quantity">
                                <button id="guestsMinusBtn">
                                  <svg fill="none" viewBox="0 0 24 24" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#47484b" d="M20 12L4 12"></path>
                                  </svg>
                                </button>

                                <label id="guestsQnt">2</label>

                                <button id="guestsPlusBtn">
                                  <svg fill="none" viewBox="0 0 24 24" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#47484b" d="M12 4V20M20 12H4"></path>
                                  </svg>
                                </button>

                              </div>
                        </div>

                    </div>


                </div>


                <div class="reservation--divisionline"></div>
                        
                        
                <div class="reservation--payment__info">
                    <div class="reservation--text">결제 정보</div>

                    <table>
                        <tr>
                            <td>총 결제 금액</td>
                            <td>KRW <strong>209,000</strong></td>
                        </tr>

                        <tr class="reservation--color__info">
                            <td>총 주문 금액</td>
                            <td>KRW 190,000</td>
                        </tr>

                        <tr class="reservation--color__info">
                            <td>수수료</td>
                            <td>KRW 19,000</td>
                        </tr>
                        
                    </table>

                </div>
                


                <div class="reservation--divisionline"></div>



                <div class="reservation--orderer__info">
                    <div class="reservation--text">주문자 정보</div>

                    <table>
                        <tr>
                            <td>예약자명</td>
                            <td>John Doe</td>
                        </tr>

                        <tr>
                            <td>연락처</td>
                            <!-- <td><input type="text" class="orderer--tel"></td> -->
                            <td><input id="phone" name="phone" type="tel" /></td>
                        </tr>

                        <tr>
                            <td>비상 연락망</td>
                            <td><input type="text" class="orderer--emergency"></td>
                        </tr>
                        
                    </table>

                </div>

            </div>

        </div>


        <div class="reservation--bottom">

                <div class="reservation--form__bottom"> 
                    <input type="checkbox" id="reservationAgree">
                    <label for="reservationAgree"></label>

                    <div class="reservation--text__bottom">주문 내용을 확인하였으며 약관에 동의합니다.</div>
                </div>

                <a href="/reservation/reservationDetails.html"><button class="reservation--btn__bottom">209,000 won payment</button></a>

        </div>
    </div>
    


    <script src="/libraries/intl-tel-input/build/js/intlTelInput.js"></script>
    <script>
      var input = document.querySelector("#phone");
      window.intlTelInput(input, {
          // allowDropdown: false,
        // autoInsertDialCode: true,
        // autoPlaceholder: "off",
        // dropdownContainer: document.body,
        // excludeCountries: ["us"],
        // formatOnDisplay: false,
        // geoIpLookup: function(callback) {
        //   fetch("https://ipapi.co/json")
        //     .then(function(res) { return res.json(); })
        //     .then(function(data) { callback(data.country_code); })
        //     .catch(function() { callback("us"); });
        // },
        // hiddenInput: "full_number",
        // initialCountry: "auto",
        // localizedCountries: { 'de': 'Deutschland' },
        // nationalMode: false,
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
        separateDialCode: true,
        // showFlags: false,
        utilsScript: "/libraries/intl-tel-input/build/js/utils.js"
    });
    </script>


    <script src="/js/reservation/reservation.js"></script>

</body>
</html>