<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guido</title>
    
    <link rel="stylesheet" th:href="@{/libraries/intl-tel-input/build/css/intlTelInput.css}">

    <link rel="stylesheet" th:href="@{/css/reservation/reservation.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    
</head>
<body th:object="${product}">


    <form th:action="@{/reservation/reserve}" method="POST">



        <div class="reservation--container">
    
            <div class="reservation--top">
                <div class="reservation--top__title">예약/결제</div>
                <div class="reservation--top__divisionline"></div>
            </div>
            
            
    
            
            <div class="reservation--middle">
    
                <div class="reservation--product__middle">
    
                    <div class="reservation--text">예약 상품</div>
    
                    <div class="reservation--category__product">
                        <div th:text="*{regionName}">지역명</div>
                        <div>></div>
                        <div th:text="*{themeName}">테마명</div>
                    </div>
    
    
                   <a href=""><div class="reservation--title__product" th:text="*{productName}"></div></a> 
    
    
                    <div class="reservation--container__info">
    
                        <div class="reservation--img__product">
                            <img th:src="*{imageList[0].filePath}">
                        </div>
                        
                        <div class="reservation--decription__product">
        
    
                            <div class="reservation--date__decription">
                                <div></div>
                            </div>
    
                            
                            <div class="reservation--location__decription">
                                <img src="/images/productDetail/location_icon.svg">
                                <div>[[*{regionName}]] - [[${mainCourse}]]</div>
                            </div>
    
    
                            <div class="reservation--summary__decription">
    
                                <div>
                                    <img src="/images/productDetail/language_icon.svg">
                                    <div>Guided language: [[*{guideLanguage}]]</div>
                                </div>
    
                                <div>
                                    <img src="/images/productDetail/receive_dollars_icon.svg">
                                    <div>Free cancellation 4 day(s) prior to selected date</div>
                                </div>
    
                            </div>
    
    
    
                            <!-- 인원수 조정에 따른 가격 변동은 1박 상품의 경우에만 일어남 -->
                            <div class="reservation--quests__decription">
                                <div>Guests</div>
                                
                                <div class="quantity">
                                    <button id="guestsMinusBtn" type="button" class="guestBtn">
                                      <svg fill="none" viewBox="0 0 24 24" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#47484b" d="M20 12L4 12"></path>
                                      </svg>
                                    </button>
    
                                    <label id="guestsQnt" th:text="${guestCount}">게스트 수</label>
    
                                    <button id="guestsPlusBtn" type="button" class="guestBtn">
                                      <svg fill="none" viewBox="0 0 24 24" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#47484b" d="M12 4V20M20 12H4"></path>
                                      </svg>
                                    </button>
    
                                  </div>
                            </div>
    
                        </div>
    
    
                    </div>
    
    
                    <div class="reservation--divisionline"></div>
                            
                            
                    <div class="reservation--payment__info">
                        <div class="reservation--text">결제 정보</div>
    
    
                        <div class="payment__info--container">
                            <div>총 결제 금액</div>
                            <div>KRW&nbsp;<strong id="totalPaymentCost"></strong></div>
                            <div>총 주문 금액</div>
                            <div id="totalReservationCost"></div>
                            <div>수수료</div>
                            <div id="commission"></div>
                        </div>
    
                    </div>
                    
    
    
                    <div class="reservation--divisionline"></div>
    
    
                    <div class="reservation--orderer__info">
                        <div class="reservation--text">주문자 정보</div>
    
                        <div class="orderer__info--container" th:object="${session.loginUser}">
                            <div>예약자명</div>
                            <div th:text="*{userName}">회원 이름</div>
                            <div>연락처</div>
                            <div class="phone--div__hover">
                                <input id="phone" name="phone" type="tel"/>
                                <p class="arrow_box">연락처는 내 정보 수정에서 변경  가능합니다.</p>
                            </div>
                            <div>비상 연락망</div>
                            <div><input type="text" class="orderer--emergency" placeholder="ex. 카카오톡 guido@gmail.com"></div>
                        </div>
    
    
                    </div>


                    <div class="reservation--divisionline"></div>

                    <div class="reservation--method__payment">
                        <div class="reservation--text">결제 수단</div>

                        <div class="method__payment--container">

                            <div class="method--radio__btn">
                                <input id="card" type="radio" name="payment" value="card">
                                <label for="card">신용카드</label>
                            </div>

                            <div class="method--radio__btn">
                                <input id="paypal" type="radio" name="payment" value="paypal">
                                <label for="paypal">페이팔</label>
                            </div>

                        </div>

                    </div>
    
                </div>
    
            </div>
    
    
            <div class="reservation--bottom">
    
                    <div class="reservation--form__bottom"> 
                        <input type="checkbox" id="reservationAgree">
                        <label for="reservationAgree"></label>
    
                        <div class="reservation--text__bottom">주문 내용을 확인하였으며 약관에 동의합니다.</div>
                    </div>
    
                    <button class="reservation--btn__bottom" type="button"></button>
    
            </div>

            
            <!-- 모달 창 -->
            <div id="paymentModal" class="modal">
                <div class="modal-container">
                <span class="close" onclick="toggleModal()">&times;</span>
                <h2>모달 창</h2>
                </div>
            </div>
    
        </div>
        
    </form>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script th:src="@{/libraries/intl-tel-input/build/js/intlTelInput.js}"></script>
    
    <script th:inline="javascript">
        const input = document.querySelector("#phone");
        const userCountryCode = /*[[${session.loginUser?.countryCode}]]*/ "로그인 회원 국가 코드";
        
        var iti = window.intlTelInput(input, {
            allowDropdown: false,
            autoInsertDialCode: true,
            // autoPlaceholder: "off",
            // dropdownContainer: document.body,
            // excludeCountries: ["us"],
            // formatOnDisplay: false,
            // geoIpLookup: function(callback) {
            //   fetch("https://ipapi.co/json")
            //     .then(function(res) { return res.json(); })
            //     .then(function(data) { callback(data.country_code); })
            //     .catch(function() { callback("us"); });
            // },
            // hiddenInput: "full_number",
            initialCountry: userCountryCode,
            // localizedCountries: { 'de': 'Deutschland' },
            // nationalMode: false,
            // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
            // placeholderNumberType: "MOBILE",
            // preferredCountries: ['cn', 'jp'],
            separateDialCode: true,
            // showFlags: false,
            utilsScript: "/libraries/intl-tel-input/build/js/utils.js"
        });

        const userTel = /*[[${session.loginUser?.userTel}]]*/ "로그인 회원 번호";
        if(userTel == null) userTel = "";
        
        iti.setNumber(userTel);        // 전화번호를 입력 상자에 설정

        const userName = /*[[${session.loginUser?.userName}]]*/ "로그인 회원 이름";
        const userEmail = /*[[${session.loginUser?.userEmail}]]*/ "로그인 회원 이름";

        const reservationDate = /*[[${reservationDate}]]*/"예약 일자";
        const package = /*[[${product.productPackage}]]*/"당일 or n일";
        const minTourist = /*[[${product.minTourist}]]*/"최소 인원";
        const maxTourist = /*[[${product.maxTourist}]]*/"최대 인원";
        const price = /*[[${product.productPrice}]]*/"상품 가격";
        const selectedTime = /*[[${option?.optionName}]]*/"옵션명";
        const impCode = /*[[${impCode}]]*/"포트원 가맹점 식별코드"
        const merchantUid = /*[[${merchantUid}]]*/"주문 번호"
        const pgMid = /*[[${pgMid}]]*/"상점 ID"
        const productName = /*[[${product.productName}]]*/"상점 ID"
        
        
    </script>

    <script th:src="@{/js/reservation/reservation.js}"></script>

</body>
</html>