.eventForm {
    margin: 0 30px;
}


.name-and-period{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-area{
    flex-grow: 1;
    margin-right: 30px;
}



.write-header {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.red {
    color: red;
}


#eventTitle {
    border: 2px solid #C6DDDF;
    border-radius: 16px;
    height: 51px;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    margin-top: 20px;
}

#eventContent {
    border: 2px solid #C6DDDF;
    border-radius: 16px;
    font-size: 18px;
    width: 100%;
    height: 150px;
    padding: 20px;
    resize: none;
    margin-top: 20px;
}

.img-slide-area {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img-area {
    display: flex;
    overflow: hidden;
    width: max-content;
    transition: transform 0.3s ease-in-out;
}

.img-box {
    width: 360px;
    height: 200px;
    border: 2px solid #C6DDDF;
    border-radius: 10px;
    margin: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-area>.img-box:first-child {
    margin-left: 0;
}

.img-slide-left-btn, .img-slide-right-btn{
    background-color: transparent;
    position: absolute;
    top: 104px;
}

.img-slide-left-btn {
    left: 10px;
}

.img-slide-right-btn {
    right: 10px;
}

.btn-area{
    display: flex;
    justify-content: end;
    margin-top:20px;
}

.sbmt-btn{
    background-color: #C6DDDF;
    color: #0F4957;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.add-btn {
    display: block;
    margin: auto;
    align-self: center;
}

.add-label{
    width: 100%;
    height: 100%;
    display: flex;
}

.preview{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.preview:hover+.delete-btn {
    display: block;
}

.delete-btn{
    position: absolute;
    top: 10px;
    right:10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    border: 3px solid #0F4957;
}

.delete-btn:hover{
    display: block;
    color: red;
}

.hidden {
    display: none;
}

.date {
    border: 2px solid #C6DDDF;
    border-radius: 16px;
    height: 51px;
    width: 200px;
    margin-top: 20px;
    padding: 20px;
}





.clr-field {
    margin: 10px 0;
}

.clr-field button {
    width: 30px;
    height: 30px;
    left: 10px;
    right: auto;
    border-radius: 10px;
}

#clr {
    width: 200px;
    height: 50px;
    border: 2px solid #B1D8DA;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    padding-left: 50px;
}

#eventTitle:focus,
#eventTitle:hover,
#eventContent:focus,
#eventContent:hover,
.date:focus,.date:hover,
#clr:focus, #clr:hover,
.img-box:hover {
    outline: none;
    border: 2px solid #0F4957;
}

.tooltip {
    background-color: #C6DDDF;
    color: white;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.tooltip-content {
    display: none;
    position: absolute;
    max-width: 200px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background: #C6DDDF;
    z-index: 1;
}

.tooltip:hover>.tooltip-content {
    display: block;
    white-space: pre-wrap;
}



@media screen and (max-width : 500px) {
    .name-and-period{
        flex-direction: column;
    }

    .date{
        width: 180px;
    }
}