<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Member Type</title>
    <link rel="stylesheet" th:href="@{/css/signUp/chooseMemberType.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>
    <div class="container_total">
        <div class="container_top">
            <div class="container_top_title">회원 가입</div>
            <div class="container_top_chooseM">회원 유형을 선택해주세요.</div>
        </div>
        <div class="container_bottom">
            <a th:href="@{/signUp/signUpAsTourist.html}"><div class="container_bottom_left">
                <div class="container_bottom_left_icon"><img th:src="@{/images/signUp/tourist.png}"></div>
                <div class="container_bottom_left_tourist">Tourist</div>
            </div></a>
            <a th:href="@{/signUp/signUpAsGuide.html}">
            <div class="container_bottom_right">
                <div class="container_bottom_right_icon"><img th:src="@{/images/signUp/guide.png}"></div>
                <div class="container_bottom_right_guide">Guide</div>
            </div></a>
        </div>
    </div>
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>