<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourist Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signUp/signUpAsTourist.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/libraries/intl-tel-input/build/css/demo.css}"/>
    <link rel="stylesheet" th:href="@{/libraries/intl-tel-input/build/css/intlTelInput.css}"/>
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>
    <div class="container_total">
        <div class="container_top">
            <div class="container_top_title font0">회원 가입</div>
        </div>
        <form th:action="@{/signUp/tourist}" method="post">
        <div class="container_middle">
            <div class="container_middle_input">
                <!-- email -->
                <div class="emailPart">
                    <div class="inputGroup">
                        <input type="text" id="email" name="userEmail" autocomplete="off" required>
                        <label for="inputAuth">이메일</label>
                    </div>
                    <button type="button" id="sendAuthBtn">인증 번호 전송</button>
                </div>
                <div class="font4" id="emailMessage"></div>
                <!-- 인증번호 -->
                <div class="authPart">
                    <div class="inputGroup">
                        <input type="text" id="inputAuth" autocomplete="off" required>
                        <label for="inputAuth">인증 번호</label>
                    </div>
                    <button type="button" id="checkAuthBtn">인증 번호 확인</button>
                </div>
                <div class="font4" id="authMessage"></div>
                <!-- 비번 -->
                <div class="inputGroup">
                    <input type="text" id="password" name="userPassword" autocomplete="off" required>
                    <label for="password">비밀번호</label>
                </div>
                <div class="font4" id="pwMessage"></div>
                <!-- 비번 확인 -->
                <div class="inputGroup">
                    <input type="text" id="checkPassword" autocomplete="off" required>
                    <label for="checkPassword">비밀번호 확인</label>
                </div>
                <div class="font4" id="chkPwMessage"></div>
                <!-- 이름(last/first) -->
                <div class="namePart">
                    <div class="first-name">
                        <div class="inputGroup">
                            <input type="text" id="firstName" name="userFirstName" autocomplete="off" required>
                            <label for="firstName">이름</label>
                        </div>
                        <div class="font4" id="nameMessage"></div>
                    </div>
                    <div class="last-name">
                        <div class="inputGroup">
                            <input type="text" id="lastName" name="userLastName" autocomplete="off" required>
                            <label for="lastName">성</label>
                        </div>
                    </div>
                </div>
                <!-- 전번(국제)  -->
                <div class="inputGroup">
                    <input id="phone" name="userTel" type="text" autocomplete="off" required/>
                </div>
                <div class="font4" id="telMessage"></div>
                <!-- 비상 연락처 (Text. 트위터/페북 주소, 인스타 아이디 등) -->
                <div class="inputGroup">
                    <input type="text" id="emergencyCo" name="emergencyContact" autocomplete="off" required>
                    <label for="emergencyCo">비상 연락처</label>
                </div>
                <div class="font4" id="emergCoMessage"></div>
                <!-- 여권 번호 -->
                <div class="inputGroup">
                    <input type="text" id="passportNo" name="passportNo" autocomplete="off" required>
                    <label for="passportNo">여권 번호</label>
                </div>
                <div class="font4" id="passportMessage"></div>
                <!-- 주 사용 언어 -->
                <div class="inputGroup">
                    <input type="text" id="primaryLanguage" name="primaryLanguage" autocomplete="off" required>
                    <label for="primaryLanguage">주 사용 언어</label>
                </div>
                <div class="font4" id="passportMessage"></div>
                
                <!-- 전화번호 -->
                <!-- <input type="text" name="contact" id="contact" class="contact font4" placeholder="전화번호"> -->
            </div>

            <!-- 약관 동의 체크박스 -->
            <div class="container_middle_check">
                <div class="chk-all">
                    <input type="checkbox" id="checkAll"><label for="checkAll" class="box" name="chk" onclick="selectAll(this)"></label><span class="font5 ment1">&nbsp&nbsp전체 약관 동의</span>
                </div>
                <div class="chk0">
                    <input type="checkbox" name="chk" id="infoAgree1"><label for="infoAgree1" class="box"></label><span class="font5 ment1">&nbsp&nbsp이용약관 동의</span><span class="required font5">&nbsp[필수]</span>
                </div>
                <div class="chk1">
                    <input type="checkbox" name="chk" id="infoAgree2"><label for="infoAgree2" class="box"></label><span class="font5 ment1">&nbsp&nbsp개인정보 수집 및 이용 동의</span><span class="font5 required">&nbsp[필수]</span>
                </div>
                <div class="chk2">
                    <input type="checkbox" name="chk" id="adverAgree"><label for="adverAgree" class="box" onclick="chk(this)"></label><span class="font5 ment2">&nbsp&nbsp마케팅 이메일 수신 동의 [선택]</span>
                </div>
            </div>
            <div class="container_bottom">
                <button class="font3 container_bottom_button">회원가입</button>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="~{common/footer}"></th:block>
    <script th:src="@{/js/signUp/signUpAsTourist.js}"></script>
    <script th:src="@{/libraries/intl-tel-input/build/js/intlTelInput.js}"></script>
    <script inline="javascript">
        var submitBtn = document.querySelector("#submitBtn");
        var input = document.querySelector("#phone");

        window.intlTelInput(input, {
            // allowDropdown: true,
            // autoInsertDialCode: true,
            // autoPlaceholder: "on",
            // dropdownContainer: document.body,
            // excludeCountries: ["us"],
            // formatOnDisplay: false,
            // geoIpLookup: function(callback) {
            //   fetch("https://ipapi.co/json")
            //     .then(function(res) { return res.json(); })
            //     .then(function(data) { callback(data.country_code); })
            //     .catch(function() { callback("us"); });
            // },
            // hiddenInput: "full_number",
            // initialCountry: "auto",
            // localizedCountries: { 'de': 'Deutschland' },
            // nationalMode: false,
            // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
            // placeholderNumberType: "MOBILE",
            // preferredCountries: ['cn', 'jp'],
            separateDialCode: true,
            // showFlags: false,
            utilsScript: "build/js/utils.js"
        });
        
        var title = document.querySelector(".iti__selected-flag");
        var code = document.querySelector(".iti__selected-dial-code");

        submitBtn.addEventListener("click", ()=>{
        console.log("전화번호 : " + input.value);
        console.log("국가 : " + title.title);
        console.log("국제전화 나라번호 : " + code.innerText);
    })
    </script>
</body>
</html>