<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>채팅방</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- <link rel="stylesheet" th:href="@{/css/board/boardDetail-style.css}"> -->
	<link rel="stylesheet" th:href="@{/css/profile/chatting/chatting.css}">

    <script src="https://kit.fontawesome.com/a2e8ca0ae3.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/main/slide/jquery.min.js}"></script>
</head>

<body>
	<main>

		<th:block th:replace="~{/common/header}">header.html</th:block>

		<div class="chatting-h3">
			<img th:src="@{images/chattingIcon.png}" alt="chattingIcon">
			<h3>Chatting</h3>
		</div>
		<!-- <button id="addTarget">추가</button> -->
		

		
		<div class="chatting-area">
			<div id="addTargetPopupLayer" class="popup-layer-close">  
				<span id="closeBtn">&times</span>
	
				<div class="target-input-area">
					<input type="search" id="targetInput" placeholder="닉네임 또는 이메일을 입력하세요" autocomplete="off">
				</div>
	
				<ul id="resultArea">
					<!-- <li class="result-row" data-id="1">
						<img class="result-row-img" src="/images/user.png">
						<span> <mark>유저</mark>일</span>
					</li>
					<li class="result-row"  data-id="2">
						<img class="result-row-img" src="/images/user.png">
						<span><mark>유저</mark>이</span>
					</li>
	
					<li class="result-row">일치하는 회원이 없습니다</li> -->
				</ul>
			</div>
			<!-- <img id="addTarget" th:src="@{images/addUser.png}" alt="addUser"> -->
			<ul class="chatting-list">
				<th:block th:each="room : ${roomList}">

					<li class="chatting-item" th:chat-no="${room.chattingNo}" th:target-no="${room.targetNo}">
						<div class="item-header">

							<img th:if="${room.targetProfile}" class="list-profile" th:src="${room.targetProfile}">

							<img th:unless="${room.targetProfile}" class="list-profile" src="/images/userProfile/basicUser.png">
							
						</div>
						<div class="item-body">
							<p>
								<span class="target-name" th:text="${room.targetNickName}">상대방 이름</span>
								<span class="recent-send-time" th:text="${room.sendTime}">메세지 보낸 시간</span>
							</p>
							<div>
								<!-- u -> html -->
								<th:block th:switch="${room.type}">
									<p th:case="0" class="recent-message" th:utext="${room.lastMessage}">메세지 내용</p>
									<p th:case="1" class="recent-message" th:text="|이미지|">메세지 내용</p>
									<p th:case="2" class="recent-message" th:text="|예약 내용|">메세지 내용</p>
								</th:block>
								<p th:if="${room.notReadCount > 0}" class="not-read-count" th:text="${room.notReadCount}"></p>
							</div>
						</div>
					</li>

				</th:block>

			</ul>

			<div class="chatting-content">
				<ul class="display-chatting">
					<!-- <li class="my-chat">
						<span class="chatDate">14:01</span>
						<p class="chat">가나다라마바사</p>
					</li>

					<li class="target-chat">
						<img src="/images/user.png">

						<div>
							<b>이번유저</b>	<br>
							<p class="chat">
								안녕하세요?? 반갑습니다.<br>
								ㅎㅎㅎㅎㅎ
							</p>
							<span class="chatDate">14:05</span>
						</div>
					</li> -->
				</ul>
			
				<div class="input-area">
					<input type="file" name="sendImage" id="sendImage" accept="image/*">
					<label for="sendImage"><img th:src="@{images/imageAdd.png}" alt="imageAdd"></label>
					<div>
						<textarea id="inputChatting" rows="3" placeholder="메세지를 입력하세요."></textarea>
						<!-- 이미지 보내기 버튼 추가 -->
						<!-- <button id="send">보내기</button> -->
						<img id="send" th:src="@{images/sendBtn.png}" alt="sendBtn">
					</div>
					
				</div>
			</div>
		</div>
	</main>

	<th:block th:replace="~{/common/footer}">header.html</th:block>
	<div class="modal">
        <span id="modalClose">&times;</span>
	<img id="modalImage">
	<!--------------------------------------- sockjs를 이용한 WebSocket 구현을 위해 라이브러리 추가 ---------------------------------------------->
	
	<!-- https://github.com/sockjs/sockjs-client -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script> -->
	<script th:inline="javascript">
		// 로그인한 회원 번호
		const loginUserNo = /*[[${session.loginUser?.userNo}]]*/ "로그인한 회원";
	</script>

	<script th:src="@{/js/profile/chatting/chatting.js}"></script>
</body>
</html>