/* 컬러 
: 컬러는 태그에 웬만하면 직접 지정해주세요
혹시 몰라서 클래스로 세팅 해놨습니다.*/
.colormain1 {
  background-color: #0f4957;
}
.colorsub1 {
  background-color: #b1d8da;
}
.colormain2 {
  background-color: #1c797d;
}
.colorsub1 {
  background-color: #ffe69a;
}

/* 무채색 컬러 */
.monocolor1 {
  background-color: #231f20;
}
.monocolor2 {
  background-color: #5c5c5c;
}
.monocolor3 {
  background-color: #c5c5c5;
}
.monocolor4 {
  background-color: #f0f0f0;
}
.modalcolor {
  background-color: #5c5c5c60;
}

/* ***** 메인 헤더 영역 : 로고 + 상단 아이콘 ***** */
header,
header .logo img {
  z-index: 100;
}

header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  top: 0;
}

header .main-search-box {
  position: absolute;
  left: 50%;
  transform: translateX(-150px);
}
header .logo {
  margin-left: 100px;
  user-select: none;
}
header .main-icons-box {
  display: flex;
  margin-right: 100px;
}

header .logo img {
  width: 87px;
}

header .main-search-box {
  width: 300px;
  height: 48px;
  border: 1px solid #c5c5c5;
  border-radius: 50px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .main-search-box button {
  font-size: 16px;
  background-color: transparent;
}

header .chatting-icon,
header .alarm-icon {
  margin-right: 20px;
}

/* ----- header 밑으로 길어지는 부분 ----- */

header .search-box-click-box {
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  top: 80px;

  display: none;
}

header .search-box-click {
  width: 840px;
  height: 60px;
  border: 1px solid #c5c5c5;
  border-radius: 50px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* left: 50%; transform: translateX(-420px); */
}

.search-box-click div {
  width: 88px;
  height: 40px;
  background-color: #1c797d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search-box-click-box button {
  font-size: 16px;
  background-color: transparent;
}

.search-box-click-box div {
  color: #fff;
}

/* ------------------------------------------------- */

.main-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.main-slide div {
  width: 360px;
  height: 200px;
  border-radius: 10px;
  background-color: #b1d8da;
  margin: 12px;
}

/* ------------------------------------------------- */

.categori-icon-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 135px;
}

.categori-icon-box > div {
  margin-left: 50px;
}

.categori-icon-box > div:first-child {
  margin-left: 0px;
}

.categori-icon-box img {
  width: 40px;
}

.categori-icon-box div {
  font-size: 12px;
}

/* ------------------------------------------------- */

/* main-post */

/* 게시글 감싸는 얘 */
.main-post {
  display: flex;
  justify-content: center;
  margin: auto 0;
  width: 100%;
  flex-wrap: wrap;
}

/* 게시글 */
.main-post-item {
  width: 296px;
  height: 296px;
  margin: 40px 16px 0px 16px;
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #f0f0f0;
}

.main-post p {
  font-size: 14px;
  margin-left: 20px;
}

/* ***** 메인 슬라이드 ***** */
/* Slider */
.slick-loading .slick-list {
  background: #5e2121 url('ajax-loader.gif') center center no-repeat;
}

/* Icons */
/* @font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
} */

/* Arrows */
/*  
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: rgb(26, 22, 22);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
*/
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* 슬라이드 */
.slider {
  margin: 80px auto 0px;
  width: 74%;
  /* height: 330px; */
  user-select: none;
}
.slider-item {
  position: relative;
  top: 63px;
}

.slider-item > a {
  display: block;
  width: 100%;
}
.slider-item > a > img {
  width: 100%;
  border-radius: 20px;
}
.slick-slide > div > div > a > .item-picture {
  margin: auto;
  width: 80%;
}
.slick-current + .slick-slide > div > div > a > .item-picture {
  width: 100%;
}
.slick-current + .slick-slide > div > div > a > .item-picture {
  position: relative;
  bottom: 60px;
}

/* 버튼, 슬라이드 도트 */
.slick-arrow {
  display: inline-block;
  position: absolute;
  top: 310px;
  justify-content: space-evenly;
  background-color: transparent;
}
.custom-slick-prev {
  left: 10%;
}
.custom-slick-next {
  right: 10%;
}
.slick-dots li button:before {
  background-color: #5286dc;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 20px;
}

/* -------------------------------------------------- */
