.main {
    width: 80vw;
    margin: auto;
    margin-top: 80px;
}

.board-container{
    width: 70vw;
    margin:auto;
    border-bottom: 1px solid black;
}


.board-name-area {
    text-align: center;
    font-size: 1.375rem;
    border-bottom: 1px solid black;
    padding: 20px;
    margin-top: 20px;
}

.title-area {
    margin-top:30px;
    text-align: center;
    font-size: 1.375rem;
}

.date-area {
    text-align: end;
    font-size: 0.875rem;
    color: #5C5C5C;
    margin-bottom: 15px;
    margin-right:15px;
}


.content-area {
    margin: 0 auto;
    border-top: 1px solid black;
    padding: 20px;
    font-size: 0;
}

.content-area>img {
    width: 100%;
}

.content {
    white-space: pre-wrap;
    font-size: 1rem;
    margin-bottom: 30px;
}

.btn-area{
    margin-bottom: 40px;
    text-align: center;
    padding: 40px;
}

.btn{
    width:224px;
    height: 52px;
    border-radius: 8px;
    font-size: 1rem;
}

#listBtn{
    background-color: #1C797D;
    color: white;
}

#updateBtn{
    background-color: white;
    color:#1C797D;
    border: 1px solid #1C797D;
}



@media screen and (max-width : 767px) {
    .main, .board-container {
        width: 95vw;
    }

    .content-area{
        padding: 5px;
    }

    .btn-area{
        padding : 0;
    }
    
    .btn {
        margin: 2px;
        width: 185px;
    }
}