<!DOCTYPE html>
<html lang="ko" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My information_guide</title>
    <link rel="stylesheet" th:href="@{/libraries/intl-tel-input/build/css/demo.css}"/>
    <link rel="stylesheet" th:href="@{/libraries/intl-tel-input/build/css/signUpIntlTelInput.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/myInfoGuide.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main/slide/jquery.min.js}"></script>
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>

    <div class="seller-profile-top" th:object="${session.loginUser}">

        <div class="profile-box"> <!-- profile-box (프로필 + 버튼) -->

            <div class="guide-banner"> <!-- 프로필 위 가이드 배너 -->
                <img th:if="${guide.superGuideFl=='N'}" th:src="@{/images/profile/guideBanner.png}" alt="guideBanner"> <!-- 일반 가이드 -->
                <img th:if="${guide.superGuideFl=='Y'}" th:src="@{/images/profile/superGuideBanner.png}" alt="superGuideBanner"> <!-- 슈퍼 가이드 -->
            </div>

            <div class="profile-left"> <!-- 프로필 왼쪽 박스 -->

                <form class="profile-img-box" th:action="@{/profile/profileEdit}" method="POST" enctype="multipart/form-data"> <!-- 프로필+이름 -->
                    <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                        <button class="profile-edit-btn">프로필 변경</button>
                        <img th:src="@{/images/profile/profile_delete.png}" alt="profile_delete" class="profile-delete">
                    </th:block>
                    <div class="profile-img">
                        <img th:unless="${user.profileImage}" th:src="@{/images/userProfile/basicUser.png}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->
                        <img th:if="${user.profileImage}" th:src="${user.profileImage}" alt="profileImage" class="img-content"> <!-- 프로필 사진 칸 -->

                        <th:block th:if="${session.loginUser?.userNo == user.userNo}">
                            <input type="file" name="profileImage" id="userProfileFile" accept="image/*">
                            <!-- 프로필 편집 버튼 -->
                            <img th:src="@{/images/profile/profileEdit.png}" alt="profileEditIcon" class="profile-edit-icon"> 
                        </th:block>
                    </div>
                    <a th:href="@{/profile/{userNo}(userNo=${user.userNo})}">
                        <h2 th:text="*{userName}" id="myInfoName">UserName</h2> <!-- 유저이름 -->
                    </a>
                </form>

                <div class="profile-seller-info"> <!-- 판매자 정보 (후기/평점/경력) -->
                    <div class="seller-info">
                        <h2 th:text="${guide.reviewCount}">0</h2>
                        <p>후기</p>
                    </div>
                    <div class="seller-info">
                        <h2 th:text="${guide.starAverage}">0.0</h2>
                        <p>평점</p>
                    </div>
                    <div class="seller-info">
                        <h2 th:utext="|${#strings.setSplit(guide.careerDate, ',')[0]}<span>(${#strings.setSplit(guide.careerDate, ',')[1]})</span>|">0</h2>
                        <p>경력</p>
                    </div>
                </div>

                <div class="user-email"> <!-- 유저 이메일 -->
                    <p th:text="*{userEmail}">UserEmail</p>
                </div>

            </div> <!-- // profile-left 프로필 왼쪽 박스 -->    
            
            <div class="seller-btn">
                <button onclick="location.href='/user/myPage/editInfo'"> <!-- 내 정보 수정 -->
                    <img th:src="@{/images/profile/myInfoEdit.png}" alt="">내 정보 수정
                </button>
                <button onclick="location.href='/profile/guideReservationSchedule'"> <!-- 예약 일정 확인 --> 
                    <img th:src="@{/images/profile/reservationCalender.png}" alt="">예약 일정 확인
                </button>
                <button onclick="location.href='/profile/guideReservation'"> <!-- 예약 내역 -->
                    <img th:src="@{/images/profile/reservationList.png}" alt="">예약 내역
                </button>
            </div>
        </div> <!-- // profile-box (프로필 + 버튼) -->
        <!-- --------------------------------- -->
        <div class="profile_right"> <!-- 프로필 오른쪽 박스 -->
            <div class="profile-my-info">
                <div class="profile-info-title font0">회원 정보</div>
                <!-- 실명 -->
                <div class="edit-info-area">
                    <div class="edit-info-top">
                        <div class="name font3" id="prevElem">이름</div>
                        <div class="edit font4">수정</div>
                        <div class="cancel font4 hidden">닫기</div>
                    </div>
                    <div class="ment font4" id="getName" th:text="*{userName}">유저이름</div>
                    <div class="changeMent font4 hidden">실제 이름(한글/영어)를 작성해주세요.</div>
                    <!-- 숨은 부분 -->
                    <div class="hidden-area">
                        <div class="namePart">
                            <div class="last-name">
                                <div class="inputGroup">
                                    <input type="text" id="lastName" autocomplete="off" required>
                                    <label for="lastName">성</label>
                                </div>
                                <div class="font4" id="nameMessage1"></div>
                            </div>
                            <div class="first-name">
                                <div class="inputGroup">
                                    <input type="text" id="firstName" autocomplete="off" required>
                                    <label for="firstName">이름</label>
                                </div>
                                <div class="font4" id="nameMessage2"></div>
                            </div>
                        </div>
                        <button id="nameBtn">저장</button>
                    </div>
                </div>
                <hr>
                <!-- 비밀번호 -->
                <div class="edit-info-area">
                    <div class="edit-info-top">
                        <div class="pw font3" id="pw">비밀번호</div>
                        <div class="edit font4">수정</div>
                        <div class="cancel font4 hidden">닫기</div>
                    </div>
                    <div class="ment font4"></div>
                    <div class="changeMent font4 hidden">기존 비밀번호를 확인 후 비밀번호를 변경해주세요.</div>
                    <!-- 숨은 부분(기존 비번 확인) -->
                    <div class="hidden-area">
                        <div class="inputGroup">
                            <input type="password" id="originPw" autocomplete="off" required>
                            <label for="orignPw">기존 비밀번호</label>
                        </div>
                        <button id="originPwChkBtn">확인</button>
                        <div class="changeMent font4 newPw-ment" id="newPwMent">영어 소문자, 숫자, 특수문자(@,$,!,%,*,?,&)를 포함한 10~20자의 비밀번호를 입력해주세요.</div>
                        <div class="newPw-part" id="newPwPart">
                            <div class="inputGroup" id="newPwPart">
                                <input type="password" id="password" autocomplete="off" required>
                                <label for="password">새 비밀번호</label>
                            </div>
                            <div class="font4" id="pwMessage"></div>
                            <div class="inputGroup">
                                <input type="password" id="checkPassword" autocomplete="off" required>
                                <label for="checkPassword">새 비밀번호 확인</label>
                            </div>
                            <div class="font4" id="chkPwMessage"></div>
                            <button id="changePwBtn">저장</button>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 전화번호 -->
                <div class="edit-info-area">
                    <div class="edit-info-top">
                        <div class="tel font3">전화번호</div>
                        <div class="edit font4">수정</div>
                        <div class="cancel font4 hidden">닫기</div>
                    </div>
                    <div class="ment font4" id="getUserTel" th:text="*{userTel}"></div>
                    <div class="changeMent font4 hidden">예약이 확정된 가이드와 가이두가 연락할 수 있는 전화번호를 입력하세요.</div>
                    <!-- 숨은 부분 -->
                    <div class="hidden-area">
                        <div class="inputGroup">
                            <input type="hidden" class="county-no" id="countryNo" name="userTel"/>
                            <input id="phone" name="userTel" type="text" autocomplete="off" required/>
                            <input type="hidden" class="county-code" id="countryCode" name="countryCode"/>
                        </div>
                        <div class="font4" id="phoneMessage"></div>
                        <button type="button" id="telBtn">저장</button>
                    </div>
                </div>
                <hr>
                <!-- 구사 가능 언어 -->
                <div class="edit-info-area">
                    <div class="edit-info-top">
                        <div class="emg font3">구사 가능 언어</div>
                        <div class="edit font4">수정</div>
                        <div class="cancel font4 hidden">닫기</div>
                    </div>
                    <div class="ment font4" id="getLanguageSkill" th:text="*{languageSkill}"></div>
                    <div class="changeMent font4 hidden">가이드 시 투어리스트와 번역기 없이 원활히 대화 할 수 있을 정도의 구사 가능 언어를 저장해주세요. </div>
                    <!-- 숨은 부분 -->
                    <div class="hidden-area">
                        <div class="inputGroup">
                            <input type="text" id="languageSkill" autocomplete="off" required>
                            <label for="languageSkill">구사 가능 언어</label>
                        </div>
                        <div class="font4" id="languageSkillMessage"></div>
                        <button type="button" id="skillBtn">저장</button>
                    </div>
                </div>
                <hr>
                <!-- 회원 탈퇴 링크 -->
                <div class="secession-modal-open" id="show">탈퇴하기</div>
                <!-- 탈퇴 모달 -->
                <div class="modal-secession" id="modalSecession">
                    <div class="window" id="modalWindow">
                        <div class="popup-secession">
                            <div class="modal_top">
                                <div class="modal_title font3">회원 탈퇴</div>
                                <button id="close" class="close">&times;</button>
                            </div>
                            <hr class="modal-hr">
                            <div class="modal_body">
                                <div class="modal_body_title font1">정말 탈퇴하시겠습니까?</div>
                                <div class="modal_body_content font3">탈퇴 시 모든 정보가 삭제되며, 복구되지 않습니다.<br>탈퇴하시려면 현재 비밀번호를 입력해주세요.</div>
                                <!-- ajax -->
                                <div>
                                    <input type="password" id="chkPw" class="modal_input_secession font4" placeholder="Enter your password">
                                    <!-- <div class="inputError font5"></div> -->
                                    <div class="secession-btn-area">
                                        <button class="secession-btn font3" id="secessionUserBtn" type="button">탈퇴</button>
                                        <button class="secession-cancel-btn font3" id="close2" type="button">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script th:src="@{/libraries/intl-tel-input/build/js/intlTelInput.js}"></script>
    <script th:inline="javascript">

        // 국제 번호 intlTel
        var input = document.querySelector("#phone");

        var iti = window.intlTelInput(input, {
            allowDropdown: false,
            autoInsertDialCode: true,
            separateDialCode: true,
            initialCountry: "kr",
            utilsScript: "/libraries/intl-tel-input/build/js/utils.js"
        });

        const telBtn = document.getElementById("telBtn");

        // 번호 수정 버튼 누르면
        telBtn.addEventListener("click",()=>{
            // 국제 나라 번호, 국가 코드 가져오기 (name속성 추가)
            // 국가 코드(문자열)
            const selectedCountryData = iti.getSelectedCountryData();
            const countryCodeString = selectedCountryData.iso2;
            // 보이지 않는 input에 value 국가 코드 대입
            const countryCode = document.getElementById("countryCode");
            countryCode.value = countryCodeString;
            
            // 국제 번호 앞자리
            const countryNoString = document.querySelector(".iti__selected-dial-code").innerText;
            const countryNo = document.getElementById("countryNo");
            countryNo.value = countryNoString;

            console.log(countryCodeString);
            console.log(countryNoString);
            console.log(phone.value);

    });

        const userType = /*[[${session.loginUser?.userType}]]*/ "유저 타입";
        </script>
    <script th:src="@{/js/myPage/myInfoGuide.js}"></script>
    <script th:src="@{/js/profile/profileEdit.js}"></script>  
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>